.starFav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.starImg{
  background: #252f32;
}
.photoBlock.watched, .buttons.watched {
  filter: grayscale(0.8);
}

.catalog-item.watched {
  background-color: #e4e3e3;
}

.mobile-blocks {
  display: flex;
}

.inner-mobile-block {
  flex: 0 0 50%;
  min-height: 350px;
  height: 36vh;
  /*border-bottom: 1px #bdc0c1 solid;*/
}

.favourite {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.fav-block {
  width: 25px;
  height: 25px;
}

.fav-block input[type="radio"] {
  display: none;
}

.label_favourite {
  display: block;
  width: 25px;
  height: 25px;
  background: url("../../../../assets/bigStar1.png") no-repeat 50% 0;
  cursor: pointer;
}

.fav-block .label_favourite:hover, .fav-block .label_favourite:hover ~ .label_favourite, .fav-block input[type="radio"]:checked ~ .label_favourite {
  background-position: 50% -25px;
}

.user {
  display: flex;
  flex: 0 0 20%;
  font-size: 12px;
}

.userInfo {
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 10px;
  display: none;
  align-items: center;
  height: 55px;
  width: 100%;
  position: relative;
  bottom: -173px;
  left: 0;
  background-color: rgba(38, 47, 50, 0.85);
  color: white;
}

.user-photo {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  flex: 0 0 10%;
}

.rating {
  display: flex;
  flex-grow: 1;
}

.rating_block {
  width: 20px;
  height: 15px;
  margin-right: 15px;
}

.rating_block input {
  margin-right: 3px;
}

.rating_block input[type="radio"] {
  display: none;
}

.label_rating {
  float: right;
  display: block;
  width: 15px;
  height: 15px;
  background: url("../../../../assets/staruser.png") no-repeat 50% 0;
  cursor: pointer;
  margin-right: 2px;
}

.rating_block .label_rating:hover, .rating_block .label_rating:hover ~ .label_rating, .rating_block input[type="radio"]:checked ~ .label_rating {
  background-position: 50% -15px;
}

.catalog-item {
  -webkit-overflow-scrolling: touch;
  width: 23vw;
  min-width: 350px;
  max-width: 440px;
  min-height: 300px;
  border-bottom: 1px #bdc0c1 solid;
  /*overflow-y: auto;*/
}

.inner-add-top {
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  color: #5E5E5E;
  padding: 16px 0 0 30px;
  font-size: 14px;
  font-weight: bold;
}
.top-block {
  height: 6vh;
  width: calc(100% - 30px);
  display: flex;
  padding-left: 30px;
}

.street {
  font-size: 14px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  color: #3b4345;
}

.price {
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  color: #3b4345;
}

.price img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.photoBlock {
  width: 23vw;
  min-width: 350px;
  max-width: 440px;
  height: 20vh;
  min-height: 160px;
  background-size: 100% auto;
  background-position-y: center;
}
.bottom-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 12px;
  color: #5E5E5E;
  font-family: Cadillac, sans-serif;
  letter-spacing: 0;
  line-height: 20px;
}

.rooms {
  font-weight: bold;
}

.topPart {
  display: flex;
  margin: 10px 0 15px 30px;
}

@media all and (max-width: 1540px) {
  .price {
    font-size: 18px;
  }
}

@media all and (max-width: 1200px) {
  .top-block {
    min-height: 55px;
  }

  .catalog-item {
    min-height: 350px;
  }

  .photoBlock {
    min-height: 200px;
  }

  .street {
    flex: 0 0 50%;
  }

  .price {
    flex: 0 0 50%;
    font-size: 17px;
  }

  .rating_block {
    margin-right: 15px;
  }

  .user {
    flex: 1 0 35%;
  }
}

@media all and (max-width: 1050px) {
  .catalog-item {
    width: unset;
    min-width: unset;
    max-width: unset;
  }

  .rating_block {
    margin-right: 10px;
  }

  .label_rating {
    margin-right: 1px;
  }

  .top-block {
    padding-left: 25px;
    width: calc(100% - 25px);
  }

  .topPart {
    margin: 10px 0 15px 15px;
  }

  .photoBlock {
    background-size: 100% auto;
  }

  .street {
    margin-left: 0;
  }
}

@media all and (max-width: 700px) {
  .rating {
    flex: 0 0 35%;
  }
}

@media all and (max-width: 650px) {
  .photoBlock {
    width: 100vw;
    max-width: 100vw;
    min-width: unset;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-y: 50%;
  }

  .price {
    padding: 0;
    flex: unset;
    font-size: 16px;
    margin-right: 16px;
  }

  .street {
    margin-left: 0;
    flex: unset;
    flex-grow: 1;
    font-weight: bold;
    text-transform: uppercase;
  }

  .top-block {
    padding-left: 20px;
  }

  .catalog-item {
    width: 100vw;
    max-width: 100vw;
  }

  .topPart {
    margin: 10px 0 15px 20px;
  }

  .bottomPart {
    margin-left: 25px;
  }

  .bottomPart img {
    padding: 0 6px;
  }

  .userInfo {
    bottom: -75px;
  }

  .info {
    font-size: 14px;
  }
}
