<div class="catalog-item" [class.watched]="watched == true" [class.margin-bottom-full]="mode == 'full'" (window:resize) = "changeSize(); onResize()">
  <div [class.mobile-blocks]="mode == 'middle'">
    <div [class.inner-mobile-block]="mode == 'middle' && widthDocument < 1050">
      <div class="top-block" *ngIf="(mode == 'short') || (mode == 'middle') || (mode == 'full')">
        <div class="street"><span>ул. {{item.address}} {{item.house_num}}</span></div>
        <div class="price"><span style="margin-right: 8px">₽</span><span>{{item.price}}/ <span style="font-size:12px;    position: relative;
    left: -3px;">мес.</span></span></div>
      </div>
      <div *ngIf="(mode == 'middle') || (mode =='full')">
        <div class="photoBlock"  id="img{{id}}" [class.watched]="watched == true" [class.historyOpen]="historyOpen == true">
          <div class="userInfo">
            <div class="user-photo">
              <img src="../../../../assets/photo.PNG" width="40px" height="40px"/>
            </div>
            <div class="user">
              <span>Иванов Иван</span>
            </div>
            <div class="rating">
              <div class="rating_block" style="margin-left: 15px">
                <input name="rating" value="5" id="rating_5" type="radio" />
                <label for="rating_5" class="label_rating"></label>
              </div>
              <span style="width: 30px; font-size: 14px">4,25</span>
            </div>
            <div class="favourite">
              <div class="fav-block">
                <input name="favourite" value="1" id="favourite_1" type="radio" />
                <label for="favourite_1" class="label_favourite"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-block">
          <div class="topPart">
            <div class="info">
              <div class="rooms"><span>{{item.roomsCount}} комнатная квартира</span></div>
              <div><span>{{item.floor}}/{{item.floorsCount}} этаж </span><span> {{item.squareTotal}}кв.м</span></div>
              <div>Без комиссии</div>
            </div>
            <div class="starFav">
              <img class="starImg" *ngIf="watched !== true" src="../../../../assets/4-4.png" width="35px">
              <img class="starImg" *ngIf="watched == true" src="../../../../assets/4-4%20watched.png" width="35px">
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-contact [class.inner-mobile-block]="mode == 'middle' && widthDocument < 1050" *ngIf="widthDocument < 1050  && widthDocument > 650 && mode == 'middle' && length == false" [size]="'small'"></app-contact>
  </div>
</div>
