<!--<app-menu></app-menu>-->
<div class="main right-main close-pay">
  <div class="right-block addRight"  [class.addRight]="itemOpen">
    <header class="header1">
      <div class="top-logo-block1">
        <a class="logo-mobile1" style="outline: none;text-decoration: none"
           href="//makleronline.net/#/m">
          <div>MAKLERONLINE</div>
          <div class="logo-mobile-title1">ГРУППА КОМПАНИЙ ZAVRUS</div>
        </a>
        <div class="hideMenu" (click)="blockCloseFunc('pay');">
          <div class="barExit1"></div>
          <div class="barExit2"></div>
        </div>
      </div>
    </header>
    <!--<div class="topBlock">-->
      <!--<div class="logo-mobile contact-menu-info" style="    margin-left: 30px;-->
    <!--color: #8F8F8F;" [class.close]="logged_in">-->
        <!--<div>MAKLERONLINE</div>-->
        <!--<div class="logo-mobile-title">ГРУППА КОМПАНИЙ ZAVRUS</div>-->
      <!--</div>-->
      <!--<div class="contact-block contact-menu-info" [class.close]="!logged_in">-->
        <!--<div><img src="../../../assets/unnamed.png" width="30px" height="30px"></div>-->
        <!--<div class="contact-info-top">-->
          <!--<div>%Username%</div>-->
          <!--<div>{{user}}</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="exitButton" *ngIf="itemOpen" (click)="blockCloseFunc('pay')">-->
        <!--<div class="barMenu1"></div>-->
        <!--<div class="barMenu2"></div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="account-balance font">
      <div>
        <span style="margin-right: 15px">ВАШ БАЛАНС:</span>
        <span style="font-size: 26px">{{balance}} р</span>
      </div>
      <div>
        <span style="margin-right: 30px">ОСТАЛОСЬ:</span>
        <span style="font-size: 26px">{{resDay}}</span><span style="margin-left: 5px;margin-right: 15px">ДНЕЙ</span>
        <span style="font-size: 26px">{{resTime}}</span>
      </div>
    </div>
    <!--<span class="font" style="font-size: 16px;">ВЫБЕРИТЕ КАТЕГОРИЮ</span>-->
    <div class="add-button" [class.open]="access" (click)="access = !access" style="margin-top: 30px;">
      <span>ДОСТУП К КОНТАКТАМ</span>
      <div class="bottomWordInButton">
        <span class="button-bottom">ПЛАТИТЕ ТОЛЬКО ЗА АРЕНДУ</span>
      </div>

    </div>
    <div class="additional-block" [class.open]="access">
        <div class="button-box">
            <div [class.selected]="selectedButton[0]?.block == '0-0'" (click)="payment('0-0', 'type_one', '15000')"><p>1 ДЕНЬ</p><span>150 Р</span></div>
            <div [class.selected]="selectedButton[0]?.block == '0-1'" (click)="payment('0-1', 'type_two', '30000')"><p>3 ДНЯ</p><span>300 Р</span></div>
            <div [class.selected]="selectedButton[0]?.block == '0-2'" (click)="payment('0-2', 'type_three', '56000')"><p>НЕДЕЛЯ</p><span>560 Р</span></div>
            <div [class.selected]="selectedButton[0]?.block == '0-3'" (click)="payment('0-3', 'type_four', '150000')"><p>МЕСЯЦ</p><span>1500 Р</span></div>
        </div>
    </div>
    <div class="add-button" [class.open]="publish" (click)="publish = !publish">
      <span>НАНЯТЬ МЕНЕДЖЕРА</span>
      <div class="bottomWordInButton">
        <span class="button-bottom">ВКЛЮЧИТЬ ПОЛНЫЙ ПАКЕТ УСЛУГ</span>
      </div>

    </div>
    <div class="additional-block" [class.open]="publish">
      <div class="button-box">
        <div><p>1 ДЕНЬ</p><span>150 Р</span></div>
        <div><p>3 ДНЯ</p><span>300 Р</span></div>
        <div><p>НЕДЕЛЯ</p><span>560 Р</span></div>
        <div><p>МЕСЯЦ</p><span>1500 Р</span></div>
      </div>
    </div>
    <div class="add-button"  [class.open]="makler" (click)="makler = !makler">
      <span>ОПУБЛИКОВАТЬ ОБЪЯВЛЕНИЕ</span>
      <div class="bottomWordInButton">
        <SPAN class="button-bottom">БЫСТРО СДАТЬ НЕДВИЖИМОСТЬ</SPAN>
      </div>

    </div>
    <div class="additional-block" [class.open]="makler">
      <div class="button-box">
        <div><p>1 ДЕНЬ</p><span>150 Р</span></div>
        <div><p>3 ДНЯ</p><span>300 Р</span></div>
        <div><p>НЕДЕЛЯ</p><span>560 Р</span></div>
        <div><p>МЕСЯЦ</p><span>1500 Р</span></div>
      </div>
    </div>
    <div class="add-button" [class.open]="manager" style="border-bottom: 1px solid #a2a0a0" (click)="manager = !manager">
      <span>СЕРВИС УМНЫЙ МАКЛЕР</span>
      <div class="bottomWordInButton">
        <span class="button-bottom">ИНСТРУМЕНТ ДЛЯ РАБОТЫ МАКЛЕРА</span>
      </div>

    </div>
    <div class="additional-block" [class.open]="manager">
      <div class="button-box">
        <div><p>1 ДЕНЬ</p><span>150 Р</span></div>
        <div><p>3 ДНЯ</p><span>300 Р</span></div>
        <div><p>НЕДЕЛЯ</p><span>560 Р</span></div>
        <div><p>МЕСЯЦ</p><span>1500 Р</span></div>
      </div>
    </div>
    <div class="bottom-text-info">
      <span>
        <span style="font-weight: bold">ВНИМАНИЕ!</span> Для платежей мы используем безопасный сервис Яндекс Касса.
        Все оплаты происходят официально и через защищенные от мошенников банковские страницы,
        согласно 54 Федеральному закону после оплаты Вы получаете электронный чек.
      </span>
    </div>
  </div>
</div>
