.top-logo-block1{
  display: flex;
  width: 100%;
}
.header1{
  width: 100vw;
  height: 90px;
  display: flex;
  background-color: white;
  transition: 0.3s;
}
.logo-mobile1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #252f32;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.05em;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 15px;
}
.logo-mobile-title1{
  font-size: 8px;
}
.hideMenu{
  position: relative;
  right: calc(-50% + 60px);
  width: 30px;
  height: 30px;
  transition: .03s;
  margin: 35px 0 15px;
}
.barExit1, .barExit2{
  width: 25px;
  height: 1px;
  background-color: #8F8F8F;
  margin: 3px 0;
}
.barExit1{
  transform: rotate(45deg) translate(13px,6px);
}
.barExit2{
  transform: rotate(-45deg) translate(-3px, 10px);
}
.contact-block{
  display: flex;
  margin-left: 30px;
  color: #232f32;
  font-family: Cadillac, sans-serif;
  font-size: 12px;
  flex-grow: 1;
}
.bottom-text-info{
  font-family: Cadillac, sans-serif;
  font-size: 12px;
  color: #252f32;
  margin: 30px;
}
.contact-info-top{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 5px;
}
.contact-menu-info.close{
  display: none;
}
.logo-mobile{
  display: flex;
  flex-direction: column;
  color: #252f32;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.05em;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 10px;
  flex-grow: 1;
}
.logo-mobile-title{
  font-size: 8px;
}
.topBlock{
  border-bottom: 1px solid #d3d5d6;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 90px;
}
.barMenu1, .barMenu2{
  width: 20px;
  height: 1px;
  background-color: #8F8F8F;
  margin: 3px 0;
}
.barMenu1{
  transform: rotate(45deg);
}
.barMenu2{
  transform: rotate(-45deg) translate(3px, -3px);
}
.exitButton{
  position: relative;
  top: 5px;
  right: 36px;
}
.rating-count{
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  color: #262f32;
  font-size: 18px;
}
.user-info{
  display: flex;
  transition: 0.4s;
  flex-direction: column;
  line-height: 20px;
}
.text{
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 12px;
  color: #677578;
  width: 130px;
}
.line{
  border-bottom: 1px solid #d3d5d6;
  width: auto;
  margin: 10px 0 30px 0;
}
.line.top{
  max-width: 285px;
  width: 60vw;
}
.s_rating{
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.s_rating_block{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.s_rating_block input{
  margin-right: 3px;
}
.s_rating_block input[type="radio"]{
  display: none;
}
.s_label_rating{
  float: right;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../../../../assets/star.png") no-repeat 50% 0;
  cursor: pointer;
  margin-right: 2px;
}
.s_rating_block .s_label_rating:hover,
.s_rating_block .s_label_rating:hover ~ .s_label_rating,
.s_rating_block input[type="radio"]:checked ~ .s_label_rating {
  background-position: 50% -20px;
}
.contact-info{
  display: flex;
  width: calc(100vw - 60px);
  margin-top: 30px;
}
.contact-photo-rating{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-user-info{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 10px;
}
.button-box{
  display: flex;
  flex-direction: column;
  width: auto;
  font-size: 14px;
}
.button-box p{
  width: 75px;
}
.button-box div{
  height: 50px;
  display: flex;
  align-items: center;
}
.additional-block{
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  width: calc(100% - 60px);
  padding: 0 30px;
  display: none;
  flex-direction: column;
}
.additional-block.open{
  display: flex;
}
.button-bottom{
  font-size: 10px;
  width: fit-content;
}
.add-button{
  padding-left: 20px;
  width: calc(100vw - 60px);
  margin-bottom: 5px;
  font-size: 14px;
  font-family: Cadillac,sans-serif;
  letter-spacing: .05em;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #252f32;
}
.bottomWordInButton{
  margin-top: 6px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px
}
.plusExt{
  margin-left: 20px;
  margin-right: 15px;
}
.bar1, .bar2{
  width: 20px;
  height: 2px;
  background-color: #9d8c6c;
  transition: 0.4s;
  border-radius: 2px;
}
.bar2{
  transform: rotate(90deg) translate(-2px,0px);
}
.change .bar2 {
  display: none;
}
.line{
  border-bottom: 1px solid #d3d5d6;
  width: auto;
}
.line.add{
  margin: 0 0 15px 0;
}
.account-balance{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding: 30px 0 0 5vw;
  background-color: #f6f6f6;
  width: 93vw;
}
.main{
  display: flex;
  overflow-y: scroll;
  /*z-index: 1500;*/
  position: relative;
  transition: 0.3s;
  -webkit-overflow-scrolling: touch;
}
.font{
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  color: #252f32;
}
.right-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  width: 100vw;
  max-width: unset;
  height: max-content;
  min-width: unset;
  background-color: white;
}
.main::-webkit-scrollbar { width: 0;height: 0; }
.right-block::-webkit-scrollbar { width: 0;height: 0; }
@media all and (max-width: 350px){
  .line.top{
    width: 55vw;
  }
  .account-balance{
    margin-left: unset;
  }
}
