<app-menu (Logging)="changeLog($event)" (Paying)="changePay($event)" [headerPos]="headerPos"
          (openMenu)="menuMode($event)" [blockOpenInput]="blockInputOpen"
          [class.close]="blockMode == 'item' && blockInputOpen != 'open_login' && blockInputOpen != 'open_pay'"
          ></app-menu>
<!--(blockInputOpen != 'open_item' && blockMode != 'item') || (blockInputOpen != 'open_menu' && blockMode == 'item')-->
<ng-container *ngIf="menuOpen == false">
    <div class="find-block fil" [style.top.px]="findPadding" *ngIf=" blockMode == 'filters'">{{filterText}}</div>
    <div class="find-block"  [style.top.px]="findPadding"
         *ngIf="!historyActive && (activeButton == 'items' || activeButton == 'obj') && !itemOpen && blockMode != 'filters' && !menuOpen">
        <input type="text" class="input_line" placeholder="Введите поисковый запрос" (click)="ymFunc('find-offer-mobile');"
               [(ngModel)]="searchQuery" (keyup)="searchStringChanged($event)">
        <div class="find_icon_block">
            <div class="find_icon"></div>
        </div>
        <div class="starFav" >
            <img (click)="blockMode = 'items'" class="starImg full"
                 [class.open]="blockMode == 'fav'"
                 src="../../../../assets/4-4%20watched.png"  width="24px">
            <img (click)="ymFunc('fav-offer-mobile');get_favObjects();blockMode = 'fav'" class="starImg full"
                 [class.open]="blockMode == 'items'"
                 src="../../../../assets/4-4.png" width="24px">
        </div>
    </div>
    <div>
        <div class="bottom-buttons1" *ngIf="blockMode == 'item' && (logged_in == 'false' || logged_in == false)" (click)="ymFunc('contacts-offer-mobile');blockInputOpen = 'open_login'">
            <a class="show-contact-button" style=" text-decoration: none">
                <span>КОНТАКТЫ</span>
            </a>
        </div>
        <div class="bottom-buttons1" *ngIf="blockMode == 'item' && (logged_in == 'true' || logged_in == true) && (payed == 'false' || payed == false)"
             (click)="ymFunc('contacts-offer-mobile');blockInputOpen = 'open_pay'">
            <a class="show-contact-button" style=" text-decoration: none">
                <span>КОНТАКТЫ</span>
            </a>
        </div>
        <div class="bottom-buttons1" *ngIf="blockMode == 'item' && (logged_in == 'true' || logged_in == true) && (payed == 'true' || payed == true)">
            <a class="show-contact-button" style=" text-decoration: none;color: white;background-color: #00695C"
               [href]="'tel:7' + item?.phoneBlock?.main">
                <img src="../../../../assets/phone-white.png" width="30px" height="30px">
                <span style="margin-left: 20px;">+7 {{item?.phoneBlock?.main | mask: '(000) 000-0000'}}</span>
            </a>
        </div>
        <div class="bottom-buttons1" *ngIf="blockMode == 'filters' && filtersChosen == 'empty' && activeButton != 'request'" (click)="ymFunc('show-offer-mobile');get_list(countOfItems, 'filter');this.blockMode = 'items';activeButton = 'items'">
            <div class="show-contact-button" style="background-color: #252f32">
                <span>ПЕРЕЙТИ В СПИСОК</span>
            </div>
        </div>
        <div class="bottom-buttons1" *ngIf="blockMode == 'filters' && filtersChosen == 'chose' && activeButton != 'request'" (click)="ymFunc('show-offer-mobile');get_list(countOfItems, 'filter');this.blockMode = 'items';activeButton = 'items'">
            <div class="show-contact-button" style="background-color: #252f32">
                <span>ПОКАЗАТЬ <span class="numObj" id="numObj">{{countOfItems}}</span> ПРЕДЛОЖЕНИЙ</span>
            </div>
        </div>
        <div class="bottom-buttons1" *ngIf="blockMode == 'filters' && activeButton == 'request'">
            <div class="show-contact-button" style="background-color: #252f32">
                <span>СОХРАНИТЬ ЗАЯВКУ</span>
            </div>
        </div>
        <a class="bottom-buttons1 hideFilterButton" *ngIf="blockMode == 'items'" (click)="ymFunc('filter-offer-mobile');this.blockMode = 'filters';openBlock('filters')"
           [style.bottom.px]="bottomPxButton">
            <div class="show-contact-button" style="background-color: #252f32">
                <span>ПЕРЕЙТИ К ФИЛЬТРАМ</span>
                <div class="exitButton">
                    <div class="barMenu1"></div>
                    <div class="barMenu2"></div>
                </div>
            </div>
        </a>
        <div class="main-objects"  [class.item-full-open]=" blockMode == 'item'"  [style.padding-top.px]="mainObjectsPadding"
             *ngIf="blockInputOpen != 'open_login' && blockInputOpen != 'open_pay'">
            <div class="inner-left">
                <div class="map" [class.open]="mapOpen"
                     *ngIf="this.blockMode == 'map';">
                    <agm-map class="map-inner" [latitude]="lat" [longitude]="lng" [zoom]="15" [disableDefaultUI]="true"
                             [styles]="styles">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
                </div>
                <app-item (closeItem)="close('item', item.id)"
                          [class.open]="blockMode == 'item' && (blockInputOpen =='open_menu' || blockInputOpen == 'close_menu')"
                          *ngIf="blockMode == 'item' && (blockInputOpen =='open_menu' || blockInputOpen == 'close_menu')"
                          [id]="item.id"
                          (similarItem)="similarObj($event)" (showInfoEvent)="info($event)" [loggingMode]="logged_in"
                          [payingMode]="payed"
                          (favouriteItemEvent)="addFav($event)" (contactPos)="setContactPos($event)" [item]="item"
                          [mode]="'full'"
                          [similarOpen]="false">
                </app-item>

                <div class="filters open" *ngIf="this.blockMode != 'map'" (touchstart)="touchstart($event)"
                     (touchend)="touchend($event)">
                    <div class="scroll-items open" (touchend)="listScroll($event)"
                         *ngIf="blockMode == 'items'">
                        <item-middle *ngFor="let obj of items, let i = index" [index]="i" [item]="obj" [loggingMode]="logged_in" [payingMode]="payed" [watched]="watchedItems.indexOf(i) != -1"
                                     (favItemMode)="changeFav($event, obj)" (click)="checkClick(i,obj, $event, 'list')"></item-middle>
                    </div>
                    <div class="scroll-items open blur fav-list"
                         *ngIf="blockMode == 'fav'">
                        <ng-container *ngFor="let obj of favItems, let i = index">
                            <item-middle *ngIf="obj.id != null" [index]="i" [item]="obj" [loggingMode]="logged_in" [payingMode]="payed" (showBlock)="openBlock($event)"
                                         (favItemMode)="changeFav($event, obj)" (click)="checkClick(i,obj, $event, 'fav')"></item-middle>
                        </ng-container>
                    </div>
                    <div [style.height]="blockMode == 'filters' ? 'max-content' : '0'" [style.max-height]="blockMode == 'filters' ? 'max-content' : '0'" [style.overflow]="blockMode == 'filters' ? 'auto' : 'hidden'">
                        <app-filters-mobile class="filters-box" (coordsPol)="getCoords($event)"
                                            [initCoords]="initCoords" [initZoom]="initZoom"
                                            [class.open]="blockMode == 'filters'" (sendFilters)="setFilters($event)"
                                            (sendSort)="setSort($event)" (sendEquipment)="setEquipment($event)"
                                            (countOfItems)="changeCount($event)"
                                            (sendMainButtonActive)="getFiltersClicked($event)"
                                            (changedCenter)="initCoords = $event"
                                            (changedZoom)="initZoom = $event"
                                            (filtersChosen)="filtersChosen = $event"></app-filters-mobile>
                    </div>

                    <div *ngIf="blockMode == 'contact'">
                        <app-contact [itemOpen]="true" (checkPay)="info($event)" (blockClose)="close($event,'')"></app-contact>
                    </div>
                    <div *ngIf="blockMode == 'egrn'">
                        <app-egrn [item]="item" [itemOpen]="true" (blockClose)="close($event,'')"></app-egrn>
                    </div>

                    <div class="history" *ngIf="blockMode == 'history'">
                        <div class="inner-history-objects">
                            <div class="scroll-items open">
                                <div style="display: flex;justify-content: center;    margin-top: 10px;">
                                    <div class="history-obj"
                                         style="font-size: 15px;margin-top: 5px;margin-bottom: 10px;text-align: center;padding: 0;">
                                        CЕГОДНЯ
                                    </div>
                                </div>
                                <div
                                    style="border-bottom:1px solid #9d8c6c;width: calc(100% - 50px);margin: 10px 25px;"></div>
                                <app-item *ngFor="let it of historyItems, let i = index"
                                          style="border-bottom: 1px solid #d3d5d6" [historyOpen]="true"
                                          [loggingMode]="logged_in" [payingMode]="payed" [historyId]="i" [id]="it.id"
                                          [routerLink]="['../../objects', 'item']" [item]="it" [mode]="'middle'">
                                </app-item>
                                <div class="button-history">ЗА ВСЕ ВРЕМЯ</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
