<app-menu (Logging)="changeLog($event)" (Paying)="changePay($event)" [headerPos]="headerPos"
          (openMenu)="menuMode($event)" [blockOpenInput]="blockInputOpen"
          [class.close]="(blockMode == 'item' || blockMode == 'request_items') && blockInputOpen != 'open_login' && blockInputOpen != 'open_pay'" (personInfo)="person = $event"
          ></app-menu>
<!--(blockInputOpen != 'open_item' && blockMode != 'item') || (blockInputOpen != 'open_menu' && blockMode == 'item')-->
<ng-container *ngIf="blockInputOpen == 'close_menu'">
    <div class="find-block fil forBlur" id="find_filter" [style.top.px]="findPadding" *ngIf=" blockMode == 'filters' && blockInputOpen != 'open_login'
     && blockInputOpen != 'open_pay' && blockInputOpen != 'open_menu'">{{filterText}}</div>
    <div class="find-block forBlur"  [style.top.px]="findPadding" style="    padding-left: 0;width: 100%;"
         *ngIf="(activeButton == 'items' || activeButton == 'obj' || blockMode == 'request_list' || blockMode == 'request_items') && blockMode != 'filters' && blockMode != 'item' && blockMode != 'item_request'">
        <div class="find_icon_block" (click)="setFocus('find_input_filter')">
            <div class="find_icon"></div>
        </div>
        <input type="text" id="find_input_filter" class="input_line"  (click)="ymFunc('find-offer-mobile');"
               [(ngModel)]="searchQuery" (keyup)="searchStringChanged($event)">

        <div class="starFav filter" style="margin-right: 15px" *ngIf="blockMode != 'request_list' && blockMode != 'request_items'">
            <img src="../../../../assets/list-button1.png" width="30" height="30" (click)="ymFunc('filter-offer-mobile');this.blockMode = 'filters';openBlock('filters')">
        </div>
        <div class="starFav"  *ngIf="blockMode != 'request_list' && blockMode != 'request_items'">
            <img (click)="blockMode = 'items'" class="starImg full"
                 [class.open]="blockMode == 'fav'"
                 src="../../../../assets/4-4%20watched.png"  width="24px">
            <img (click)="ymFunc('fav-offer-mobile');get_favObjects();blockMode = 'fav'" class="starImg full"
                 [class.open]="blockMode == 'items'"
                 src="../../../../assets/4-4.png" width="24px">
        </div>
    </div>
    <div class="forBlur">
        <div class="bottom-buttons1" *ngIf="blockMode == 'item' && (logged_in == 'false' || logged_in == false) && blockInputOpen.indexOf('open') == -1" (click)="ymFunc('contacts-offer-mobile');showContact()">
                <a class="show-contact-button" style=" text-decoration: none;background-color: #24780A;color: white">
                <span>ПОКАЗАТЬ КОНТАКТЫ</span>
            </a>
        </div>
        <div class="bottom-buttons1" *ngIf="blockMode == 'item' && (logged_in == 'true' || logged_in == true) && (payed == 'false' || payed == false) && blockInputOpen.indexOf('open') == -1"
             (click)="ymFunc('contacts-offer-mobile');showContact()">
            <a class="show-contact-button" style=" text-decoration: none;background-color: #24780A;color: white">
                <span>ПОКАЗАТЬ КОНТАКТЫ</span>
            </a>
        </div>
        <div class="bottom-buttons1" *ngIf="blockMode == 'item' && (logged_in == 'true' || logged_in == true) && (payed == 'true' || payed == true)
                             && blockInputOpen.indexOf('open') == -1">
            <a class="show-contact-button" style=" text-decoration: none;color: white;background-color: #00695C"
               [href]="'tel:7' + telephone">
                <img src="../../../../assets/phone-white.png" width="30px" height="30px">
                <span style="margin-left: 20px;font-family: Stolzl, sans-serif !important;font-size: 16px !important;font-weight: bold;">+7 {{telephone | mask: '(000) 000-0000'}}</span>
            </a>
        </div>
        <div class="bottom-buttons1" *ngIf="blockMode == 'filters' && !changedBound && filtersChosen == 'empty' && activeButton != 'request'" (click)="ymFunc('show-offer-mobile');get_list(20, 'init');this.blockMode = 'items';activeButton = 'items'">
            <div class="show-contact-button" style="background-color: #252f32">
                <span>ПЕРЕЙТИ В СПИСОК</span>
            </div>
        </div>
        <div class="bottom-buttons1" *ngIf="blockMode == 'filters' && !changedBound  && filtersChosen == 'chose' && activeButton != 'request'" (click)="ymFunc('show-offer-mobile');get_list(countOfItems, 'filter');this.blockMode = 'items';activeButton = 'items'">
            <div class="show-contact-button" style="background-color: #252f32">
                <span style="display: flex;align-items: center;"><span style="line-height: 11px">ПОКАЗАТЬ </span><span class="numObj" id="numObj">{{countOfItems}}</span><span style="line-height: 11px"> ПРЕДЛОЖЕНИЙ</span></span>
            </div>
        </div>
        <div class="bottom-buttons1" *ngIf="blockMode == 'filters' && !changedBound  && activeButton == 'request' && blockInputOpen != 'open_login' && blockInputOpen != 'open_pay' && blockInputOpen != 'open_menu'" (click)="saveRequest()">
            <div class="show-contact-button" style="background-color: #252f32">
                <span>СОХРАНИТЬ ЗАЯВКУ</span>
            </div>
        </div>
        <div class="main-objects"  [class.item-full-open]=" blockMode == 'item' || blockMode == 'request_items'"  [style.padding-top.px]="mainObjectsPadding"
             *ngIf="blockInputOpen != 'open_login' && blockInputOpen != 'open_pay'">
            <div class="inner-left" [class.contact]="item_mode == 'contact'">
                <app-item (closeItem)="close(item_mode, item.id)"
                          [class.open]="blockMode == 'item' && (blockInputOpen =='open_menu' || blockInputOpen == 'close_menu')"
                          *ngIf="blockMode == 'item' && (blockInputOpen =='open_menu' || blockInputOpen == 'close_menu')"
                          [id]="item.id" [loggingMode]="logged_in"
                          [payingMode]="payed" [item]="item"
                          [mode]="item_mode"
                          [similarOpen]="false"
                          (changePhone)="telephone = $event">
                </app-item>
                <div class="catalog-item full" style="margin-bottom: 0" *ngIf="blockMode == 'request_items'">
                    <div class="top-block" [style.top.px]="headerPos" style="border-bottom: unset">
                        <a class="itemArrowBack" (click)="blockMode = 'request_list';headerPos = 0;mainObjectsPadding = 90;findPadding=90;mainHeight = 'calc(100vh - 155px)'"><img
                            src="../../../../assets/arrow-item.png" class="iconImg" width="30px"><div style="letter-spacing: 0.05rem;line-height: 16px;font-size: 14px;">Назад</div></a>
                    </div>
                    <div class="scroll-items open" (touchend)="listScroll($event)" (touchstart)="touchstart($event)"
                         (touchend)="touchend($event)">
                        <item-middle *ngFor="let obj of request_items, let i = index" [index]="i" [item]="obj" [loggingMode]="logged_in" [payingMode]="payed" [watched]="watchedItems.indexOf(i) != -1"
                                     (favItemMode)="changeFav($event, obj)" (click)="checkClick(i,obj, $event, 'request_item')"></item-middle>
                    </div>
                </div>
                <div class="filters open" id="filters_open" *ngIf="this.blockMode != 'map'" (touchstart)="touchstart($event)"
                     (touchend)="touchend($event)">

                        <div *ngIf="this.blockMode == 'items' && activeButton == 'items' && items.length == 0 && countOfItems == 0" style="color: #BDC0C1;
                                    width: calc(100% - 40px);
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-family: Helvetica, sans-serif;
                                    flex-direction: column;
                                    position: fixed;
                                    top: calc(50vh - 45px);
                                    padding: 20px;"><div style="font-size: 26px">Объекты не найдены</div><div style="font-size: 20px">Измените условия поиска</div></div>

                    <div class="scroll-items open" (touchend)="listScroll($event)"
                         *ngIf="blockMode == 'items'">
                        <item-middle *ngFor="let obj of items, let i = index" [index]="i" [item]="obj" [loggingMode]="logged_in" [payingMode]="payed" [watched]="watchedItems.indexOf(i) != -1"
                                     (favItemMode)="changeFav($event, obj)" (click)="checkClick(i,obj, $event, 'list')"></item-middle>
                    </div>

                    <div class="scroll-items open" (touchend)="listScrollRequests($event)"
                         *ngIf="blockMode == 'request_list'">
                        <request-middle *ngFor="let obj of requests, let i = index" [request]="obj" (click)="requestClick(obj, $event)"></request-middle>
                    </div>

                    <div class="scroll-items open blur fav-list"
                         *ngIf="blockMode == 'fav'">
                        <ng-container *ngFor="let obj of favItems, let i = index">
                            <item-middle *ngIf="obj.id != null" [index]="i" [item]="obj" [loggingMode]="logged_in" [payingMode]="payed" (showBlock)="openBlock($event)"
                                         (favItemMode)="changeFav($event, obj)" (click)="checkClick(i,obj, $event, 'fav')"></item-middle>
                        </ng-container>
                    </div>
                    <div [style.height]="blockMode == 'filters' ? 'max-content' : '0'" [style.max-height]="blockMode == 'filters' ? 'max-content' : '0'" [style.overflow]="blockMode == 'filters' ? 'auto' : 'hidden'">
                        <app-filters-mobile class="filters-box" (coordsPol)="getCoords($event)"
                                            [blockMode]="blockMode"
                                            [activeButton]="activeButton"
                                            [initCoords]="initCoords"
                                            [class.open]="blockMode == 'filters'" (sendFilters)="setFilters($event)"
                                            (sendSort)="setSort($event)" (sendEquipment)="setEquipment($event)"
                                            (countOfItems)="changeCount($event)"
                                            (changedCenter)="initCoords = $event"
                                            (filtersChosen)="filtersChosenFunc($event)"
                                            (changedBound)="changedBound = $event"
                                            (requestUpdate)="updateRequest($event)"
                                            *ngIf="blockMode == 'filters'"></app-filters-mobile>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ui-modal-window *ngIf="modal_active" [title]="modal_title" [message]="modal_text" [cancel]="modal_cancel" [button]="modal_action_text" (buttonClicked)="modalFunc($event)"></ui-modal-window>
