<div class="catalog-item full" [class.close]="photoBlockOpen">
    <div class="top-block">
        <a class="itemArrowBack" (click)="closeItemBlock()"><img
            src="../../../../assets/arrow-item.png" class="iconImg" width="30px"><div style="line-height: 16px;font-size: 14px;">Назад</div></a>
    </div>
    <div id="canv" style="height: 55px; width: 100%">

    </div>
    <div *ngIf="imgLen == 0" class="photoBlock" style="background-size: 100% 100%;background-image: url('../../../../assets/noph.png')" [class.watched]="watched == true" (click)="galleryOpen()">
        <img class="img"
             [title]="'makleronline снять ' + item?.roomsCount + ' комнатную квартиру в хабаровске без посредников'"
             [alt]="'makleronline аренда ' + item?.roomsCount + ' комнатной квартиры в хабаровске без посредников'"
             [src]="src" [class.avito]="src.indexOf('avito') != -1">
        <div class="no-photo">{{photo_no_title}}</div>
    </div>
    <div *ngIf="imgLen != 0" class="photoBlock" style="    background-size: 100% 100%;"
         [ngStyle]="{'background-image': 'url('+imgSrc+')'}" [class.watched]="watched == true"
         (click)="galleryOpen()">
        <img class="img"
             [title]="'makleronline снять ' + item?.roomsCount + ' комнатную квартиру в хабаровске без посредников'"
             [alt]="'makleronline аренда ' + item?.roomsCount + ' комнатной квартиры в хабаровске без посредников'"
             [src]="src" [class.avito]="src.indexOf('avito') != -1">
        <div class="no-photo">{{photo_no_title}}</div>
    </div>
    <div class="phone-block">
        <div class="phone-part-one">
            <div class="contact-photo full" [ngStyle]="{'background-image': (payingMode == true || payingMode == 'true') && (loggingMode == true || loggingMode == 'true') && item?.photo != undefined ? 'url('+item?.photo+')' : 'url(../../../../assets/user-icon.png)', 'background-size': (payingMode == true || payingMode == 'true') && (loggingMode == true || loggingMode == 'true')  && item?.photo != undefined  ? 'cover':'125% 125%' }"></div>
            <div class="flex-col">
                <div class="name full">{{item.name}}</div>
                <div class="middleman">{{item.IsMiddleman ? 'Посредник' : 'Частное лицо'}}</div>
            </div>
        </div>
        <div class="desc-divider contact" *ngIf="(payingMode == true || payingMode == 'true') && (loggingMode == true || loggingMode == 'true')"></div>
        <div class="phone-part-two">
            <div class="flex-col" style="justify-content: center;" *ngIf="(payingMode == true || payingMode == 'true') && (loggingMode == true || loggingMode == 'true')">
                <div class="phone" *ngIf="item?.phoneBlock?.main != null">{{item.phoneBlock != null ? '+7':''}}{{item?.phoneBlock?.main | mask: ' (000) 000-0000'}}</div>
                <div class="phone" *ngIf="item?.phoneBlock?.other != null">{{item.phoneBlock != null ? '+7':''}}{{item?.phoneBlock?.other | mask: ' (000) 000-0000'}}</div>
                <div class="phone" *ngIf="item?.phoneBlock?.home != null">{{item.phoneBlock != null ? '+7':''}}{{item?.phoneBlock?.home | mask: ' (000) 000-0000'}}</div>
                <div class="phone" *ngIf="item?.phoneBlock?.cellphone != null">{{item.phoneBlock != null ? '+7':''}}{{item?.phoneBlock?.cellphone | mask: ' (000) 000-0000'}}</div>
                <div class="phone" *ngIf="item?.phoneBlock?.fax != null">{{item.phoneBlock != null ? '+7':''}}{{item?.phoneBlock?.fax | mask: ' (000) 000-0000'}}</div>
                <div class="phone" *ngIf="item?.phoneBlock?.ip != null">{{item.phoneBlock != null ? '+7':''}}{{item?.phoneBlock?.ip | mask: ' (000) 000-0000'}}</div>
            </div>
        </div>
    </div>
    <div class="lineFull"></div>
    <div class="starFav" *ngIf="item != undefined">
        <img (click)="addFavObject()" class="starImg full"
             [class.open]="!item.is_fav"
             src="../../../../assets/4-4.png" width="24px">
        <img (click)="delFavObject()" class="starImg full"
             [class.open]="item.is_fav"
             src="../../../../assets/4-4%20watched.png" width="24px">
    </div>
    <div class="bottom-block">
        <div class="info">
            <div class="apart-type" *ngIf="item?.typeCode == 'room'"><span class="one">КОМНАТА</span></div>
            <div class="apart-type" *ngIf="item?.typeCode == 'apartment'"><span class="one">КВАРТИРА</span></div>
            <div class="apart-type" *ngIf="item?.typeCode == 'house'"><span class="one">ДОМ</span></div>
            <div class="apart-type" *ngIf="item?.typeCode == 'dacha'"><span class="one">ДАЧА</span></div>
            <div class="apart-type" *ngIf="item?.typeCode == 'cottage'"><span class="one">КОТТЕДЖ</span></div>
            <div class="price full" style="    margin-bottom: 5px;">{{formattedPrice}}<span style="margin-left: 8px">₽</span><span style="font-size: 12px;margin-left: 20px;color:#62626D;font-weight: normal" *ngIf="commission != 0">Комиссия {{commission}}%</span>
            </div>
            <div class="address">
                <span *ngIf="!item.address.includes('ул.')">ул.</span><span class="special">{{item?.address}}<span
                style="font-weight: bold; text-transform: lowercase"> {{item?.house_num}}</span></span>
            </div>
            <div class="bus">{{item?.admArea}}</div>
            <div class="bus" style="margin-bottom: 15px;">Остановка {{item?.busStop}}</div>
            <div class="bottom-desc">
                <div class="flex-col" style="    align-items: center;">
                    <span class="typename">{{item?.roomsCount}}</span>
                    <span class="type">Комнат</span>
                </div>
                <div class="desc-divider full"></div>
                <div class="flex-col" style="    align-items: center;flex-grow: 1;">
                    <span class="typename">{{item?.floor}}/{{item?.floorsCount}}</span>
                    <span class="type">Этаж</span>
                </div>
                <div class="desc-divider full"></div>
                <div class="flex-col" style="    align-items: center;flex-grow: 1;">
                    <span class="typename"
                          *ngIf="(item?.typeCode == 'apartment' || item?.typeCode == 'house' || item?.typeCode == 'dacha' || item?.typeCode == 'cottage')">{{item?.squareTotal}}</span>
                    <span class="typename" *ngIf="item?.typeCode == 'room'">{{item?.squareLiving}}</span>
                    <span class="type">Площадь</span>
                </div>
                <div class="desc-divider full"></div>
                <div class="flex-col" style="    align-items: center;flex-grow: 1;">
                    <span class="typename">Балкон</span>
                    <span class="type">{{ item.loggia || item.balcony ? 'Да' : 'Нет'}}</span>
                </div>
                <div class="desc-divider full"></div>
                <div class="flex-col" style="    align-items: center;">
                    <span class="typename">Залог</span>
                    <span class="type">{{item?.prepayment ? 'Да' : 'Нет'}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="topic"><span>Комплектация объекта</span></div>
    <div class="lineFull"></div>
    <div class="description">{{conveniences}}</div>
    <div class="map filters-map open" id="filters-map-map"></div>
    <div class="topic"><span>Условия найма</span></div>
    <div class="lineFull"></div>
    <div class="description">{{conditions}}</div>
    <div class="topic">Дополнительное описание</div>
    <div class="lineFull"></div>
    <div class="description">{{item?.description}}</div>
</div>


<!--блок с галереей-->
<div class="bigGalleryBlock" *ngIf="photoBlockOpen" (window:resize)="onResize()">
    <div class="top-block">
        <a class="itemArrowBack" (click)="galleryClose()"><img
            src="../../../../assets/arrow-item.png" class="iconImg" width="30px"><div style="line-height: 16px;font-size: 14px;">Назад</div></a>
    </div>
    <div class="photoBlockGallery" style="    background-size: 100% 100%;"
          [class.watched]="watched == true" >
<!--        <div class="photoWrapper">-->
            <div class="photoBlock gallery galPhoto" *ngFor="let img of item?.photos, let i = index" [class.avito]="img?.href.indexOf('avito') != -1">
                <img class="img" (load)="changePhotoBlock($event, i)"
                     [title]="'makleronline снять ' + item?.roomsCount + ' комнатную квартиру в хабаровске без посредников'"
                     [alt]="'makleronline аренда ' + item?.roomsCount + ' комнатной квартиры в хабаровске без посредников'"
                     [src]="img?.href" [class.avito]="img?.href.indexOf('avito') != -1">
            </div>
<!--        </div>-->

    </div>
<!--    <div class="photoMenuTop">-->
<!--        <div class="arrow photo-left" (click)="prevImg()">-->
<!--            <div class="barArrowLeft1"></div>-->
<!--            <div class="barArrowLeft2"></div>-->
<!--        </div>-->
<!--        <div class="arrow photo-right" (click)="nextImg()">-->
<!--            <div class="barArrowRight1"></div>-->
<!--            <div class="barArrowRight2"></div>-->
<!--        </div>-->
<!--        <div class="exitButton" (click)="galleryClose()">-->
<!--            <div class="barMenu1"></div>-->
<!--            <div class="barMenu2"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="photo-block">-->
<!--        <div class="photoGallery" id="anchor">-->
<!--            <div class="photos">-->
<!--                <ul id="photoGallery-ul">-->
<!--                    <li class="photoGallery-li" *ngFor="let img of item?.photos">-->
<!--                        <div class="photo-img">-->
<!--                            <img class="inner-img" src="{{img?.href}}"/>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
