div:hover, span:hover, p:hover {
    cursor: default;
}
.starImg {
    display: none;
    position: relative;
    top: -1px;
}

.starImg.open {
    display: block;
}
.addDate{
    font-family: Cadillac, sans-serif;
    letter-spacing: 0.05em;
    font-size: 12px;
    color: #72727D;
    width: 100%;
    padding-left: 30px;
}
.addBlock{
    width: calc(100% - 210px);
    font-weight: normal !important;
}
.star-block{
    display: flex;
    align-items: center;
    color: #72727D;
    font-family: Cadillac, sans-serif;
    letter-spacing: 0.05em;
    font-size: 12px;
    height: 34px;
    min-height: 34px;
    width: 100%;
    padding-left: 30px;
}
.starFav {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
    transition: .3s background-color;
    position: relative;
    right: 18px;
    top: 20px;
}
.starFav-list{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -24px;
    position: relative;
    left: calc(100% - 20px);
}
.starFav.inner{
    top: unset;
    right: unset;
    margin-left: 10px;
}
.starFav:hover{
    background-color: white;
}

.photoBlock.watched {
    filter: grayscale(0.8);
}

.catalog-item.watched, .objects.watched {
    background-color: #e4e3e3;
}
.catalog-item {
    width: 450px;
    overflow-x: hidden;
    margin-bottom: 20px;
    box-shadow: 0 3px 4px #d3d5d6;
    background-color: white;
}

.hovered:hover {
    background-color: #f6f6f6;
}

.catalog-item.hovered:hover .objects {
    background-color: #f6f6f6;
}

.top-card {
    display: flex;
    padding: 17px 30px 12px 0;
}

.top-block {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    max-width: calc(100% - 150px);
}

.top-block.compare {
    height: 42px;
    padding: 10px 0;
}

.top-block.inner {
    flex-grow: 1;
    padding: 0;
    max-width: none;
}

.street {
    font-size: 14px;
    display: flex;
    align-items: center;
    font-family: Cadillac, sans-serif;
    letter-spacing: 0.05em;
    color: #252f32;
}

.price,.address {
    font-family: Cadillac, sans-serif;
    letter-spacing: 0.05em;
    display: flex;
    color: #252f32;
    font-weight: bold;
}
.bottom-desc{
    width: calc(100% - 210px);
    display: flex;
    font-size: 12px;
}
.bus{
    color: #62626D;
    font-size: 12px;
    font-family: Cadillac, sans-serif;
    margin-bottom: 15px;
}
.flex-col .type{
    color: #72727D;
}
.flex-col .typename{
   font-weight: bold;
    min-height: 17px;
    color: #32323d;
}
.desc-divider{
    height: 30px;
    width: 2px;
    min-width: 2px;
    background-color: #D3D5D6;
    margin: 0 20px;
}
.price{
    font-size: 18px;
    min-height: unset !important;
    align-items: flex-end;
}
.address{
   font-size: 14px;
}
.address .special{
    text-transform: uppercase;
}
.price.inner{
    font-weight: unset;
    margin: 10px 0 -18px;
}

.photoBlock {
    height: 300px;
    width: 450px;
    overflow-y: hidden;
}
.dark-line{
    background-color: #252F32;
    height: 44px;
    width: 100%;
}
.dark-line > .name{
    font-family: Open sans, sans-serif;
    font-size: 14px;
    color: white;
    letter-spacing: 0.05em;
    font-weight: bold;
    margin-left: 15px;
    align-items: center;
    display: flex;
}
.dark-line > .name > span{
    line-height: 12px;
}
.list-bottom-block{
    padding: 15px 20px 15px 25px;
}
.list-bottom-block div, .list-bottom-block span{
    font-size: 12px;
    font-family: OpenSans, sans-serif;
    letter-spacing: 0;
}
.dark-line > .img{
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-left: 20px;
    position: relative;
    top: -24px;
    background-color: #f7f7f7;
    background-position: center;
}

.item-info{
    display: flex;
    margin-top: 5px;
    margin-bottom: 12px;
}
.item-info > div{
    margin-right: 15px;
    color: #32323D;
}
.photoBlock .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0;
}
.no-photo{
    font-family: Cadillac, sans-serif;
    font-size: 40px;
    width: 200px;
    position: relative;
    height: 200px;
    left: calc(50% - 118px);
    top: calc(-50% - 100px);
    color: #252f32;
    display: flex;
    align-items: center;
    line-height: 40px;
    justify-content: center;
}

.bottom-block {
    width: 100%;
    display: flex;
    min-height: 168px;
}
.bottom-block.main-page{
    min-height: unset;
}
.info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 12px;
    font-family: Cadillac, sans-serif;
    color: #252f32;
    white-space: pre;
    width: calc((100% - 234px) / 2);
}
.info.left{
    flex-grow: unset;
    width: 100px;
}
.bottom-block > .info:first-child{
    padding: 22px 0 0 30px;
}
.bottom-block > .info:nth-child(2n){
    padding: 18px 30px 35px 0;
}

.rooms {
    display: flex;
    height: 20px;
    align-items: center;
}

.rooms .one {
    width: 70px;
}

.topRightBlock {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    letter-spacing: .05em;
    color: #252f32;
    min-width: 130px;
}

.topRightBlock .two {
    display: flex;
    align-items: center;
}

.commission {
    color: #677578;
    font-size: 12px;
    font-family: Cadillac, sans-serif;
    white-space: pre;
}

.street .special {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 3px;
}

.return {
    width: 30px;
    height: 25px;
    position: relative;
    top: -3px;
}

.barReturn1, .barReturn2 {
    width: 15px;
    height: 2px;
    background-color: #252f32;
    margin: 3px 0;
}

.barReturn1 {
    transform: rotate(-45deg) translate(-1px, 5px);
}

.barReturn2 {
    transform: rotate(45deg) translate(9px, 5px);
}

.returnBack:hover .barReturn1, .returnBack:hover .barReturn2 {
    background-color: #677578;
    cursor: pointer;
}

.lineFull {
    width: calc(100% - 60px);
    border-bottom: 1px solid #D3D5D6;
    margin: 0 30px;
}
.lineFull.contact{
    margin: 0 0 15px;
    width: 100%;
}
.price.full {
    font-size: 20px;
}

.carousel {
    display: none;
    transform-origin: 0 0;
    width: 100%;
    height: auto;
    max-height: 312px;
}

.carousel.open {
    display: flex;
    /*-webkit-animation: fade ease-in 0.3s;*/
    /*animation: fade ease-in 0.3s;*/
}

.carousel ul {
    width: max-content;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0;
    max-height: 312px;
}

.carousel li {
    display: inline-block;
}

.arrow {
    padding: 0;
    display: none;
    z-index: 9999;
    /*background-color: #f6f6f6;*/
}

.arrow.left {
    width: 40px;
    display: none;
    align-items: center;
    position: relative;
    left: 40px;
}

.arrow.left.img {
    left: 20px;
}

.objects {
    overflow: hidden;
    flex: 0 0 100%;
    background-color: white;
}

.arrow.right {
    width: 40px;
    position: relative;
    right: calc(100% - 27vw);
    display: none;
    align-items: center;
}

.catalog-item:hover .arrow {
    display: block;
}

.catalog-item:hover .arrow.left, .catalog-item:hover .arrow.right {
    display: flex;
}

.catalog-item:hover .objects {
    margin-left: -40px;
}

.arrow:focus {
    outline: none;
}

.barArrow1-left, .barArrow2-left {
    width: 35px;
    height: 2px;
    border-radius: 5px;
    background-color: white;
    margin: 3px 0;
}

.barArrow1-left {
    transform: rotate(-55deg) translate(-10px, 10px);
}

.barArrow2-left {
    transform: rotate(55deg) translate(32px, 20px);
}

.barArrow1-right, .barArrow2-right {
    width: 35px;
    height: 2px;
    border-radius: 5px;
    background-color: white;
    margin: 3px 0;
}

.barArrow1-right {
    transform: rotate(55deg) translate(12px, 7px);
}

.barArrow2-right {
    transform: rotate(-55deg) translate(-30px, 22px);
}

.arrowFull {
    height: 64px;
    width: 40px;
}

.returnBack {
    display: flex;
    flex-grow: 1;
    padding-left: 15px;
    font-family: Cadillac, sans-serif;
    font-size: 14px;
    color: #252f32;
    align-items: center;
    text-decoration: none;
}
.returnBack:focus{
    outline: none;
}

.returnBack:hover div, .returnBack:hover a {
    color: #677578;
    cursor: pointer;
}

.arrow.left:hover, .arrow.right:hover {
    cursor: pointer;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.contact-info{
    flex: 50%;
    align-items: center;
    padding-bottom: 15px;
    flex-grow: 1;
}
.contact-photo{
    width: 50px;
    height: 50px;
    min-height: 50px;
    border-radius: 28px;
    border: 2px solid white;
    position: relative;
    top: -70px;
    left: calc((100% - 55px) / 2);
    margin-bottom: -55px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contact-photo.full{
    background-color: #FBFAF9;
}
.name{
    font-family: Cadillac;
    font-size: 14px;
    color: #32323d;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
}
.middleman{
    font-family: Cadillac;
    font-size: 12px;
    color: #32323d;
    letter-spacing: 0.05em;
}
.phone{
    padding-left: 15px;
    font-family: Cadillac;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: #3C4D52;
    line-height: 18px;
}
.phone-photo{
    background-image: url('../../../../assets/phone-icon.png');
    background-size: contain;
    width: 32px;
    height: 32px;
}
.button-whatsapp{
    font-size: 12px;
    color: white;
    background-color: #128C7E;
    height: 35px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cadillac, sans-serif;
    transition: 0.3s;
    font-weight: normal !important;
}
.button-contact{
    font-size: 14px;
    color: #62626D;
    border: 1px solid #bdc0c1;
    height: 35px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cadillac, sans-serif;
    transition: 0.3s;
}
.button-contact:hover {
    background-color: #252F32;
    border: 1px solid #252F32;
    color: #f6f6f6;
}
.phone-block, .write-block{
    background-color: #FBFAF9;
}
.phone-block{
    height: calc(100% - 55px);
    padding: 35px 20px 20px;
    width: 170px;
    min-width: 170px;
}
.street-block{
    height: auto;
    width: 100%;
    font-family: Cadillac, sans-serif;
    font-size: 12px;
    /*padding-bottom: 10px;*/
}
.street-block > div, .info > div{
    line-height: 17px;
    height: 17px;
    /*width: 50%;*/
    letter-spacing: 0.05em;
}
.add-info{
    display: flex;
}
.bottom-info{
    width: calc(100% - 260px);
    padding: 20px 30px;
}
.bottom-info.price{
    color: #252f32;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    padding: 0 30px;
    height: 100%;
}
.bottom-info > .price{
    font-size: 22px;
    margin-right: 10px;
    color: #32323d;
    line-height: 22px;
    position: relative;
    top: 3px;
}
.bottom-info > .price-inner{
    font-weight: normal;
    font-size: 18px;
    margin: 0 10px 0 0;
}
.write-block{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
}
.bottom-block.price{
    height: 60px;
    align-items: center;
}
.four-info:nth-child(2n+1){
    flex: 20%;
    min-width: 100px;
}
.four-info:nth-child(2n){
    flex: 30%;
}
.four-info > div{
    line-height: 22px;
    color: #252F32;
}
.bottom-block.four{
    font-family: Cadillac, sans-serif;
    font-size: 12px;
    padding: 25px 30px 10px;
    width: calc(100% - 60px);
    height: auto;
}
.header-block{
    font-family: Cadillac, sans-serif;
    font-size: 14px;
    color: #252F32;
    padding: 10px 30px;
}
.descriptionBlock{
    padding: 10px 30px 15px;
    font-family: Cadillac, sans-serif;
    font-size: 12px;
    color: #3C4D52;
}
.apart-type{
    font-size: 12px;
    color: #72727D;
    margin-bottom: 5px;
}
.img.avito{
    height: calc(100% + 100px) !important;
}

.catalog-item.main-page{
    width: 360px !important;
    height: 333px;
    min-width: unset;
    margin-right: 20px;
    border: 1px solid #d3d5d6 !important;
    margin-top: 15px !important;
    margin-bottom: 0;
}
.address.main-page{
    font-size: 14px !important;
    line-height: 15px;
    margin-bottom: 4px !important;
    flex-grow: 1;
    margin-top: -1px;
}
.desc-divider.main-page{
    margin: 0 6px !important;
}
.bottom-desc.main-page{
    line-height: 15px;
    width: 100%;
}
.bottom-desc.main-page > .flex-col{
    margin-right: 15px;
}
.price.main-page{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}
.photoBlock.main-page{
    width: 100% !important;
    height: 240px;
    min-height: auto;
}
.info.main-page{
    width: calc(100% - 40px);
    height: fit-content;
    padding: 12px 22px 0 15px !important;
}
.info.main-page div, .info.main-page span{
    font-family: Helvetica, sans-serif;
    height: auto;
    flex-grow: unset;
    letter-spacing: 0 !important;
}
.price-block-main-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.apart-type.main-page{
    margin-bottom: 0;
    font-size: 10px;
    line-height: 15px;
}
.apart-type.main-page > .one{
    font-size: 12px;
}
