<div class="catalog-item" id="{{item?.id}}"
     [class.small-display]="widthDocument < 1540 && (compare || similarOpen)" (window:resize)="changeSize()">
    <div *ngIf="mode == 'full'">
        <div class="top-block compare" *ngIf="compare || compareItem">
            <a class="returnBack" *ngIf="compareItem" (click)="close('item')">
                <div class="return">
                    <div class="barReturn1"></div>
                    <div class="barReturn2"></div>
                </div>
                <a>Назад</a>
            </a>
        </div>
        <div class="carousel open" id="carousel1" *ngIf="imgLen > 0">
            <div class="arrow left img" (click)="prevImg(2)">
                <div class="arrowFull">
                    <div class="barArrow1-left"></div>
                    <div class="barArrow2-left"></div>
                </div>
            </div>
            <div class="objects">
                <ul id="carousel-ul-img2{{item?.id}}">
                    <li class="carousel-li-img2{{item?.id}}" *ngFor="let img of item?.photos">
                        <div class="photoBlock">
                            <img class="img"
                                 [src]="img.href">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="arrow right img" (click)="nextImg(2)">
                <div class="arrowFull">
                    <div class="barArrow1-right"></div>
                    <div class="barArrow2-right"></div>
                </div>
            </div>
        </div>
        <div class="photoBlock" *ngIf="imgLen == 0"
             [class.historyOpen]="historyOpen == true">
            <img class="img"
                  [src]="src">
            <div class="no-photo">{{photo_no_title}}</div>
        </div>
        <div class="bottom-block">
            <div class="street-block">

            </div>
            <div class="info">

            </div>
            <div class="info">
            </div>
            <div class="phone-block">

            </div>
        </div>
        <div class="descriptionFullBlock">

            <div class="top-card inner">
                <div class="top-block inner">
                    <div class="street special"><span class="special">{{item?.address}}<span
                            style="font-weight: bold; margin-left: 5px"> {{item?.house_num}}</span></span></div>
                    <div class="commission">{{item?.city}}, {{item?.admArea}}</div>
                </div>
                <div class="topRightBlock">
                    <div class="topRightInner">
                        <div class="price"><span style="margin-right: 8px">₽</span><span>{{formattedPrice}}/ <span
                                style="font-size:12px;position: relative;left: -3px;">мес.</span></span></div>
                        <div class="commission">Без комиссии</div>

                    </div>
                </div>
            </div>
            <div class="lineFull"></div>
            <span class="titleFull">Дополнительная информация</span>
            <div style="display: flex">
                <div class="leftTopFullBlock">

                    <!--<div class="street special"><span class="special">{{item?.address}}</span><span-->
                    <!--style="font-weight: bold; margin-left: 5px"> {{item?.house_num}}</span></div>-->
                    <!--<div class="commission">{{item?.city}}, {{item?.region}}</div>-->
                    <div class="commission" id="busStop" style="display: flex">Остановка {{objStop}}    Время в
                        пути: {{timeToBusStop}}</div>
                    <div class="commission add-margin">Добавлено {{addDate}}</div>
                </div>
                <div class="rightTopFullBlock">
                    <div class="starFav" *ngIf="!compare && compareItem" (mouseenter)="favHovered = true"
                         (mouseleave)="favHovered = false">
                        <img class="starImg" [class.open]="!favHovered && !item?.is_fav"
                             src="../../../../assets/4-4.png" width="22px">
                        <img (click)="addFavObject()" class="starImg" [class.open]="favHovered  && !item?.is_fav"
                             src="../../../../assets/4-4%20watched.png" width="22px">
                        <img (click)="delFavObject()" class="starImg" [class.open]="item?.is_fav"
                             src="../../../../assets/4-4%20watched.png" width="22px">
                    </div>
                    <!--<div class="price full"><span style="margin-right: 8px">₽</span><span>{{formattedPrice}}/ <span style="font-size:14px;position: relative;-->
                    <!--left: -3px;">мес.</span></span></div>-->
                    <!--<div class="commission">Без комиссии</div>-->
                </div>
            </div>

            <div class="info add-margin">
                <div class="rooms"><span>{{item?.roomsCount}} комнатная квартира</span></div>
                <div style="display: flex">
                    <div style="width: 55px">Этаж</div>
                    <div>{{item?.floor}}/{{item?.floorsCount}}</div>
                </div>
                <div style="display: flex">
                    <div style="width: 55px">Площадь</div>
                    <div>{{item?.squareTotal}}<span style="padding-left: 5px">кв.м</span></div>
                </div>
            </div>
            <div class="rightBlockText title">
                <span>КОМПЛЕКТАЦИЯ ОБЪЕКТА</span>
            </div>
            <div class="rightBlockText full add-margin">
                {{conveniences}}
            </div>
            <div class="rightBlockText title">
                <span>УСЛОВИЯ НАЙМА</span>
            </div>
            <div class="rightBlockText full">
                {{conditions}}
            </div>
            <div class="rightBlockText title">
                <span>ЦЕНА</span>
            </div>
            <div class="rightBlockText full">
                {{pricefields}}
            </div>
            <div class="rightBlockText full">
                Форма расчета: {{paymentType}}
            </div>
            <div class="rightBlockText title">
                <span>ДОПОЛНИТЕЛЬНОЕ ОПИСАНИЕ</span>
            </div>
            <div class="rightBlockText full">
                {{item?.description}}
            </div>
        </div>
        <div class="lineFull add"></div>
        <div class="nearby-block add">
            <span>ДАННЫЕ АРЕНДОДАТЕЛЯ</span>
        </div>
        <div class="descriptionFullBlock add">
            <div style="display: flex">
                <div class="contactBlock topRightInner" *ngIf="(payingMode == true || payingMode == 'true') && (loggingMode == true || loggingMode == 'true')">
                    <div class="contactLineBlock">
                        <div class="one">Телефон рабочий</div>
                        <div class="two"><span>+7 {{item?.phone | mask: '(000) 000-0000'}}</span></div>
                    </div>
                    <div class="contactLineBlock">
                        <div class="one">Электронный адрес</div>
                        <div class="two"><span>{{item?.email}}</span></div>
                    </div>
                    <div class="contactLineBlock" style="padding-bottom: 10px">
                        <div class="one">Сайт</div>
                        <div class="two"></div>
                    </div>
                </div>
<!--                <div class="contactBlock topRightInner" *ngIf="(payingMode != true && payingMode != 'true') || (loggingMode != true && loggingMode != 'true')">-->
<!--                    <div style="width: 100%; display: flex; justify-content: center" >-->
<!--                        <div class="button-contacts" (click)="checklogin(); checkblock()">КОНТАКТЫ</div>-->
<!--                    </div>-->
<!--                </div>-->

            </div>
        </div>

        <!--<div class="lineFull add"></div>-->
        <!--<div class="nearby-block add">-->
        <!--<span>МЕСТОПОЛОЖЕНИЕ</span>-->
        <!--</div>-->
        <!--<div class="map filters-map open" *ngIf="!compare && !similarOpen" id="filters-item{{id}}"></div>-->
        <!--<div class="map filters-map open" *ngIf="!compare && similarOpen" id="filters-item{{id}}{{formattedPrice}}"></div>-->
        <!--<div class="map filters-map open" *ngIf="compare" id="filters-item{{id}}{{item?.squareTotal}}{{formattedPrice}}"></div>-->
        <div class="descriptionFullBlock">
            <div class="nearby-block">
                <span style="font-weight: bold;">ЧТО РЯДОМ</span>
                <span style="font-size: 14px;color: #677578;">Объекты инфраструктуры, развлечения...</span>
            </div>
            <div class="lineFull"></div>
            <div class="additional-nearby-block"
                 [class.small-display]="widthDocument < 1540 && (compare || similarOpen)">
                <div class="inner-additional" *ngFor="let obj of nrObjs, let i = index">
                    <div class="nearby">
                        <span>{{obj.name}} - {{obj.type}}</span>
                        <span class="bottom-text">{{obj.description}}</span>
                    </div>
                    <div style="max-height: 18px;margin-left: 40px;    min-width: 50px;">
                        <span>{{obj.distance}} м</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="lineFull add"></div>
        <div class="descriptionFullBlock" style="padding: 0 30px 40px;">
            <div class="nearby-block">
                <span>РЕЙТИНГ ПРЕДЛОЖЕНИЯ</span>
            </div>
            <div class="lineFull"></div>
            <app-rating></app-rating>
        </div>
    </div>
<!--    <div *ngIf="mode == 'similar'">-->
<!--        <div class="photoFull">-->
<!--            <img src="{{src}}">-->
<!--        </div>-->
<!--        <div style="display: flex;    margin: 15px 0;">-->
<!--            <div class="descriptionFullBlock" style="flex-grow: 1;">-->
<!--                <div class="street special"><span class="special">{{item?.address}}</span><span-->
<!--                        style="font-weight: bold; margin-left: 5px"> {{item?.house_num}}</span></div>-->
<!--                <div class="commission add-margin">{{item?.city}}{{item?.region}}</div>-->
<!--                <div class="info">-->
<!--                    <div class="rooms"><span class="one">Квартира</span><span>{{item?.roomsCount}} комнатная</span>-->
<!--                    </div>-->
<!--                    <div class="rooms"><span class="one">Этаж</span><span>{{item?.floor}}/{{item?.floorsCount}}</span>-->
<!--                    </div>-->
<!--                    <div class="rooms"><span class="one">Площадь </span><span> {{item?.squareTotal}}кв.м</span></div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="descriptionFullBlock" style="align-items: flex-end">-->
<!--                <div class="topRightInner">-->
<!--                    <div class="price"><span style="margin-right: 8px">₽</span><span>{{formattedPrice}}/ <span style="font-size:12px;    position: relative;-->
<!--          left: -3px;">мес.</span></span></div>-->
<!--                    <div class="commission">Без комиссии</div>-->
<!--                </div>-->
<!--                <div class="topRightBlock" style="margin: 0">-->
<!--                    <div class="starFav">-->
<!--                        <img class="starImg" *ngIf="watched !== true" src="../../../../assets/4-4.png" width="22px">-->
<!--                        <img class="starImg" *ngIf="item?.watched == true" src="../../../../assets/4-4%20watched.png"-->
<!--                             width="22px">-->
<!--                    </div>-->
<!--                    <div class="two">Добавить в избранное</div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
