<div class="catalog-item" id="{{item?.id}}"
     [class.small-display]="widthDocument < 1540 && (compare || similarOpen)" (window:resize)="changeSize()">
    <div *ngIf="mode == 'full'">
        <div class="top-block compare" *ngIf="compare || compareItem">
            <a class="returnBack" *ngIf="compareItem" (click)="close('item')">
                <div class="return">
                    <div class="barReturn1"></div>
                    <div class="barReturn2"></div>
                </div>
                <a>Назад</a>
            </a>
        </div>
        <div class="carousel open" id="carousel1" *ngIf="imgLen > 0">
            <div class="arrow left img" (click)="prevImg(2)">
                <div class="arrowFull">
                    <div class="barArrow1-left"></div>
                    <div class="barArrow2-left"></div>
                </div>
            </div>
            <div class="objects">
                <ul id="carousel-ul-img2{{item?.id}}">
                    <li class="carousel-li-img2{{item?.id}}" *ngFor="let img of item?.photos">
                        <div class="photoBlock">
                            <img class="img"
                                 [src]="img.href">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="arrow right img" (click)="nextImg(2)">
                <div class="arrowFull">
                    <div class="barArrow1-right"></div>
                    <div class="barArrow2-right"></div>
                </div>
            </div>
        </div>
        <div class="photoBlock" *ngIf="imgLen == 0"
             [class.historyOpen]="historyOpen == true">
            <img class="img"
                  [src]="src">
            <div class="no-photo">{{photo_no_title}}</div>
        </div>
        <div class="bottom-block">
            <div class="flex-col bottom-info">
                <div class="street-block">
                    <div style="font-weight: bold;color:#252F32">{{item?.address}} {{item?.house_num}}</div>
                    <div style="color: #72727D">{{item?.city}}</div>
                    <div style="color: #72727D">{{item?.admArea}}</div>
                </div>
                <div class="add-info">
                    <div class="info left">
                        <div>Остановка</div>
                        <div>Время в пути:</div>
                        <div>Добавлено</div>
                    </div>
                    <div class="info">
                        <div id="busStop">{{objStop}}</div>
                        <div id="timeToBus">{{timeToBusStop}}</div>
                        <div>{{addDate}}</div>
                    </div>
                </div>

            </div>

            <div class="phone-block">
                <div class="contact-photo full" [ngStyle]="{'background-image': (payingMode == true || payingMode == 'true') && (loggingMode == true || loggingMode == 'true') ? 'url('+item?.photo+')' : 'url(../../../../assets/user-icon.png)', 'background-size': (payingMode == true || payingMode == 'true') && (loggingMode == true || loggingMode == 'true') ? 'cover':'125% 125%' }"></div>

                <div class="flex-col contact-info">
                    <div class="name" *ngIf="(payingMode == true || payingMode == 'true') && (loggingMode == true || loggingMode == 'true')">{{item.name}}</div>
                    <div class="middleman" *ngIf="(payingMode == true || payingMode == 'true') && (loggingMode == true || loggingMode == 'true')">{{item.IsMiddleman ? 'Посредник' : 'Частное лицо'}}</div>
                </div>
                <div style="display: flex">
                    <div class="phone-photo" *ngIf="(payingMode == true || payingMode == 'true') && (loggingMode == true || loggingMode == 'true')"></div>
                    <div class="flex-col" style="justify-content: center;" *ngIf="(payingMode == true || payingMode == 'true') && (loggingMode == true || loggingMode == 'true')">
                        <div class="phone" *ngIf="item?.phoneBlock?.main != null">{{item.phoneBlock != null ? '+7':''}}{{item?.phoneBlock?.main | mask: ' (000) 000-0000'}}</div>
                        <div class="phone" *ngIf="item?.phoneBlock?.other != null">{{item.phoneBlock != null ? '+7':''}}{{item?.phoneBlock?.other | mask: ' (000) 000-0000'}}</div>
                        <div class="phone" *ngIf="item?.phoneBlock?.home != null">{{item.phoneBlock != null ? '+7':''}}{{item?.phoneBlock?.home | mask: ' (000) 000-0000'}}</div>
                        <div class="phone" *ngIf="item?.phoneBlock?.cellphone != null">{{item.phoneBlock != null ? '+7':''}}{{item?.phoneBlock?.cellphone | mask: ' (000) 000-0000'}}</div>
                        <div class="phone" *ngIf="item?.phoneBlock?.fax != null">{{item.phoneBlock != null ? '+7':''}}{{item?.phoneBlock?.fax | mask: ' (000) 000-0000'}}</div>
                        <div class="phone" *ngIf="item?.phoneBlock?.ip != null">{{item.phoneBlock != null ? '+7':''}}{{item?.phoneBlock?.ip | mask: ' (000) 000-0000'}}</div>
                    </div>
                    <ng-container *ngIf="(payingMode != true && payingMode != 'true') || (loggingMode != true && loggingMode != 'true')">
                        <div class="button-contact" (click)="checklogin();">Позвонить</div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="bottom-block price" >
            <div class="star-block">
                <div class="starFav inner" *ngIf="!compare && compareItem" (mouseenter)="favHovered = true"
                     (mouseleave)="favHovered = false">
                    <img class="starImg" [class.open]="!favHovered && !item?.is_fav"
                         src="../../../../assets/4-4.png" width="22px">
                    <img (click)="addFavObject()" class="starImg" [class.open]="favHovered  && !item?.is_fav"
                         src="../../../../assets/4-4%20watched.png" width="22px">
                    <img (click)="delFavObject()" class="starImg" [class.open]="item?.is_fav"
                         src="../../../../assets/4-4%20watched.png" width="22px">
                </div>
                <div>Добавлено в избранное</div>
            </div>
            <div class="write-block">
                <div class="button-contact" (click)="checklogin();">Написать</div>
            </div>
        </div>
        <div class="header-block" style="text-transform: uppercase">
            <div *ngIf="item?.typeCode == 'room'"><span class="one">Комната</span></div>
            <div *ngIf="item?.typeCode == 'apartment'"><span class="one">Квартира</span></div>
            <div *ngIf="item?.typeCode == 'house'"><span class="one">Дом</span></div>
            <div *ngIf="item?.typeCode == 'dacha'"><span class="one">Дача</span></div>
            <div *ngIf="item?.typeCode == 'cottage'"><span class="one">Коттедж</span></div>
        </div>
        <div class="lineFull"></div>
        <div class="bottom-info price inner">
            <div class="price price-inner">{{formattedPrice}} P</div><div>Без комиссии</div>
        </div>
        <div class="bottom-block four">
            <div class="flex-col four-info">
                <div>Комнат</div>
                <div>Общая площадь</div>
                <div>Балкон/лоджия</div>
            </div>
            <div class="flex-col four-info">
                <div *ngIf="roomC">{{item?.roomsCount}}</div>
                <div>{{item?.squareTotal}}<span style="padding-left: 5px">кв.м</span></div>
                <div>{{ item.loggia || item.balcony ? 'Да' : 'Нет'}}</div>
            </div>
            <div class="flex-col four-info">
                <div>Этаж/этажность</div>
                <div>Санузел</div>
                <div>Залог</div>
            </div>
            <div class="flex-col four-info">
                <div>{{item?.floor}}/{{item?.floorsCount}}</div>
                <div>{{offItem.bathroomOptions[item?.bathroom]?.label}}</div>
                <div>{{item?.prepayment ? 'Да' : 'Нет'}}</div>
            </div>
        </div>
        <div class="header-block">Комплектация объекта</div>
        <div class="lineFull"></div>
        <div class="descriptionBlock">
            {{conveniences}}
        </div>
        <div class="header-block">Условия найма</div>
        <div class="lineFull"></div>
        <div class="descriptionBlock">
            {{conditions}}
        </div>
        <div class="header-block">Дополнительное описание</div>
        <div class="lineFull"></div>
        <div class="descriptionBlock">
            {{item?.description}}
        </div>
        <div class="header-block">Добавить рейтинг, отзыв</div>
        <div class="lineFull"></div>

        <div style="padding: 0 30px 40px;">
        </div>
    </div>
</div>
