<app-menu></app-menu>
<div class="main"  (window:resize) = "onResize()" *ngIf="!itemOpen">
  <div class="left-block" [class.close]="!openBlock || itemOpen" *ngIf="!itemOpen">
    <div class="logo">
      <div><span style="font-size: 24px">MAKLERONLINE</span></div>
      <div><span style="font-size: 10px;margin-left: 40px">ГРУППА КОМПАНИЙ ZAVRUS</span></div>
    </div>
    <div class="two-text-blocks">
      <div class="text-block font">
        <div class="line add" style="border-bottom-color: red"></div>
        <span>ОБЪЕКТЫ БЕЗ КОМИССИИ</span>
        <p>100% гарантия</p>
        <p>
          Каждый день у нас появляются новые объекты. Объявления проходят трехступенчатую проверку.
          Наши менеджеры тщательно проверяют каждое объявление и мы гарантируем,
          что объект сдается без комиссии. Вы ощутимо экономите!
        </p>
      </div>
      <div class="text-block font special">
        <div class="line add" style="border-bottom-color: #1e88e5"></div>
        <span>ОПУБЛИКОВАТЬ ОБЪЯВЛЕНИЕ</span>
        <p>Просто разместите объявление и ждите звонков.</p>
        <p>Ежедневно нас посещают более 1000 клиентов. Получите максимум просмотров. Сдавайте так же эффективно, как профессиональный риэлтор.</p>
        <p>Вам будут звонить только зарегистрированным пользователям.</p>
      </div>
    </div>
    <div class="two-text-blocks bottom">
      <div class="text-block font">
        <div class="line add" style="border-bottom-color: #00897b"></div>
        <span>ПЕРСОНАЛЬНЫЙ МЕНЕДЖЕР</span>
        <p>
          Теперь не нужно мониторить все сайты недвижимости. Вы задаете параметры, а наши менеджеры делают ежедневную подборку.
          К нам стекаются все предложения.  Мы обладаем полной базой объектов в реальном времени.мы знаем Все.
          Так же Вы получите отчет о проделанной работе, на Вашу почту и в личный кабинет сайта.
        </p>
        <p>Результат гарантирован!</p>
      </div>
      <div class="text-block font special" >
        <div class="line add" style="border-bottom-color: #8e24aa"></div>
        <span>УМНЫЙ МАКЛЕР</span>
        <p>
          У вас есть свободное время? Вы интересуетесь работой в недвижимости, но нет времени для ведения баз Арендаторов и Арендодателей.
          Наши менеджеры это сделают за Вас, Вам останется только договорится о показе объекта и сдать его клиенту.
          Посетите этот раздел, чтобы узнать подробности и возможности.
        </p>
      </div>
    </div>
    <div class="dark-layer"></div>
  </div>

</div>
<div class="right-block addRight" *ngIf="itemOpen">
  <div class="contact-info">
    <div class="contact-photo-rating">
      <img src="../../../../assets/photo.PNG" width="60px" height="60px"/>
      <div class="s_rating">
        <div class="s_rating_block">
          <input name="s_rating" value="5" id="s_rating_5" type="radio" />
          <label for="s_rating_5" class="s_label_rating"></label>
        </div>
        <span class="rating-count">4,25</span>
      </div>
    </div>

    <div class="contact-user-info">
      <span class="rating-count" style="font-weight: bold">ИВАНОВ Иван</span>
      <span class="text" style="font-size: 10px">ЭКСПЕРТ</span>
      <div class="line top"></div>
      <div class="user-info">
        <div class="text">Телефон рабочий</div>
        <div class="text">+7(4212) 63-77-55</div>
      </div>
      <div class="line top"></div>
      <div class="text">Электронный адрес</div>
      <div class="line top"></div>
      <div class="text">Организация</div>
      <div class="line top"></div>
      <div class="text">Сайт</div>
    </div>
    <div class="exitButton" *ngIf="itemOpen" (click)="blockCloseFunc('pay')">
      <div class="barMenu1"></div>
      <div class="barMenu2"></div>
    </div>
  </div>
  <div class="account-balance font">
    <div>
      <span style="margin-right: 15px">ВАШ БАЛАНС:</span>
      <span style="font-size: 26px">3000 р</span>
    </div>
    <div>
      <span style="margin-right: 30px">ОСТАЛОСЬ:</span>
      <span style="font-size: 26px">30</span><span style="margin-left: 5px;margin-right: 15px">ДНЕЙ</span>
      <span style="font-size: 26px">00:00:00</span>
    </div>
  </div>
  <span class="font" style="font-size: 16px;margin-left: 35px;">ВЫБЕРИТЕ КАТЕГОРИЮ</span>
  <div class="add-button" [class.open]="access" (click)="access = !access" style="margin-top: 30px;">
    <div class="plusExt" [class.change]="access">
      <div class="bar1"></div>
      <div class="bar2"></div>
    </div>
    <span>ДОСТУП К ПРОВЕРЕННЫМ ОБЪЯВЛЕНИЯМ</span>
  </div>
  <div class="additional-block" [class.open]="access">
    <div class="button-box">
      <div><p>1 ДЕНЬ</p><span>150 Р</span></div>
      <div><p>3 ДНЯ</p><span>300 Р</span></div>
      <div><p>НЕДЕЛЯ</p><span>560 Р</span></div>
      <div><p>МЕСЯЦ</p><span>1500 Р</span></div>
    </div>
  </div>
  <div class="add-button" [class.open]="publish" (click)="publish = !publish">
    <div class="plusExt" [class.change]="publish">
      <div class="bar1"></div>
      <div class="bar2"></div>
    </div>
    <span>ОПУБЛИКОВАТЬ ОБЪЯВЛЕНИЕ</span>
  </div>
  <div class="additional-block" [class.open]="publish">
    <div class="button-box">
      <div><p>1 ДЕНЬ</p><span>150 Р</span></div>
      <div><p>3 ДНЯ</p><span>300 Р</span></div>
      <div><p>НЕДЕЛЯ</p><span>560 Р</span></div>
      <div><p>МЕСЯЦ</p><span>1500 Р</span></div>
    </div>
  </div>
  <div class="add-button"  [class.open]="makler" (click)="makler = !makler">
    <div class="plusExt" [class.change]="makler">
      <div class="bar1"></div>
      <div class="bar2"></div>
    </div>
    <span>СЕРВИС УМНЫЙ МАКЛЕР</span>
  </div>
  <div class="additional-block" [class.open]="makler">
    <div class="button-box">
      <div><p>1 ДЕНЬ</p><span>150 Р</span></div>
      <div><p>3 ДНЯ</p><span>300 Р</span></div>
      <div><p>НЕДЕЛЯ</p><span>560 Р</span></div>
      <div><p>МЕСЯЦ</p><span>1500 Р</span></div>
    </div>
  </div>
  <div class="add-button" [class.open]="manager" style="border-bottom: 1px solid #a2a0a0" (click)="manager = !manager">
    <div class="plusExt" [class.change]="manager">
      <div class="bar1"></div>
      <div class="bar2"></div>
    </div>
    <span>ПЕРСОНАЛЬНЫЙ МЕНЕДЖЕР</span>
  </div>
  <div class="additional-block" [class.open]="manager">
    <div class="button-box">
      <div><p>1 ДЕНЬ</p><span>150 Р</span></div>
      <div><p>3 ДНЯ</p><span>300 Р</span></div>
      <div><p>НЕДЕЛЯ</p><span>560 Р</span></div>
      <div><p>МЕСЯЦ</p><span>1500 Р</span></div>
    </div>
  </div>
</div>
