<app-menu [headerPos]="headerPos" (openMenu)="menuMode($event)" [blockOpenInput]="blockOpen"
          (blockClosed)="blockOpen = 'open_menu'"></app-menu>
<!--[class.openMain]="!menuOpen" [class.closeMain]="menuOpen"-->
<div class="mainHome" [style.margin-top.px]="mainMargin"
     (touchstart)="touchstart($event)" (touchend)="touchend($event)" *ngIf="blockOpen == 'close_menu'">
    <div class="inner-main">
        <div class="city-picture"></div>
        <div class="titles">
            <div class="logoTitle1">РЕШИТЕ ВОПРОС АРЕНДЫ ЖИЛЬЯ САМЫМ РАЗУМНЫМ СПОСОБОМ</div>
            <div class="logoTitle2">ОНЛАЙН.</div>
            <div class="logoTitle3">Поиск недвижимости -это всегда сложно. Вот почему мы создали этот сервис. С помощью простого онлайн-процесса наша команда экспертов будет направлять Вас на каждом шагу этого пути.</div>
        </div>
        <div class="gray-block">
            <div class="title" style="margin-bottom: 10px">
                СЕРВИС АРЕНДА НЕДВИЖИМОСТИ
            </div>
            <div class="description">
                Все предложения в реальном времени и сдаются без комиссии. Только собственники.
            </div>
        </div>
        <div class="picture-block" [style.background-image]="'url(../../../../assets/operator.jpg)'"></div>
        <div class="gray-block" style="background-color: #EAEBEC">
            <div class="title">
                САМОСТОЯТЕЛЬНЫЙ ПОИСК
            </div>
            <div class="sub-title">
                Проверенная база объектов
            </div>
            <div style="display: flex;margin: 20px 0 10px;align-items: baseline;"><span style="font-size: 40px;margin-right: 10px">100%</span><span style="font-size: 30px">гарантия</span></div>
            <div class="description">
                Каждый день у нас появляются новые объекты.Объявления проходят трехступенчатую проверку. Наши менеджеры тщательно проверяют каждое объявление и мы гарантируем, что объект сдается без комиссии. Вы ощутимо экономите!
            </div>
            <div class="button" (click)="redirectFunc('m/objects/list')">Начать</div>
        </div>
        <div class="white-block item" style="    overflow-x: hidden;" *ngIf="items.length != 0">
            <div class="title">НЕДАВНО ДОБАВЛЕHНЫЕ ПРЕДЛОЖЕНИЯ</div>
            <div class="carousel open" id="items_carousel">
                <div class="arrow left round" (click)="prev_items()">
                    <div class="arrowFull">
                        <div class="barArrow1-left-round"></div>
                        <div class="barArrow2-left-round"></div>
                    </div>
                </div>
                <div class="items" style="overflow: unset;    margin-left: -70px;">
                    <ul id="items_carousel-ul">
                        <li class="items_carousel-li" *ngFor="let item of items; let i = index">
                            <item-middle [mode]="'main_page'" [index]="i" [item]="item" [loggingMode]="false" [payingMode]="false"></item-middle>
                        </li>
                    </ul>
                </div>
                <div class="arrow right round" (click)="next_items()">
                    <div class="arrowFull">
                        <div class="barArrow1-right-round"></div>
                        <div class="barArrow2-right-round"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="picture-block" [style.background-image]="'url(../../../../assets/operator.jpg)'"></div>
        <div class="white-block">
            <div style="color: #6B6B6B;font-size: 20px;font-family: Cadillac, sans-serif">ОСТАВИТЬ ЗАЯВКУ</div>
            <div style="color: #6B6B6B;font-size: 20px;font-family: Cadillac, sans-serif">ВАШ ПЕРСОНАЛЬНЫЙ МЕНЕДЖЕР</div>
            <div style="color: #414141;font-size: 30px;font-family: Cadillac, sans-serif">НОВЫЙ УРОВЕНЬ</div>
            <div style="color: #414141;font-size: 25px;margin-top: 10px;font-family: Cadillac, sans-serif">СЕРВИСА</div>
            <div style="font-size: 14px;color: #414141;margin-top: 20px">Теперь не нужно мониторить все сайты недвижимости. Вы задаете параметры, а наши менеджеры делают ежедневную подборку. К нам стекаются все предложения.  Мы обладаем полной базой объектов в реальном времени.мы знаем Все. Так же Вы получите отчет о проделанной работе, на Вашу почту и в личный кабинет сайта. Результат гарантирован!</div>
            <div class="button" style="background-color: #ED5829"  (click)="redirectFunc('m/objects/request')">Начать</div>
        </div>
        <div class="gray-block">
            <div class="title" style="margin-bottom: 10px">
                АРЕНДУЙТЕ С УВЕРЕННОСТЬЮ.
            </div>
            <div class="description">
                Мы помогаем многим арендаторам безопасно снимать жилье уже более пяти лет, и мы уверены,что можем сделать то же самое для Вас.
            </div>
            <div class="footer-text">Команда МаклерОнлайн</div>
        </div>
<!--        <div class="countLine mobile">-->
<!--            <div class="add" style="    letter-spacing: 0.02em;">ДОБАВЛЕНО СЕГОДНЯ</div>-->
<!--            <div style="display: flex; width: 100vw">-->
<!--                <div id="num1">-->
<!--                    <span class="countLineNumber">{{countTodayObjects}} <span-->
<!--                        class="countLineWord">Объектов</span></span>-->
<!--                </div>-->
<!--                <div id="num2">-->
<!--                    <span class="countLineNumber">417 <span class="countLineWord">Заявок</span></span>-->
<!--                </div>-->
<!--                <div id="num3">-->
<!--           <span class="countLineNumber">{{countObjects}}-->
<!--               <span class="countLineWord">В прайсе</span>-->
<!--           </span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="howItWorks">-->
<!--            <div class="titleWorks" style="    letter-spacing: 0.02em;">КАК ЭТО РАБОТАЕТ</div>-->
<!--            <div class="step">-->
<!--                <div class="stepNum">1</div>-->
<!--                <div class="stepDescription">-->
<!--                    Выберите недвижимость, воспользуйтесь-->
<!--                    фильтрами, картой...-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="step">-->
<!--                <div class="stepNum">2</div>-->
<!--                <div class="stepDescription">-->
<!--                    Зарегистрируйтесь в системе, или-->
<!--                    войдите под своей учетной записью-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="step">-->
<!--                <div class="stepNum">3</div>-->
<!--                <div class="stepDescription">-->
<!--                    Приобрести доступ к проверенным объявлениям. Стоимость доступа на одни сутки от 50 рублей.-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="textRent" style="    letter-spacing: 0.02em;">АРЕНДУЙТЕ С УВЕРЕННОСТЬЮ</div>-->
<!--            <div class="rentDescription">Мы помогаем многим арендаторам безопасно снимать жилье уже более четырех лет, и-->
<!--                мы уверены, что можем сделать то же самое для Вас.-->
<!--            </div>-->
<!--        </div>-->
        <div class="countLine word">
            <h2 class="wordOne">ОТЗЫВЫ</h2>
        </div>
        <div class="reviewsBottom"  style="background-color: white">
            <h3 class="compDescription">Мнения,и рекомендации других пользоватей – безусловно самое оптимальное социальное доказательство качества услуги</h3>
            <div class="carousel open" id="carousel">
                <div class="arrow left" (click)="prev()">
                    <div class="arrowFull">
                        <div class="barArrow1-left"></div>
                        <div class="barArrow2-left"></div>
                    </div>
                </div>
                <div class="objects">
                    <ul id="carousel-ul">
                        <li class="carousel-li" *ngFor="let review of reviews">
                            <div class="reviews">
                                <div class="reviewBlock" >
                                    <img class="iconUser" alt="фотография автора отзыва" title="фотография автора отзыва" [src]="review.photo">
                                    <div class="name">{{review.name}}</div>
<!--                                    <div class="ratingTest">-->
<!--                                        <span></span><span></span><span></span><span></span><span></span>-->
<!--                                    </div>-->
                                    <div class="reviewBlockInfo">
                                        <div class="reviewText">
                                            {{review.text}}
                                        </div>
                                        <div class="author">{{review.job}}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="arrow right" (click)="next()">
                    <div class="arrowFull">
                        <div class="barArrow1-right"></div>
                        <div class="barArrow2-right"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="picture-block" [style.background-image]="'url(../../../../assets/operator.jpg)'"></div>
        <div class="gray-block" style="background-color: #EAEBEC">
            <div style="color: #6B6B6B;font-size: 20px;font-family: Cadillac, sans-serif">РЕКЛАМИРОВАТЬ СВОЮ НЕДВИЖИМОСТЬ</div>
            <div style="color: #6B6B6B;font-size: 20px;font-family: Cadillac, sans-serif">ВАШ ПЕРСОНАЛЬНЫЙ МЕНЕДЖЕР</div>
            <div style="color: #414141;font-size: 30px;font-family: Cadillac, sans-serif">НОВЫЙ УРОВЕНЬ</div>
            <div style="color: #414141;font-size: 25px;margin-top: 10px;font-family: Cadillac, sans-serif">СЕРВИСА</div>
            <div style="font-size: 14px;color: #414141;margin-top: 20px">Теперь не нужно мониторить все сайты недвижимости. Вы задаете параметры, а наши менеджеры делают ежедневную подборку. К нам стекаются все предложения.  Мы обладаем полной базой объектов в реальном времени.мы знаем Все. Так же Вы получите отчет о проделанной работе, на Вашу почту и в личный кабинет сайта. Результат гарантирован!</div>
            <a class="button" style="background-color: #ED5829" >Начать</a>
        </div>
        <div class="gray-block" style="background-color: #252F32">
            <div class="title" style="font-size: 26px; color: white">О НАС</div>
            <div class="footer-text" style="margin: 20px 0;">Представьте, Вы открываете страницу Сервиса, выбираете квартиру,комнату, звоните, и Вам отвечает - Собственник!</div>
            <div class="description" style="color: #F6F6F6;margin-bottom: 15px;">Поиск недвижимости от собственников это всегда сложно. Вот почему мы создали этот сервис. Мы помогаем нашим клиентам, арендовать жилье напрямую, от собственника, и занимаемся этим с 2013 года.</div>
            <div class="description" style="color: #F6F6F6;margin-bottom: 15px">
                К нам стекается информация по аренде недвижимости, мы ее проверяем и добавляем на наш сервис. После регистрации — один час бесплатно, это поможет Вам убедиться, и начать доверять опубликованной информации. </div>
            <div class="description" style="color: #F6F6F6;margin-bottom: 15px">
                Наши клиенты это люди которые уже обращались к нам за нашей услугой ранее, а так же те кто хочет арендовать напрямую, у собственника. Они не видят смысла искать её где-то в другом месте. Все уже здесь. Отзывы о нас говорят сами за себя.
            </div>
            <div class="description" style="color: #F6F6F6;margin-bottom: 15px">
                Мы не агентство, и будем рады помочь Вам, найти Вашу будущую недвижимость.
            </div>
            <div class="footer-text">
                Команда MaklerOnline
            </div>
            <div class="button" style="background-color: #DB5151" (click)="openMobileMenu()">Начать</div>
        </div>
<!--        <div class="uselessLineHome">-->
<!--            <div class="companyName">МАКЛЕРОНЛАЙН</div>-->
<!--            <div class="hideMenu" (click)="openMobileMenu()">-->
<!--                <div class="bar1"></div>-->
<!--                <div class="bar2"></div>-->
<!--                <div class="bar3"></div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="countLine yearBlock" style="justify-content: center">
            <div class="anniversaryYear">5</div>
            <div class="year">ЛЕТ</div>
            <div class="anniversaryDate">
                <div>ЮБИЛЕЙНЫЙ ГОД</div>
                <div>2013 • 2018</div>
            </div>
        </div>
        <!--mobile-->
        <footer class="footer">
            <div class="footer-top">
                <div class="social-icons">
                    <a href="https://www.facebook.com/sharer.php?u=https://makleronline.net/&amp;t=MaklerOnline"
                       style="outline: none" (click)="facebook = true">
                        <img src="../../../../assets/icons8-facebook-circled-100.png" [class.imgnondisp]="facebook">
                        <img src="../../../../assets/icons8-facebook-circled-filled-100.png"
                             [class.imgnondisp]="!facebook">
                    </a>
                    <a href="https://vk.com/share.php?url=https://makleronline.net/" style="outline: none"
                       (click)="vk = true">
                        <img class="icon" src="../../../../assets/icons8-vk-circled-100.png" [class.imgnondisp]="vk"/>
                        <img class="icon" src="../../../../assets/icons8-vk-circled-filled-100.png"
                             [class.imgnondisp]="!vk"/>
                    </a>
                    <a href="https://connect.ok.ru/offer?url=https://makleronline.net/&title=MaklerOnline"
                       style="outline: none"
                       (click)="odnokl = true">
                        <img class="icon" src="../../../../assets/icons8-odnoklassniki-circled-100-non-hover.png"
                             [class.imgnondisp]="odnokl"/>
                        <img class="icon" src="../../../../assets/icons8-odnoklassniki-circled-filled-100.png"
                             [class.imgnondisp]="!odnokl"/>
                    </a>

                    <!--<a href="https://www.facebook.com/sharer.php?u=https://makleronline.net/&amp;t=MaklerOnline"><img src="../../../../assets/icons8-facebook-circled-filled-100.png"></a>-->
                    <!--<a href="https://vk.com/share.php?url=https://makleronline.net/"><img class="icon" src="../../../../assets/icons8-vk-circled-filled-100.png"/></a>-->
                    <!--<a href="https://connect.ok.ru/offer?url=https://makleronline.net/&title=MaklerOnline"><img class="icon" src="../../../../assets/icons8-odnoklassniki-circled-filled-100.png"/></a>-->
                    <!-- <img class="icon" src="../assets/pinterest1.png"/
                    <img class="icon" src="../assets/instagram1.png"/> -->
                </div>
                <div class="login-block">
                    <div class="button-login" (click)="openMobileMenu()">
                        НАЧАТЬ
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="footer-center">
                <div class="contacts">
                    <div class="footer-title">НАШИ КОНТАКТЫ</div>
                    <div style="display: flex">
                        <div class="contacts-left">
                            <div>Телефон</div>
                            <div>WhatsApp</div>
                            <div>E-mail</div>
                            <div>Вконтакте</div>
                            <div>Инстаграм</div>
                        </div>
                        <div class="contacts-right">
                            <a href="tel:+79243090030" class="social-link">+7 (924) 309-00-30</a>
                            <a href="https://wa.me/79244040059" class="social-link">https://wa.me/79244040059</a>
                            <a href="mailto:info@makleronline.net" class="social-link">info@makleronline.net</a>
                            <a href="https://vk.com/club82992253" class="social-link">https://vk.com/club82992253</a>
                            <a href="https://www.instagram.com/makleronlinekhv/" class="social-link">https://www.instagram.com/
                                makleronlinekhv/</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div style="margin-bottom: 10px;" [routerLink]="['polzovatelskoe-soglashenie']">Пользовательское
                    соглашение
                </div>
                <div style="margin-bottom: 10px;">Использование сайта, в том числе подача объявлений, означает согласие
                    с пользовательским соглашением.
                </div>
                <div>© 2013-2018 г. Makleronline.net Использование материалов Makleronline.net возможно только с
                    согласия
                    правообладателя.
                </div>
            </div>
        </footer>
    </div>
</div>
