<app-menu [headerPos]="headerPos" (openMenu)="menuMode($event)" [blockOpenInput]="blockOpen"
          (blockClosed)="blockOpen = 'open_menu'"></app-menu>
<!--[class.openMain]="!menuOpen" [class.closeMain]="menuOpen"-->
<div class="mainHome" [style.margin-top.px]="mainMargin"
     (touchstart)="touchstart($event)" (touchend)="touchend($event)" *ngIf="blockOpen == 'close_menu'">
    <div class="inner-main">
        <div class="titles">
            <div class="text-block-titles">
                <div class="logoTitle1">Решите вопрос аренды жилья самым разумным способом. Онлайн.</div>
                <div class="logoTitle3">Поиск недвижимости -это всегда сложно. Вот почему мы создали этот сервис.
                    С помощью простого онлайн-процесса наша команда экспертов будет направлять Вас на каждом шаге этого
                    пути.
                </div>
            </div>
            <div class="logoTitle2">ZAVRUS PRESENT</div>
        </div>
        <div class="gray-block">
            <div class="title" style="margin-bottom: 10px">
                СЕРВИС АРЕНДА НЕДВИЖИМОСТИ
            </div>
            <div class="description">
                Все предложения в реальном времени и сдаются без комиссии. Только собственники.
            </div>
        </div>
        <div class="white-block item" style="    overflow-x: hidden;">
            <div class="title" style="font-weight: bold;">ДОБАВЛЕНО НЕДАВНО</div>
            <div class="carousel open" id="items_carousel" style="margin-bottom: 0;">
                <div class="items" style="overflow: auto;">
                    <ul id="items_carousel-ul" style="width: max-content;">
                        <li class="items_carousel-li" *ngFor="let item of items; let i = index">
                            <item-middle [mode]="'main_page'" [index]="i" [item]="item" [loggingMode]="false"
                                         [payingMode]="false"></item-middle>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="picture-block" [style.background-image]="'url(../../../../assets/woman1.jpg)'"></div>
        <div class="yellow-block">
            <div class="title">
                ПОИСК ПРЕДЛОЖЕНИЯ
            </div>
            <div class="footer-text">
                Найдите свою новую недвижимость с Маклеронлайн
            </div>
            <div class="description top">
                К нам стекается информация по аренде недвижимости  со всех рекламных площадок, и напрямую от
                собственников, мы ее проверяем и публикуем.
            </div>
            <div class="description">
                Отзывы наших клиентов говорят о хорошем качестве 
                информации на сервисе, убедитесь сами! 
            </div>
            <div class="description">
                После регистрация на сервисе, первый час поиска, мы Вам, предоставляем бесплатно.
            </div>
            <div class="description">
                Мы помогаем многим арендаторам безопасно снимать жилье уже более пяти лет, и мы уверены,что можем
                сделать то же самое для Вас.
            </div>
            <div class="description">
                Возникнут вопросы звоните или пишите, консультируем бесплатно.
            </div>
            <div class="button" (click)="redirectFunc('m/objects/list')">
                <div class="border"></div>
                Начать
            </div>
        </div>
        <div class="countLine word">
            <h2 class="wordOne">ОТЗЫВЫ</h2>
        </div>
        <div class="reviewsBottom" style="background-color: white">
            <h3 class="compDescription">Мнения,и рекомендации других пользователей – безусловно самое оптимальное
                социальное доказательство качества услуги</h3>
            <div class="carousel open" id="carousel">
                <div class="objects">
                    <ul id="carousel-ul">
                        <li class="carousel-li" *ngFor="let review of reviews">
                            <div class="reviews">
                                <div class="reviewBlock">
                                    <img class="iconUser" alt="фотография автора отзыва"
                                         title="фотография автора отзыва" [src]="review.photo">
                                    <div class="name">{{review.name}}</div>
                                    <div class="reviewBlockInfo">
                                        <div class="reviewText">
                                            {{review.text}}
                                        </div>
                                        <div class="author">{{review.job}}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="picture-block" [style.background-image]="'url(../../../../assets/woman2.jpg)'"></div>
        <div class="yellow-block">
            <div class="title">
                ОСТАВИТЬ ЗАЯВКУ
            </div>
            <div class="footer-text">Не тратьте время на поиск, Мы найдем для Вас то,что Вам нужно</div>
            <div class="description top">
                Создайте свою заявку в МаклерОнлайн, учтите места где чаще всего бываете, Вашу работу, места обучения,
                детские учреждения и.т.д. 
            </div>
            <div class="description">
                Теперь к Вам, персональный подход. Ваши интересы, становятся нашими, с Вашей заявкой будет работать
                один из наших квалифицированных менеджеров. 
            </div>
            <div class="description">
                Рассматривайте  поступившие предложения и выбираете самое лучшее. (Предложения поступят на Вашу почту)
            </div>
            <div class="description">
                Создание заявки - бесплатно.
            </div>
            <div class="description">
                Возникнут вопросы звоните или пишите, консультируем  
                бесплатно. 
            </div>
            <div class="button" (click)="redirectFunc('m/objects/request')">
                <div class="border"></div>
                Начать
            </div>
        </div>
        <div class="picture-block" [style.background-image]="'url(../../../../assets/man1.jpg)'"></div>
        <div class="yellow-block">
            <div class="title">
                РАЗМЕСТИТЬ ОБЪЯВЛЕНИЕ
            </div>
            <div class="description top">
                Продемонстрируйте свою собственность с помощью МаклерОнлайн и получите большой охват арендаторов.
            </div>
            <div class="description">
                Это просто! Создайте свое объявление в МаклерОнлайн сейчас, это займет считанные минуты.
                Покажите  преимущества вашей собственности.
            </div>
            <div class="description">
                МаклерОнлайн предоставит вам доступ к целевой аудитории, которая ежемесячно генерирует тысячи запросов
                по поиску недвижимости для аренды.
            </div>
            <div class="description">
                Сдавайте уверено!
            </div>
            <div class="description">
                Возникнут вопросы звоните или пишите, консультируем  
                бесплатно. 
            </div>
            <div class="description">
                Добавить свое объявление на сервис - бесплатно (Для собственников недвижимости)
            </div>
            <div class="button" (click)="redirectFunc('m/objects/request')">
                <div class="border"></div>
                Начать
            </div>
        </div>
        <div class="gray-block" style="background-color: #252F32">
            <div class="title" style="font-size: 26px; color: white">О НАС</div>
            <div class="footer-text" style="margin: 20px 0;">Представьте, Вы открываете страницу Сервиса, выбираете
                квартиру,комнату, звоните, и Вам отвечает - Собственник!
            </div>
            <div class="description" style="color: #F6F6F6;margin-bottom: 15px;">Поиск недвижимости от собственников это
                всегда сложно. Вот почему мы создали этот сервис. Мы помогаем нашим клиентам, арендовать жилье напрямую,
                от собственника, и занимаемся этим с 2013 года.
            </div>
            <div class="description" style="color: #F6F6F6;margin-bottom: 15px">
                К нам стекается информация по аренде недвижимости, мы ее проверяем и добавляем на наш сервис. После
                регистрации — один час бесплатно, это поможет Вам убедиться, и начать доверять
                опубликованной информации.
            </div>
            <div class="description" style="color: #F6F6F6;margin-bottom: 15px">
                Наши клиенты это люди которые уже обращались к нам за нашей услугой ранее, а так же те кто хочет
                арендовать напрямую, у собственника. Они не видят смысла искать её где-то в другом месте. Все уже здесь.
                Отзывы о нас говорят сами за себя.
            </div>
            <div class="description" style="color: #F6F6F6;margin-bottom: 15px">
                Мы не агентство, и будем рады помочь Вам, найти Вашу будущую недвижимость.
            </div>
            <div class="footer-text">
                Команда MaklerOnline
            </div>
            <div class="button light" (click)="openMobileMenu()">
                <div class="border"></div>
                Начать
            </div>
        </div>
        <!--        <div class="uselessLineHome">-->
        <!--            <div class="companyName">МАКЛЕРОНЛАЙН</div>-->
        <!--            <div class="hideMenu" (click)="openMobileMenu()">-->
        <!--                <div class="bar1"></div>-->
        <!--                <div class="bar2"></div>-->
        <!--                <div class="bar3"></div>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="countLine yearBlock" style="justify-content: center">
            <div class="anniversaryYear">7</div>
            <div class="year">ЛЕТ</div>
            <div class="anniversaryDate">
                <div>ЮБИЛЕЙНЫЙ ГОД</div>
                <div>2013 • 2020</div>
            </div>
        </div>
        <!--mobile-->
        <footer class="footer">
            <div class="footer-top">
                <div class="social-icons">
                    <div
                        style="outline: none"
                        (click)="facebook = true; redirSocial('https://www.facebook.com/makleronlinekhv/')">
                        <img src="../../../../assets/icons8-facebook-circled-100.png" [class.imgnondisp]="facebook">
                        <img src="../../../../assets/icons8-facebook-circled-filled-100.png"
                             [class.imgnondisp]="!facebook">
                    </div>
                    <div style="outline: none"
                         (click)="vk = true;redirSocial('https://vk.com/club82992253')">
                        <img class="icon" src="../../../../assets/icons8-vk-circled-100.png" [class.imgnondisp]="vk"/>
                        <img class="icon" src="../../../../assets/icons8-vk-circled-filled-100.png"
                             [class.imgnondisp]="!vk"/>
                    </div>
                    <div
                        style="outline: none"
                        (click)="odnokl = true;redirSocial('https://ok.ru/makleronline')">
                        <img class="icon" src="../../../../assets/icons8-odnoklassniki-circled-100-non-hover.png"
                             [class.imgnondisp]="odnokl"/>
                        <img class="icon" src="../../../../assets/icons8-odnoklassniki-circled-filled-100.png"
                             [class.imgnondisp]="!odnokl"/>
                    </div>

                    <!--<a href="https://www.facebook.com/sharer.php?u=https://makleronline.net/&amp;t=MaklerOnline"><img src="../../../../assets/icons8-facebook-circled-filled-100.png"></a>-->
                    <!--<a href="https://vk.com/share.php?url=https://makleronline.net/"><img class="icon" src="../../../../assets/icons8-vk-circled-filled-100.png"/></a>-->
                    <!--<a href="https://connect.ok.ru/offer?url=https://makleronline.net/&title=MaklerOnline"><img class="icon" src="../../../../assets/icons8-odnoklassniki-circled-filled-100.png"/></a>-->
                    <!-- <img class="icon" src="../assets/pinterest1.png"/
                    <img class="icon" src="../assets/instagram1.png"/> -->
                </div>
            </div>
            <div class="line"></div>
            <div class="footer-center">
                <div class="contacts">
                    <div class="footer-title">НАШИ КОНТАКТЫ</div>
                    <div style="display: flex;font-size: 14px">
                        <div class="contacts-left">
                            <div>Телефон</div>
                            <div>WhatsApp</div>
                            <div>E-mail</div>
                            <!--                            <div>Инстаграм</div>-->
                        </div>
                        <div class="contacts-right">
                            <a href="tel:+79243090030" class="social-link">+7 (924) 309-00-30</a>
                            <a href="https://wa.me/79243090030" class="social-link">https://wa.me/79243090030</a>
                            <a href="mailto:info@makleronline.net" class="social-link">info@makleronline.net</a>
                            <!--                            <a href="https://www.instagram.com/makleronlinekhv/" class="social-link">https://www.instagram.com/-->
                            <!--                                makleronlinekhv/</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div style="margin-bottom: 10px;" [routerLink]="['polzovatelskoe-soglashenie']">Пользовательское
                    соглашение
                </div>
                <div style="margin-bottom: 10px;">Использование сайта, в том числе подача объявлений, означает согласие
                    с пользовательским соглашением.
                </div>
                <div>© 2013-2018 г. Makleronline.net Использование материалов Makleronline.net возможно только с
                    согласия
                    правообладателя.
                </div>
            </div>
        </footer>
    </div>
</div>
