.main.fullOpen{
  position: unset;
}
.barMenu1, .barMenu2{
  width: 30px;
  height: 1.5px;
  background-color: #8F8F8F;
  margin: 3px 0;
}
.barMenu1{
  transform: rotate(45deg);
}
.barMenu2{
  transform: rotate(-45deg) translate(3px, -3px);
}
.exitButton{
  position: relative;
  top: -35px;
  width: 30px;
  right: -100%;
}
.input-add{
  background-color: #f6f6f6;
  border: none;
}
.tablet-add-ext{
  background-color: #f6f6f6;
  padding-left: 10px;
}
.mob{
  white-space: pre-line;
}
.contact-info.mobile{
  margin-top: 20px;
}
.rating-count.mobile{
  font-size: 14px;
}
.s_rating_block.mobile{
  margin-right: 0;
}
.name.mobile{
  margin-top: 0;
  margin-left: 0;
}
.line.mobile{
  margin: 10px 0 15px 0;
}
.info-ext{
  margin-top: 25px;
  padding-top: 20px;
  padding-left: 10px;
  flex: 0 0 calc(50% - 10px);
}
.photo-desk{
  width: 60px;
  height: 60px;
}
.photo-mobile{
  width: 35px;
  height: 35px;
}
.name{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 25px;
}
.text-add{
  width: 20vw;
}
.tablet{
  display: flex;
}
.tablet-add{
  flex: 0 0 calc(50% - 10px);
}
.user-info{
  display: flex;
  transition: 0.4s;
}
textarea{
  height: auto;
  min-height: 70px;
  min-width: 290px;
  max-width: 420px;
  width: 14vw;
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 14px;
  color: #262f32;
  border: none;
}
textarea::-webkit-scrollbar { width: 0;height: 0; }
.input-block{
  display: flex;
  align-items: center;
}
.input-field{
  border: none;
  width: 12vw;
  min-width: 100px;
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 14px;
  color: #262f32;
}
.input-field:active, .input-field:focus,textarea:active, textarea:focus{
  outline: none;
  border: none;
}
.input-field::selection, textarea::selection{
  background-color: #821529;
  color: white;
}
.rating-count{
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  color: #262f32;
  font-size: 18px;
}
.font{
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  color: #262f32;
}
.main{
  display: flex;
  min-height: calc(100vh - 195px);
  position: fixed;
  height: calc(100% - 65px);
}
.right-block{
  width: calc(23vw - 3vw);
  min-width: 350px;
  max-width: 440px;
  padding-left: 30px;
  position: relative;
  overflow-y: scroll;
  transition: 0.3s;
}
.mobile-main{
  position: unset;
  min-height: unset;
  height: unset;
}
.tablet-main{
  position: unset;
  width: 100vw;
}
.tablet-right{
  width: 100vw;
  max-width: unset;
  padding-left: 20px;
}
.contact-info{
  display: flex;
  margin-top: 30px;
}
.contact-photo-rating{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.contact-user-info{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 10px;
}
.text{
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 12px;
  color: #677578;
}
.text.ext{
  width: 130px;
}
.line{
  border-bottom: 1px solid #d3d5d6;
  width: auto;
  margin: 10px 0 30px 0;
}
.line.top{
  width: 14vw;
}
.line.bottom{
  width: calc(100% - 30px);
  min-width: 285px;
}
.line.add{
  border-color: #262f32;
  margin: 10px 0 20px 0;
  width: 20vw;
  min-width: 285px;
}
.check-block{
  display: flex;
  margin-bottom: 17px;
}
.check-block .input{
  height: 19px;
  width: 19px;
  border: 1px solid #c0c0c0;
  margin-right: 40px;
}
.check-block span{
  font-size: 12px;
  width: 16vw;
  min-width: 230px;
  color: #252f32;
}
.button-next{
  font-size: 12px;
  background-color: #821529;
  color: white;
  height: 40px;
  width: 20vw;
  min-width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Cadillac, sans-serif;
  letter-spacing: .086rem;
  margin-top: 30px;
  margin-bottom: 25px;
}
.s_rating{
  display: flex;
  margin-top: 10px;
}
.s_rating_block{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.s_rating_block input{
  margin-right: 3px;
}
.s_rating_block input[type="radio"]{
  display: none;
}
.s_label_rating{
  float: right;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../../../../assets/star.png") no-repeat 50% 0;
  cursor: pointer;
  margin-right: 2px;
}
.s_rating_block .s_label_rating:hover,
.s_rating_block .s_label_rating:hover ~ .s_label_rating,
.s_rating_block input[type="radio"]:checked ~ .s_label_rating {
  background-position: 50% -20px;
}
.right-block::-webkit-scrollbar { width: 0;height: 0; }
@media all and (min-width: 1520px) {
  .right-block{
    border-left: 1px solid darkgray;
  }
}
@media all and (max-width: 1650px) {
  .user-info{
    flex-direction: column;
    line-height: 20px;
  }
}
@media all and (max-width: 1050px) {
  .line.add, .button-next, .text-add, .line.top{
    width: calc(100% - 30px);
  }
}
