<div class="main right-main proposal" >
  <div class="hideMenu exit-close" (click)="blockCloseFunc('proposal');">
    <div class="barExit1"></div>
    <div class="barExit2"></div>
  </div>
  <div class="right-block addRight">

    <div class="howItWorks">
      <div class="titleWorks"  style="    letter-spacing: 0.02em;">
        <span style="font-size: 16px">ОСТАВЬТЕ ЗАЯВКУ:</span>
        <span>
          И МЫ ПОДБЕРЕМ ВАМ НЕДВИЖИМОСТЬ.
          Результат в течении часа гарантирован!
        </span>
      </div>
      <div class="step">
        <div class="stepNum">1</div>
        <div class="stepDescription">
          Вы оставляете заявку. Наш менеджер связывается с Вами. Уточняет детали.
        </div>
      </div>
      <div class="step">
        <div class="stepNum">2</div>
        <div class="stepDescription">
          Система подбирает подходящие объекты.
          под Вашу заявку.
        </div>
      </div>
      <div class="step">
        <div class="stepNum">3</div>
        <div class="stepDescription">
          Отдел качества проверит эти объекты на предмет актуальности.
        </div>
      </div>
      <div class="step" style="    margin-bottom: 60px;">
        <div class="stepNum">4</div>
        <div class="stepDescription">
          Система высылает эти объекты на Вашу почту, а также они будут сохранены в  Ваши заявки. (пункт раздела меню сайта)
        </div>
      </div>
      <div class="rentDescription">Мы помогаем многим арендаторам безопасно снимать жилье  уже более четырех лет, Поиск объектов под вашу заявку будет актуален в течении 3 дней. После окончания этого срока
        наступают <a style="color: #0E3E9B; text-decoration: underline" (click)="checkOutFunc('special')">особые условия</a> .</div>
    </div>
    <div class="button-next" (click)="checkOutFunc('login')">
      <span>ПРОДОЛЖИТЬ</span>
      <div class="arrowBars">
        <div class="arrowBar1"></div>
        <div class="arrowBar2"></div>
      </div>
    </div>
  </div>
</div>
