<app-menu [homePage]="true"></app-menu>
<div class="mainHome" (window:resize)=resize()>
    <div class="inner-main">
        <div class="picture">
            <div class="titles">
                <div class="text-block-titles">
                    <div class="logoTitle1">Решите вопрос аренды жилья самым разумным способом. Онлайн.</div>
                    <div class="logoTitle3">Поиск недвижимости -это всегда сложно. Вот почему мы создали этот сервис.
                        С помощью простого онлайн-процесса наша команда экспертов будет направлять Вас на каждом шаге
                        этого пути.
                    </div>
                </div>
                <div class="logoTitle2">ZAVRUS PRESENT</div>
            </div>
        </div>
        <div class="gray-block" style="height:auto;justify-content: center;    align-items: center;">
            <div class="title" style="margin-bottom: 10px;">
                СЕРВИС АРЕНДА НЕДВИЖИМОСТИ
            </div>
            <div class="description" style="font-size: 20px">
                Все предложения в реальном времени и сдаются без комиссии. Только собственники.
            </div>
        </div>
        <div class="white-block" style="    overflow-x: hidden;padding: 40px 0 50px;width: 100%;    height: auto;">
            <div class="title" style="font-weight: bold;padding: 0 50px;">НЕДАВНО ДОБАВЛЕННЫЕ ПРЕДЛОЖЕНИЯ</div>
            <div class="carousel open" id="items_carousel" style="margin-bottom: 0;" *ngIf="items.length != 0">
                <div class="arrow left img" (click)="prev()" style="top: 95px;">
                    <div class="arrowFull">
                        <div class="barArrow1-left"></div>
                        <div class="barArrow2-left"></div>
                    </div>
                </div>
                <div class="items" style="overflow: hidden;width: 100%;">
                    <ul id="items_carousel-ul" style="width: max-content;" [style.left.px]="items.length < 5 ? 0 : -382">
                        <li class="items_carousel-li" *ngFor="let item of items; let i = index">
                            <item-middle [mode]="'main_page'" [index]="i" [item]="item" [loggingMode]="false"
                                         [payingMode]="false"></item-middle>
                        </li>
                    </ul>
                </div>
                <div class="arrow right img" (click)="next()" style="top: 95px;">
                    <div class="arrowFull">
                        <div class="barArrow1-right"></div>
                        <div class="barArrow2-right"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex">
            <div class="picture-block" [style.background-image]="'url(../../../../assets/woman1.jpg)'"></div>
            <div class="yellow-block">
                <div class="title">
                    ПОИСК ПРЕДЛОЖЕНИЯ
                </div>
                <div class="footer-text">
                    Найдите свою новую недвижимость с Маклеронлайн
                </div>
                <div class="description top">
                    К нам стекается информация по аренде недвижимости  со всех рекламных площадок, и напрямую от
                    собственников, мы ее проверяем и публикуем.
                </div>
                <div class="description">
                    Отзывы наших клиентов говорят о хорошем качестве 
                    информации на сервисе, убедитесь сами! 
                </div>
                <div class="description">
                    После регистрация на сервисе, первый час поиска, мы Вам, предоставляем бесплатно.
                </div>
                <div class="description">
                    Мы помогаем многим арендаторам безопасно снимать жилье уже более пяти лет, и мы уверены,что можем
                    сделать то же самое для Вас.
                </div>
                <div class="description bottom">
                    Возникнут вопросы звоните или пишите, консультируем бесплатно.
                </div>
                <div class="button" (click)="redirectFunc('m/objects/list')">
                    <div class="border"></div>
                    Начать
                </div>
            </div>
        </div>
        <div class="countLine word">
            <h2 class="wordOne">ОТЗЫВЫ</h2>
        </div>
        <div class="reviewsBottom" style="background-color: white">
            <h3 class="compDescription">Мнения,и рекомендации других пользователей – безусловно самое оптимальное
                социальное доказательство качества услуги</h3>
            <div class="carousel open" id="carousel">
                <div class="arrow left img" (click)="prevReview()">
                    <div class="arrowFull">
                        <div class="barArrow1-left"></div>
                        <div class="barArrow2-left"></div>
                    </div>
                </div>
                <div class="objects">
                    <ul id="carousel-ul">
                        <li class="carousel-li" *ngFor="let review of reviews">
                            <div class="reviews">
                                <div class="reviewBlock">
                                    <img class="iconUser" alt="фотография автора отзыва"
                                         title="фотография автора отзыва" [src]="review.photo">
                                    <div class="name">{{review.name}}</div>
                                    <div class="reviewBlockInfo">
                                        <div class="reviewText">
                                            {{review.text}}
                                        </div>
                                        <div class="author">{{review.job}}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="arrow right img" (click)="nextReview()">
                    <div class="arrowFull">
                        <div class="barArrow1-right"></div>
                        <div class="barArrow2-right"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display:flex;">
            <div class="picture-block" [style.background-image]="'url(../../../../assets/woman2.jpg)'"></div>
            <div class="yellow-block">
                <div class="title">
                    ОСТАВИТЬ ЗАЯВКУ
                </div>
                <div class="footer-text">Не тратьте время на поиск, Мы найдем для Вас то,что Вам нужно</div>
                <div class="description top">
                    Создайте свою заявку в МаклерОнлайн, учтите места где чаще всего бываете, Вашу работу, места обучения,
                    детские учреждения и.т.д. 
                </div>
                <div class="description">
                    Теперь к Вам, персональный подход. Ваши интересы, становятся нашими, с Вашей заявкой будет работать
                    один из наших квалифицированных менеджеров. 
                </div>
                <div class="description">
                    Рассматривайте  поступившие предложения и выбираете самое лучшее. (Предложения поступят на Вашу почту)
                </div>
                <div class="description">
                    Создание заявки - бесплатно.
                </div>
                <div class="description">
                    Возникнут вопросы звоните или пишите, консультируем  
                    бесплатно. 
                </div>
                <div class="button" (click)="redirectFunc('m/objects/request')">
                    <div class="border"></div>
                    Начать
                </div>
            </div>
        </div>
        <div style="display:flex;">
            <div class="yellow-block">
                <div class="title">
                    РАЗМЕСТИТЬ ОБЪЯВЛЕНИЕ
                </div>
                <div class="description top">
                    Продемонстрируйте свою собственность с помощью МаклерОнлайн и получите большой охват арендаторов.
                </div>
                <div class="description">
                    Это просто! Создайте свое объявление в МаклерОнлайн сейчас, это займет считанные минуты.
                    Покажите  преимущества вашей собственности.
                </div>
                <div class="description">
                    МаклерОнлайн предоставит вам доступ к целевой аудитории, которая ежемесячно генерирует тысячи запросов
                    по поиску недвижимости для аренды.
                </div>
                <div class="description">
                    Сдавайте уверено!
                </div>
                <div class="description">
                    Возникнут вопросы звоните или пишите, консультируем  
                    бесплатно. 
                </div>
                <div class="description">
                    Добавить свое объявление на сервис - бесплатно (Для собственников недвижимости)
                </div>
                <div class="button" (click)="redirectFunc('m/objects/request')">
                    <div class="border"></div>
                    Начать
                </div>
            </div>
            <div class="picture-block" [style.background-image]="'url(../../../../assets/man1.jpg)'"></div>
        </div>
        <div class="gray-block blue">
            <div class="gray-block blue inner">
                <div class="title" style="color: white">О НАС</div>
                <div class="footer-text" style="margin: 20px 0;">Представьте, Вы открываете страницу Сервиса, выбираете
                    квартиру,комнату, звоните, и Вам отвечает - Собственник!
                </div>
                <div class="description" style="color: #F6F6F6;margin-bottom: 15px;">Поиск недвижимости от собственников это
                    всегда сложно. Вот почему мы создали этот сервис. Мы помогаем нашим клиентам, арендовать жилье напрямую,
                    от собственника, и занимаемся этим с 2013 года.
                </div>
                <div class="description" style="color: #F6F6F6;margin-bottom: 15px">
                    К нам стекается информация по аренде недвижимости, мы ее проверяем и добавляем на наш сервис. После
                    регистрации — один час бесплатно, это поможет Вам убедиться, и начать доверять
                    опубликованной информации.
                </div>
                <div class="description" style="color: #F6F6F6;margin-bottom: 15px">
                    Наши клиенты это люди которые уже обращались к нам за нашей услугой ранее, а так же те кто хочет
                    арендовать напрямую, у собственника. Они не видят смысла искать её где-то в другом месте. Все уже здесь.
                    Отзывы о нас говорят сами за себя.
                </div>
                <div class="description" style="color: #F6F6F6;margin-bottom: 15px">
                    Мы не агентство, и будем рады помочь Вам, найти Вашу будущую недвижимость.
                </div>
                <div class="footer-text">
                    Команда MaklerOnline
                </div>
            </div>

        </div>
        <div class="countLine yearBlock" style="justify-content: center;height: 160px;">
            <div class="anniversaryYear">7</div>
            <div class="year">ЛЕТ</div>
            <div class="anniversaryDate">
                <div>Всегда с Вами</div>
                <div>2013 • 2020</div>
            </div>
        </div>

        <footer class="footer">
            <div class="footer-top">
                <div class="social-icons">
                    <!-- инстаграм, фейсбук, вконтакте, одноклассники-->
                    <a href="https://www.facebook.com/makleronlinekhv/"
                       (mouseenter)="facebook = true" (mouseleave)="facebook = false">
                        <img alt="ссылка на страницу сайта в социальной сети facebook"
                             title="ссылка на страницу сайта в социальной сети facebook"
                             class="icon" src="../../../../assets/icons8-facebook-circled-100.png"
                             [class.imgnondisp]="facebook">
                        <img alt="ссылка на страницу сайта в социальной сети facebook"
                             title="ссылка на страницу сайта в социальной сети facebook"
                             class="icon" src="../../../../assets/icons8-facebook-circled-filled-100.png"
                             [class.imgnondisp]="!facebook">
                    </a>
                    <a href="https://vk.com/club82992253" (mouseenter)="vk = true"
                       (mouseleave)="vk = false">
                        <img alt="ссылка на страницу сайта в социальной сети вконтакте"
                             title="ссылка на страницу сайта в социальной сети вконтакте"
                             class="icon" src="../../../../assets/icons8-vk-circled-100.png" [class.imgnondisp]="vk"/>
                        <img alt="ссылка на страницу сайта в социальной сети вконтакте"
                             title="ссылка на страницу сайта в социальной сети вконтакте"
                             class="icon" src="../../../../assets/icons8-vk-circled-filled-100.png"
                             [class.imgnondisp]="!vk"/>
                    </a>
                    <a href="https://ok.ru/makleronline"
                       (mouseenter)="odnokl = true" (mouseleave)="odnokl = false">
                        <img alt="ссылка на страницу сайта в социальной сети одноклассники"
                             title="ссылка на страницу сайта в социальной сети одноклассники"
                             class="icon" src="../../../../assets/icons8-odnoklassniki-circled-100-non-hover.png"
                             [class.imgnondisp]="odnokl"/>
                        <img alt="ссылка на страницу сайта в социальной сети одноклассники"
                             title="ссылка на страницу сайта в социальной сети одноклассники"
                             class="icon" src="../../../../assets/icons8-odnoklassniki-circled-filled-100.png"
                             [class.imgnondisp]="!odnokl"/>
                    </a>
                </div>
            </div>
            <div class="line"></div>
            <div class="footer-center">
                <div class="contacts">
                    <div class="footer-title">НАШИ КОНТАКТЫ</div>
                    <div style="display: flex">
                        <div class="contacts-left">
                            <div>Телефон</div>
                            <div>WhatsApp</div>
                            <div>E-mail</div>
                        </div>
                        <div class="contacts-right">
                            <div>+7 (924) 309-00-30</div>
                            <a href="https://wa.me/79243090030" class="social-link">https://wa.me/79243090030</a>
                            <a href="mailto:info@makleronline.net" class="social-link">info@makleronline.net</a>
                        </div>
                    </div>
                </div>
                <div class="partnership">
                    <div class="footer-title" style="margin-bottom: 5px">ИП Завьялов С.Д.</div>
                    <div class="footer-title">ИНН 272326913070</div>
                    <div class="partnership-list">
                        <div title="Расчетный счет">Р/счет 40802810570000017690</div>
                        <div title="ИНН">ИНН 7707083893</div>
                        <div title="БИК">БИК 040813608</div>
                        <div title="Корреспондентский счет">Кор.Счет 30101810600000000608</div>
                        <div>ПАО Сбербанк</div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: column;     width: 50%;">
                    <div style="display: flex;">
                        <div class="partnership">
                            <div class="footer-title">СОТРУДНИЧЕСТВО</div>
                            <div class="partnership-list">
                                <div>Партнерская программа</div>
                                <div>Частным лицам</div>
                                <div>Организациям</div>
                            </div>
                        </div>
                        <div class="payMethod">
                            <div class="footer-title">ОПЛАТА ИСПОЛЬЗОВАНИЯ САЙТА ПРОИЗВОДИТСЯ</div>
                            <div class="methods">
                                <img alt="поддержка банковской карты mastercard" title="mastercard"
                                     src="../../../../assets/mastercard-mini.jpg" width="60px" height="35px">
                                <img alt="поддержка банковской карты visa" title="visa"
                                     src="../../../../assets/visa-mini.jpg" width="60px" height="35px">
                                <img alt="поддержка банковской карты мир" title="мир"
                                     src="../../../../assets/mir-mini.jpg" width="60px" height="35px">
                                <img alt="поддержка банковской карты jcb" title="jcb" src="../../../../assets/jcb.jpg"
                                     width="60px" height="35px">
                            </div>
                            <div class="methods">
                                <div>Язык интерфейса</div>
                                <div>Русский</div>
                                <img src="../assets/rusflag.webp"/>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; align-items: flex-end">
                        <div class="footer-bottom">
                            <div class="agreement" style="margin-bottom: 10px;" (click)="openLogin('agreement')">
                                Пользовательское соглашение
                            </div>
                            <div class="agreement" style="margin-bottom: 10px;" (click)="openLogin('addition')">Способы
                                оплаты и возврата денежных средств
                            </div>
                            <div style="margin-bottom: 10px;">Использование сайта, в том числе подача объявлений,
                                означает согласие с пользовательским соглашением.
                            </div>
                            <div>© 2013-2018 г. Makleronline.net Использование материалов Makleronline.net возможно
                                только с согласия
                                правообладателя.
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </footer>
    </div>
</div>
