div:hover, span:hover, p:hover {
  cursor: default;
}
a.social-link{
  text-decoration: none;
  color: white;
  max-width: 200px;
}
a.social-link:hover{
  text-decoration: underline;

}
.lenta{
  position: relative;
  z-index: 10;
  right: calc(-50% + 85px);
  top: -72px;
  width: 170px;
  margin: -64px;
}
.soon{
  font-family: Cadillac,sans-serif;
  position: relative;
  margin-bottom: -25px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  letter-spacing: .086rem;
  top: -75px;
  right: calc(-50% + 55px);
  z-index: 15;
}
.carousel {
  display: none;
  transform-origin: 0 0;
  width: 100%;
  height: auto;
}

.carousel.open {
  display: flex;
  -webkit-animation: fade ease-in 0.3s;
  animation: fade ease-in 0.3s;
}

.carousel ul {
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;

}

.objects ul{
    position: relative;
    left: -475px;
}
.items ul{
    position: relative;
    left: -382px;
}
.carousel li {
  display: inline-block;
}

.arrow {
    min-width: 50px;
    width: 50px;
    height: 160px;
  padding: 0;
    position: relative;
    z-index: 1;
    top: calc(50% - 80px);
    opacity: 0;
    align-items: center;
    display: flex;
    transition: opacity .1s;
}
.arrow:hover{
    cursor: pointer;
}
.carousel:hover > .arrow{
    opacity: 1;
}
.carousel:hover > .arrow{
    visibility: visible;
}
.arrow.left {

}

.objects {
  overflow: hidden;
}

.arrow.right {

}

.arrow:focus {
  outline: none;
}
.barArrow1-left, .barArrow2-left{
    width: 40px;
  height: 2px;
  border-radius: 5px;
  background-color: #252f32;
  margin: 3px 0;
}
.barArrow1-left{
    transform: rotate(-60deg) translate(-10px,10px);
}
.barArrow2-left{
    transform: rotate(60deg) translate(39px,19px);
}
.barArrow1-right, .barArrow2-right{
    width: 40px;
  height: 2px;
  border-radius: 5px;
  background-color: #252f32;
  margin: 3px 0;
}
.barArrow1-right{
    transform: rotate(60deg) translate(19px,6px);
}
.barArrow2-right{
    transform: rotate(-60deg) translate(-40px,28px);
}
.arrowFull{
  height: 73px;
  width: 50px;
}
.footer-bottom{
  flex-direction: column;
  width: 450px;
  padding-left: 40px;
  /*margin-left: 48%;*/
  position: relative;
  top: 20px;
  padding-bottom: 0;
}
#num1, #num2, #num3{
  flex: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.methods{
  display: flex;
  margin-bottom: 20px;
}
.methods img, .methods div{
  margin-right: 20px;
}
.contacts-left, .partnership-list{
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
.contacts-left{
  width: 150px;
}
.partnership-list{
  min-width: 180px;
  width: auto;
}
.imgnondisp{
  display: none;
}
.contacts-right{
  display: flex;
  flex-direction: column;
  line-height: 25px;
  width: auto;
}
.footer-title{
  margin-bottom: 16px;
  font-size: 14px;
  min-width: 180px;
}
.partnership{
  flex-grow: 1;
  padding-left: 40px;
}
.contacts, .partnership{
  display: flex;
  flex-direction: column;
}
.line{
  height: 3px;
  width: 100%;
  border-bottom: white solid 1px;
  margin-bottom: 30px;
}
.login-block {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.footer-top, .footer-center, .footer-bottom{
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: white;
  display: flex;
  padding-bottom: 30px;
}
.footer-top{
  width: 100%;
}
.footer-center{
  width: 100%;
}
.button-login{
  font-size: 14px;
  color: white;
  border: 1px solid white;
  height: 40px;
  width: 18vw;
  min-width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Cadillac, sans-serif;
  letter-spacing: .086rem;
  transition: 0.3s;
}
.button-login:hover {
  background-color: white;
  color: #4b4b4b;
}
.social-icons{
  display: flex;
  justify-content: space-between;
}
.social-icons img{
  height: 50px;
  width: 50px;
  margin: 0 10px;
}
.icon{
  margin-left: 10px;
}
.footer{
  width: calc(100% - 250px);
  background-color: #252f32;
  display: flex;
  flex-direction: column;
  padding: 30px calc((100vw - 6 * 65 - 420 * 3) / 2) 0;
}
.innerObj{
  margin: 0 15px;
}
.special{
  font-size: 50px;
}
.firstMenuObj{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.anniversaryDate{
  font-family: Helvetica, sans-serif;
  font-size: 28px;
  letter-spacing: 0.2em;
  line-height: 40px;
}
.year{
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  position: relative;
  top: -28px;
  margin-left: 15px;
  margin-right: 25px;
}

.anniversaryYear{
  position: relative;
  top: -20px;
  font-family: Sail, sans-serif;
  font-size: 135px;
}
.uselessLineMenuObj{
  cursor: default;
  text-decoration: none;
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  color: white;
  font-size: 14px;
  width: auto;
  margin: 0 15px;
}
.uselessLineMenuObj:hover{
  text-decoration: underline;
}
.lastMenuObj{
  margin-right: 245px;
}
.countLineNumber{
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  font-family: Stolzl, cursive;
  color: white;
}
.countLineWord{
  font-size: 30px;
  font-family: Helvetica, sans-serif;
}
.countSubWord{
  font-family: Cadillac, sans-serif;
  font-size: 14px;
  font-style: normal;
}
.titles{
    height: calc(100% - 210px);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}
.text-block-titles{
    padding: 40px;
    background-color: rgba(37,47,50,0.4);
    margin: 0 50px;
    width: 640px;
}
.logoTitle1,.logoTitle2, .logoTitle3{
    font-family: Helvetica, sans-serif;
    color: white;
    width: 100%;
}
.logoTitle1{
    font-size: 50px;
    font-weight: bold;
}
.logoTitle2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #F6F6F6;
    flex-grow: 1;
    align-items: flex-end;
    padding-bottom: 70px;
    letter-spacing: 0.5em;
}
.logoTitle3{
    font-size: 20px;
    margin-top: 25px;
    line-height: 25px;
}
.uselessLineHome{
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #252f32;
  display: flex;
  transition: 0.3s;
}
.infoText{
  color: #252f32;
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  width: 480px;
  top: 50px;
  left: 5vw;
}
.picture{
  height: 100vh;
  overflow: hidden;
  /*background: url("../assets/background-main.png");*/
  /*background-size: 100vw auto;*/
}
.mainHome{
  margin-top: 130px;
  height: max-content;
  min-height: calc(100vh - 70px);
    background: url('../../../../assets/stock/Дмитрий Завьялов - shutterstock_1612678648.jpg');
  background-size: 100vw auto;
  transition: 0.3s;
}
.inner-main{
  height: 100%;
}
.inner-main::-webkit-scrollbar { width: 0;height: 0; }
.mainImg{
  width: 100vw;
}
.countLine{
  height: 270px;
  width: 100%;
  background-color: #232f32;
  color: white;
  display: flex;
  align-items: center;
}
.twoTextLines{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 30px;
}
.textBlocksLine{
  font-family: Cadillac, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.textBlock{
  display: flex;
  flex-direction: column;
  /*width: 20vw;*/
  max-width: 354px;
  margin: 0 50px;
  min-height: 250px;
}
.lineTitle{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
.redLine{
border-bottom: 3px solid #821529;
  margin-bottom: 10px;
  width: 100%;
}
.textLine{
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.05em;
  margin: 0 0 5px 0;
}
.countLine.word{
  font-family: Helvetica, sans-serif;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  color: #252f32;
  height: auto;
    padding: 60px 0 10px;
}
.wordOne{
  font-size: 30px;
  max-width: 730px;
  text-align: center;
}
.wordTwo{
  font-size: 20px;
}
.yearBlock{
  background-color: white;
  color: #252f32;
}
.step{
  display: flex;
  width: 25vw;
  max-width: 359px;
  margin: 0 50px;
}
.stepNum{
  display: flex;
  justify-content: center;
  font-family: Stolzl, cursive;
  font-size: 80px;
  position: relative;
  top: -20px;
}
.stepDescription{
  display: flex;
  flex-direction: column;
  font-family: Cadillac, sans-serif;
  font-size: 14px;
  margin-left: 28px;
  line-height: 25px;
  max-width: 350px;
  margin-bottom: 10px;
  letter-spacing: 0.05em;
}
.plan{
  display: flex;
  justify-content: center;
  font-family: Cadillac, sans-serif;
  background-color: white;
  padding-bottom: 30px;
}
.planExt{
  margin: 0 70px;
}
.planBlock, .additionalPlan{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 470px;
  width: 420px;
  height: 560px;
}
.additionalPlan{
  display: none;
  background-color: #f6f6f6;
}
.planExt.exist:hover .planBlock{
  display: none;
}
.planExt.exist:hover .additionalPlan{
 display: flex;
}
.planTitle{
  font-size: 24px;
  margin: 40px 0 25px;
}
.planLine{
  width: 150px;
  border-bottom: 2px solid #9d8c6c;
  margin-bottom: 25px;
}
.planText{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 420px;
  height: 150px;
    line-height: 25px;
}
.planText span{
  margin-bottom: 5px;
}
.planText.add{
  font-size: 14px;
  padding: 0 20px;
  width: calc(100% - 40px);
  height: auto;
}
.planText.title-add{
  font-size: 14px;
  height: auto;
  margin-bottom: 25px;
  width: auto;
  text-align: center;
}
.planText.title-add span{
  margin: 0;
}
.more{
  font-size: 14px;
  color: #0E3E9B
}
.planButton{
  font-size: 14px;
  background-color: #252f32;
  color: white;
  height: 40px;
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Cadillac, sans-serif;
  /*margin-top: 10px;*/
  text-decoration: none;
}
.planButton:hover{
  background-color: #3C4D52;
}
.reviewsBottom{
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  font-family: Helvetica, sans-serif;
}
.review{
  display: flex;
  flex-direction: column;
  width: 380px;
}
.arrowBar1{
  transform: rotate(37deg) translate(0px,2px);
}
.arrowBar2{
  transform: rotate(-37deg) translate(-4px,3px);
}
.arrowBars{
  height: 20px;
  margin-left: 10px;
}
.arrowBar1, .arrowBar2{
  width: 13px;
  height: 2px;
  border-radius: 5px;
  background-color: #fff;
  margin: 3px 0;
}
.compDescription{
  font-size: 20px;
  text-align: center;
  width: 700px;
  margin-bottom: 60px;
}
.compLine{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  margin: 10px 0 50px 0;
}
.reviewBlockInfo{
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.name{
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}
.time{
  color: #677578;
}
.author{
  display: flex;
  justify-content: flex-end;
  font-style: italic;
  color: #677578;
}
.reviews{
  display: flex;
    margin-bottom: 60px;
    width: 490px;
}
.iconUser{
  border-radius: 35px;
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
}
.reviewText{
  margin: 10px 0;
}
.reviewBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
    margin: 0 40px;
}
.setReview{
  flex: 50% 0 0;
  display: flex;
  justify-content: center;
}

.rating{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.rating span{
  width: 227px;
  color: #262f32;
}
.rating_block1,.rating_block2,.rating_block3 {
  width: 110px;
  height: 20px;
  margin-bottom: 20px;
}
.rating_block1 input,.rating_block2 input, .rating_block3 input{
  margin-right: 3px;
}
.rating_block1 input[type="radio"],.rating_block2 input[type="radio"], .rating_block3 input[type="radio"]{
  display: none;
}
.label_rating1, .label_rating2, .label_rating3{
  float: right;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../../../../assets/starnew.png") no-repeat 50% 0;
  cursor: pointer;
  margin-right: 2px;
}
.rating_block1 .label_rating1:hover,
.rating_block1 .label_rating1:hover ~ .label_rating1,
.rating_block1 input[type="radio"]:checked ~ .label_rating1 {
  background-position: 50% -20px;
}
.rating_block2 .label_rating2:hover,
.rating_block2 .label_rating2:hover ~ .label_rating2,
.rating_block2 input[type="radio"]:checked ~ .label_rating2 {
  background-position: 50% -20px;
}
.rating_block3 .label_rating3:hover,
.rating_block3 .label_rating3:hover ~ .label_rating3,
.rating_block3 input[type="radio"]:checked ~ .label_rating3 {
  background-position: 50% -20px;
}

.ratingTest {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.ratingTest > span {
  display: inline-block;
  position: relative;
  width: 19px;
  height: 20px;
  background-image: url("../../../../assets/НовыйХолст2StarEmptynew.png");
  background-size: 18px 20px;
  margin-left: 3px;
}
.ratingTest > span:hover,
.ratingTest > span:hover ~ span{
  width: 19px;
  height: 20px;
  background-image: url("../../../../assets/НовыйХолст2STarFullnew.png");
  background-size: 18px 20px;
  margin-left: 3px;
}
.planText .add-text{
  display: flex;
  margin-bottom: 15px;
}
.agreement{
  cursor: default;
}
.agreement:hover{
  cursor: pointer;
  text-decoration: underline;
}

.gray-block, .white-block, .yellow-block{
    display: flex;
    flex-direction: column;
    padding: 60px 40px 60px 50px;
    font-family: Helvetica, sans-serif;
}
.gray-block{
    background-color: #f6f6f6;
}
.gray-block.blue{
    background-color: #252F32;
    align-items: center;
}
.gray-block.blue.inner{
    width: 53%;
    max-width: 780px;
    padding: 0;
}
.yellow-block{
    background-color: #EEEBE7;
    width: calc(100% - 100px);
}
.gray-block > .title, .yellow-block > .title{
    font-size: 30px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}
.yellow-block > .title{
    font-size: 30px;
    margin-bottom: 10px;
}
.yellow-block > .title, .yellow-block > .description{
    color: #232f32
}
.gray-block > .sub-title{
    font-size: 17px;
}
.gray-block > .description, .yellow-block > .description{
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    line-height: 21px;
}
.gray-block > .description:last-child, .yellow-block > .description:last-child{
    /*flex-grow: 1;*/
}
.yellow-block > .description{
    margin-bottom: 15px;

}
.yellow-block > .description.top{
    margin-top: 50px;
}
.gray-block > .button, .white-block > .button, .yellow-block > .button{
    background-color: #252F32;
    color: white;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin: 30px 0 0 calc(50% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}
.gray-block > .button:active, .white-block > .button:active,.gray-block > .button:focus, .white-block > .button:focus,
.yellow-block > .button:active,.yellow-block > .button:focus{
    outline: none;
    background-color: #1E2628;
}
.button > .border{
    display: none;
}
.button:hover > .border,.button:active > .border,.button:focus > .border{
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border: 4px solid #252F32;
    display: block;
    cursor: pointer;
}
.button.light:active > .border,.button.light:focus > .border{
    border: 2px solid #eeebe7;
}
.button.light{
    background-color: #EEEBE7 !important;
    color: #252F32 !important;
}
.gray-block > .footer-text, .yellow-block > .footer-text{
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
    color: #72727D;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
}
.gray-block.blue > .footer-text{
    text-transform: unset;
    font-style: italic;
    font-size: 12px;
    justify-content: flex-end;
}
.gray-block > .footer-text{
    color: #999997;
}
.white-block{
    background-color: white;
}
.white-block.item{
    padding-right: 0;
    width: calc(100% - 20px);
}
.white-block > .title{
    font-size: 16px;
}
.picture-block{
    background-size: 120% auto;
    background-repeat: no-repeat;
    background-position: center;
    flex: 0 0 calc(50% + 110px);
}

.inner-main::-webkit-scrollbar { width: 0;height: 0; }
@media all and (max-width: 1600px){
    .planBlock, .additionalPlan{
      margin: 0 25px;
    }
  .planText{
    max-width: 25vw;
  }
  .planExt{
    margin: 0;
  }
}
