<!--The content below is only a placeholder and can be replaced.-->
<header class="header">
  <div class="top-logo-block">
      <a   href="//{{siteUrl}}/#/d" style="color: #232f32;display: flex;">
          <a class="logo">
              <div><span class="logoTitle1">МАКЛЕР</span><span class="logoTitle2">ОНЛАЙН</span></div>
              <div style="line-height: 9px;"><span class="logoTitle3">ГРУППА КОМПАНИЙ ZAVRUS</span></div>
          </a>
          <a class="lineh"></a>
          <a class="logo right">
              <div style="font-size: 16px">НЕДВИЖИМОСТЬ</div>
              <div style="line-height: 9px; font-size: 10px;margin-top: 5px;">ХАБАРОВСК</div>
          </a>
      </a>

  </div>
  <div class="menu">
    <ul>
      <li>
        <div class="ext">
<!--             href="//{{siteUrl}}/#/d"-->
          <a class="menuBlock" (click)="ymFunc('main-menu');" (mousedown)="timeUpdate()" [routerLink]="['/d']" routerLinkActive="active">ГЛАВНАЯ</a>
        </div>
      </li>
      <li>
        <div class="ext">
<!--      href="//{{siteUrl}}/#/d/objects/list"      -->
          <a class="menuBlock" (mousedown)="timeUpdate()" (click)="ymFunc('offer-menu'); update()" [routerLink]="['../d/objects/list']"
               routerLinkActive="active">ПРЕДЛОЖЕНИЯ
          </a>
        </div>
      </li>
      <li>
        <div class="ext">
          <a class="menuBlock" (click)="ymFunc('pay-menu');mode = 'pay';openBlock('pay')">ОПЛАТА</a>
        </div>
      </li>
      <li *ngIf="userEmail == 'email'">
        <div class="ext">
          <a class="menuBlock" (click)="ymFunc('login-menu');openBlock('login')">ВОЙТИ</a>
        </div>
      </li>
      <li *ngIf="userEmail != 'email'">
        <div class="ext">
          <a class="menuBlock" (click)="log_out()">ВЫЙТИ</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="loggedIn">
    <div class="email">{{userEmail}}</div>
    <div class="time" id="timeHeader">{{days}}{{time}}</div>
  </div>
</header>
<div class="uselessLine" [class.homePage]="homePage"></div>
<app-login class="right-slide-box" [countOfItems]="countOfItems" [class.home]="homePage" [itemOpen]="true" (userLoggedIn)="checklogin()"  (blockClose)="closeBlock($event)" (loggingMode)="Logging.emit($event); logging_var = $event"></app-login>
<app-pay class="right-slide-box" [logging]="logging_var"  [class.home]="homePage" [inpDay]="resDay" [inpTime]="resTime" [itemOpen]="true" [redirect]="redirect" (payingMode)="Paying.emit($event)" [updateBalance]="loggedIn" (logout)="log_out()" (days)="days = $event" (time)="time = $event" (blockClose)="closeBlock($event)"></app-pay>
<div class="right-slide-box agreement"  [class.home]="homePage"><app-agreement (blockClose)="closeBlock($event)" [mode]="'agreement'"></app-agreement></div>
<div class="right-slide-box agreement"  [class.home]="homePage"><app-agreement (blockClose)="closeBlock($event)" [mode]="'addition'"></app-agreement></div>
