<!--The content below is only a placeholder and can be replaced.-->
<header class="header">
  <div class="top-logo-block"  >
    <div class="logo">
      <div><span class="logoTitle1">МАКЛЕР</span><span class="logoTitle2">ОНЛАЙН</span></div>
      <div style="line-height: 9px;"><span class="logoTitle3">ГРУППА КОМПАНИЙ ZAVRUS</span></div>
    </div>
    <div class="lineh"></div>
    <div class="logo right">
      <div style="font-size: 16px">НЕДВИЖИМОСТЬ</div>
      <div style="line-height: 9px; font-size: 10px;margin-top: 4px;">ХАБАРОВСК</div>
    </div>
  </div>
  <div class="menu">
    <ul>
      <li>
        <div class="ext">
          <a class="menuBlock" (mousedown)="timeUpdate()" (click)="ymFunc('main-menu')" href="//{{siteUrl}}/#/d" routerLinkActive="active">ГЛАВНАЯ</a>
        </div>
      </li>
      <li>
        <div class="ext">
          <a class="menuBlock" (mousedown)="timeUpdate()" (click)="ymFunc('offer-menu'); update()" href="//{{siteUrl}}/#/d/objects/list"
               routerLinkActive="active">ПРЕДЛОЖЕНИЯ
          </a>
        </div>
      </li>
      <!--<li>-->
        <!--<div class="ext">-->
          <!--<a class="menuBlock" (mousedown)="timeUpdate()" (click)="selected($event)">ЗАЯВКИ</a>-->
        <!--</div>-->
      <!--</li>-->
      <!--<li>-->
        <!--<div class="ext">-->
          <!--<a class="menuBlock" (mousedown)="timeUpdate()" (click)="selected($event)">ОТЗЫВЫ</a>-->
        <!--</div>-->
      <!--</li>-->
      <!--<li>-->
        <!--<div class="ext">-->
          <!--<a class="menuBlock"  (mousedown)="timeUpdate()" (click)="selected($event)">СООБЩЕНИЯ</a>-->
        <!--</div>-->
      <!--</li>-->
      <li>
        <div class="ext">
          <a class="menuBlock" (click)="ymFunc('pay-menu');openBlock('pay')">ОПЛАТА</a>
        </div>
      </li>
      <li *ngIf="userEmail == 'email'">
        <div class="ext">
          <a class="menuBlock" (click)="ymFunc('login-menu');openBlock('login')">ВОЙТИ</a>
        </div>
      </li>
      <li *ngIf="userEmail != 'email'">
        <div class="ext">
          <a class="menuBlock" (click)="log_out()">ВЫЙТИ</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="loggedIn">
    <div class="email">{{userEmail}}</div>
    <div class="time" id="timeHeader">{{days}}{{time}}</div>
  </div>
</header>
<div class="uselessLine"></div>
<app-login class="right-slide-box" [itemOpen]="true" (userLoggedIn)="checklogin()"  (blockClose)="closeBlock($event)" (loggingMode)="Logging.emit($event)"></app-login>
<app-pay class="right-slide-box" [itemOpen]="true" [redirect]="redirect" (payingMode)="Paying.emit($event)" [updateBalance]="loggedIn" (logout)="log_out()" (days)="days = $event" (time)="time = $event" (blockClose)="closeBlock($event)"></app-pay>
<div class="right-slide-box agreement"><app-agreement (blockClose)="closeBlock($event)" [mode]="'agreement'"></app-agreement></div>
<div class="right-slide-box agreement"><app-agreement (blockClose)="closeBlock($event)" [mode]="'addition'"></app-agreement></div>
<div class="right-slide-box access_token">
    <div class="hideMenu" (click)="closeBlock('access_token');">
        <div class="barExit1"></div>
        <div class="barExit2"></div>
    </div>
    <div class="instruction">
        Для публикации объявлений в соц.сети Вконтакте необходимо получить уникальный ключ пользователя. Для этого необходимо выполнить следующие шаги:
        <div class="step">1. В появившемся окошке нажать "Разрешить". После этого произойдет переход на страницу с ключом</div>
        <div class="step">2. Из адресной строки окошка необходимо скопировать ключ, который находится между "access_token=" и знаком "&". Таким образом ключ будет примерно такого вида:   129a181fc57e48ff29a4c5c56d953243e55ca6d458d552e130be4fc8b6f7e7ce90c57e938d5c85ced3e75</div>
        <div class="step">3. Полученный ключ вставляем в поле ниже</div>
        <div class="step">4. Нажимаем сохранить</div>
        <div class="step">5. Вы прекрасны!</div>
        <input style="width: 330px;" id="access_token" [(ngModel)]="token">
        <div style="width: 200px; height: 30px; background-color: pink; margin-left: calc(50% - 100px); text-align: center; margin-top: 15px" (click)="save_token()">Сохранить</div>
    </div>
</div>
