<app-menu></app-menu>
<div class="main"  (window:resize) = "onResize()" *ngIf="!itemOpen">
  <div class="left-block" [class.close]="!openBlock">
    <div class="logo">
      <div><span style="font-size: 24px">MAKLERONLINE</span></div>
      <div><span style="font-size: 10px;margin-left: 40px">ГРУППА КОМПАНИЙ ZAVRUS</span></div>
    </div>
    <div class="text-block">
      <div class="text font">
        <span>МАКСИМУМ</span>
        <span>ВОЗМОЖНОСТЕЙ</span>
        <span class="special">ВЫБОРА НЕДВИЖИМОСТИ</span>
      </div>
    </div>
    <div class="dark-layer"></div>
  </div>

</div>
<div class="right-block" [class.addRight]="itemOpen" *ngIf="itemOpen">
  <div style="display: flex">
    <div class="advert font">
      <span>"Только реальные объекты</span>
      <span>в режиме онлайн".</span>
      <div style="display: flex;margin-top: 7px;">
        <div class="line"></div>
        <span style="font-size: 11px">Команда Маклеронлайн</span>
      </div>
    </div>
    <div class="exitButton" *ngIf="itemOpen" (click)="blockCloseFunc('login')">
      <div class="barMenu1"></div>
      <div class="barMenu2"></div>
    </div>
  </div>

  <div class="buttons font">
    <div class="button">ВХОД В ДОМЕН</div>
    <div class="linehr"></div>
    <div class="button">РЕГИСТРАЦИЯ</div>
  </div>
  <div class="social font">
    <span>ВОЙТИ ЧЕРЕЗ</span>
    <div class="social-icons">
      <img src="../../../../assets/facebook.png">
      <img class="icon" src="../../../../assets/twitter.png"/>
      <img class="icon" src="../../../../assets/google.png"/>
      <img class="icon" src="../../../../assets/youtube.png"/>
      <img class="icon" src="../../../../assets/pinterest.png"/>
      <img class="icon" src="../../../../assets/instagram.png"/>
    </div>
  </div>
  <div class="input-block font">
    <span>ВОЙТИ ЧЕРЕЗ ВАШ E-mail</span>
    <input type="text">
  </div>
  <div class="input-block font">
    <span>КОД ДОСТУПА</span>
    <input type="text">
    <a href="" style="font-size: 10px">Забыли пароль</a>
  </div>
  <div class="check-block font" style="margin-top: 40px;">
    <div class="input" (click)="check=!check"><img *ngIf="check" src="../../../../assets/check-mark.png" height="20px" width="20px"> </div>
    <span>Регистрируясь в домене, я согласен с условиями использования и политикой конфиденциальности.</span>
  </div>
  <div class="check-block font">
    <div class="input" (click)="checkNews=!checkNews"><img *ngIf="checkNews" src="../../../../assets/check-mark.png" height="20px" width="20px"> </div>
    <span>​ Я даю согласие на подписку на обновления и новостную рассылку.</span>
  </div>
  <div class="button-next">ДАЛЕЕ</div>
</div>
