.barMenu1, .barMenu2{
  width: 30px;
  height: 1.5px;
  background-color: #8F8F8F;
  margin: 3px 0;
}
.barMenu1{
  transform: rotate(45deg);
}
.barMenu2{
  transform: rotate(-45deg) translate(3px, -3px);
}
.exitButton{
  position: relative;
  top: 40px;
  right: 30px;
}
.main{
  display: flex;
  height: 100%;
}
.font{
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  color: #252f32;
}
.text-block{
  margin-left: 10vw;
  position: relative;
  left: 0;
  z-index: 1;
}
.text{
  display: flex;
  flex-direction: column;
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 50px;
  color: white;
  transition: 0.4s;
}
.text .special{
  font-size: 70px;
}
.left-block{
  background-image: url("../../../../assets/background.jpg");
  background-size: auto auto;
  min-height: calc(100vh - 65px);
}
.left-block.close{
  display: none;
}
.left-block, .dark-layer{
  flex-grow: 1;
  min-width: calc(100vw - 440px);
  max-width: calc(100vw - 350px);
}
.dark-layer{
  background-color: #202b2f;
  height: 100%;
  position: relative;
  top: -583px;
  left: 0;
  opacity: 0.85;
  z-index: 0;
}
.logo{
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  position: relative;
  left: 0;
  z-index: 1;
  color: #9E9E9E;
}
.right-block{
  height: calc(100vh - 65px);
  min-height: 100%;
  width: 23vw;
  overflow-y: scroll;
  min-width: 350px;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}
.right-block::-webkit-scrollbar { width: 0;height: 0; }
.advert{
  position: relative;
  left: 20px;
  width: 290px;
  font-size: 14px;
  margin-bottom: 15vh;
  font-style: italic;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.line{
  height: 3px;
  width: 35px;
  border-bottom: #9d8c6c solid 1px;
  margin-right: 15px;
  margin-left: 40px;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18vw;
  min-width: 270px;
  margin-bottom: 35px;
}
.button{
  height: 40px;
  flex: 0 0 49%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #3b4345;
}
.linehr{
  flex: 0 0 2%;
  height: 36px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-left: #9e9e9e 1px solid;
  width: 2px;
  margin-left: 5px;
}
.social{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.social span, .input-block span{
  font-size: 12px;
  margin-bottom: 5px;
}
.social-icons{
  display: flex;
  width: 18vw;
  justify-content: space-between;
  min-width: 270px;
}
.social-icons img{
  height: 35px;
  width: 35px;
}
.icon{
  margin-left: 15px;
}
.input-block{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.input-block input{
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  outline: none;
  width: 18vw;
  min-width: 270px;
  margin-top: 5px;
  border: 1px solid #c0c0c0;
  height: 30px;
  margin-bottom: 5px;
}
.input-block a{
  text-decoration: none;
  color: #252f32;
  margin-top: 10px;
}
.check-block{
  display: flex;
  margin-bottom: 17px;
}
.check-block .input{
  height: 19px;
  width: 19px;
  border: 1px solid #c0c0c0;
  margin-right: 40px;
}
.check-block span{
  font-size: 12px;
  width: 16vw;
  min-width: 230px;
  color: #252f32;
}
.button-next{
  font-size: 12px;
  background-color: #202b2f;
  color: white;
  height: 40px;
  width: 18vw;
  min-width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Cadillac, sans-serif;
  letter-spacing: .086rem;
  margin-top: 36px;
  margin-bottom: 36px;
}
@media all and (max-width: 1520px){
  .line.top{
    max-width: 200px;
  }
}
@media all and (max-width: 1000px){
  .text{
    font-size: 30px;
  }
  .text .special{
    font-size: 50px;
  }
  .text-block{
    margin-left: 5vw;
  }
  .right-block{
    align-items: center;
    width: 100vw;
    max-width: unset;
    height: unset;
  }
}
@media all and (max-width: 800px){
  .text{
    font-size: 20px;
  }
  .text .special{
    font-size: 30px;
  }
}
@media all and (max-width: 650px){
  .advert{
    margin: 5vh 0;
  }
  .left-block{
    display: none;
  }
  .right-block{
    margin-top: 165px;
    min-width: unset;
    background-color: white;
  }
  .addRight{
    margin: 0;
  }
  .check-block span{
    width: 70vw;
  }
  .input-block input, .buttons, .social-icons, .button-next{
    width: 85vw;
  }
  .main{
    height: 100%;
  }
}
