<div class="right-block" *ngIf="mode == 'agreement'">
  <a class="hideMenu" (click)="blockCloseFunc('agreement');" href="//makleronline.net/#/m">
    <div class="barExit1"></div>
    <div class="barExit2"></div>
  </a>
  <div class="agreement-main">
    <span class="agreement-title">Пользовательское соглашение</span>
    <span class="agreement-subtitle">1. Общие положения</span>
    <p>На условиях настоящего Пользовательского Соглашения, далее «Соглашение», Исполнитель « Makleronline.net »
      предоставляет физическому, юридическому лицу, именуемому в дальнейшем Пользователь, пользование системой
      «Makleronline.net» (далее - «Сайт») в рамках настоящего соглашения. Все существующие на данный момент сервисы,
      а также любое развитие их или добавление новых является предметом Соглашения.</p>
    <span class="agreement-subtitle">Определение терминов и понятий,  используемых в настоящем соглашении.</span>
    <p><span class="agreement-bold">Пользователь</span> - физическое лицо, достигшее 18 (восемнадцати) лет, признающее
      Соглашение, обладающее полной дееспособностью,
      имеющее свой собственный адрес электронной почты и номер мобильного телефона, доступ к которым находится в его
      распоряжении,
      на которые он (пользователь) может получить письмо или СМС о подтверждении регистрации на сайте, а также будут
      являться
      идентификацией пользователя.<span class="agreement-bold">Контактная информация</span> — телефонный номер
      собственника (продавца или арендодателя) объекта
      <span class="agreement-bold">Актуальность</span> — достоверная контактная информация.
      <span class="agreement-bold">Правообладатель</span> - это лицо, которое обладает правами на недвижимое имущество,
      подлежащими государственной регистрации в соответствии с Гражданским кодексом Российской Федерации и настоящим
      Федеральным
      законом.Соглашение вступает в силу с момента выражения Пользователем согласия со всеми условиями Соглашения.
      Пользователь
      считается принявшим условия Соглашения в полном объеме после прохождения процедуры регистрации. Регистрация
      Пользователя
      на Сайте является выражением письменного согласия со всеми условиями Соглашения и подтверждением факта заключения
      договора
      на оказание услуг между Исполнителем и Пользователем на условиях настоящего соглашения.Соглашение может быть
      изменено
      без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с момента ее размещения на
      сайте
      «Makleronline.net». В случае если Исполнителем были внесены изменения в Соглашение, с которыми Пользователь не
      согласен,
      последний обязан прекратить использование сервисов Сайта.</p>
    <span class="agreement-subtitle">2. Общие положения об использовании Сайта</span>
    <p>«Makleronline.net» предлагает Пользователю на условиях настоящего Пользовательского соглашения воспользоваться
      доступными Сервисами, включая размещение, поиск и просмотр Объявлений. В отношении использования отдельных
      Сервисов «Makleronline.net» могут быть установлены дополнительные условия, правила и
      ограничения.«Makleronline.net»
      вправе в любое время пересматривать или изменять условия предоставления Сервисов, дополнять, изменять,
      ограничивать,
      расширять функциональные возможности Сайта и/или Сервисов, в том числе условия доступа Пользователя к Сервисам
      или отдельным функциональным возможностям Сайт Пользователь самостоятельно несет ответственность за соответствие
      содержания размещаемого им объекта требованиям действующего законодательства.Сайт «Makleronline.net» является площадкой,
      позволяющей Продавцам, Арендодателям, самостоятельно размещать предложения, адресованные неопределенному кругу
      лиц на совершение сделки в отношении Объекта, которым Продавец правомочен распоряжаться (делать предложения),
      а Покупателям принимать на свое усмотрение и под свою ответственность предложения, размещенные на Сайте
      Продавцами,
      заключая соответствующую сделку с Продавцом.Предоставляемые на «Makleronline.net» Сервисы в любой момент могут
      изменяться, дополняться, обновляться, менять форму и характер функциональных возможностей без предварительного
      уведомления
      Пользователя, в связи с чем их использование предлагается в режиме «как есть», т.е. том виде и объеме, в каком
      они предоставляются «Makleronline.net» в момент обращения к Сервисам Пользователей. «Makleronline.net» вправе
      при необходимости по собственному усмотрению прекратить (временно или окончательно) предоставление Сервисов
      (или каких-либо отдельных функций в рамках Сервисов) всем Пользователям в целом или отдельному Пользователю,
      в частности, без предварительного уведомления.</p>
    <span class="agreement-subtitle">3. Стоимость услуг и порядок расчетов</span>
    <p>Пользователь вправе размещать Объявления, а также пользоваться отдельными Сервисами после Регистрации на
      «Makleronline.net».
      При Регистрации указываются Учетные данные, которые Пользователь выбирает самостоятельно.
      После внесения данных для Регистрации Пользователь получает код для входа на сайт через смс оповещение.
      Регистрация учетной записи Пользователя осуществляется однократно. Повторная Регистрация новой учетной
      записи на Сайте с использованием ранее указанных данных не допускается. Просмотр Объявлений и иной информации,
      размещенной на «Makleronline.net» в открытом доступе не требует регистрации и/или авторизации Пользователя,
      однако при совершении таких действий Пользователь в любом случае обязан соблюдать положения Пользовательского
      соглашения.Цены, устанавливаемые Исполнителем, могут быть изменены последним в любое время. Новые цены вступают
      в силу с момента опубликования, если иной срок вступления новых цен в силу не определен дополнительно при
      их опубликовании.Оплата Услуг производится Пользователем через платежную систему ПАО СБЕРБАНК Все расчеты
      по Соглашению производятся в рублях РФ. Услуга считается оплаченной Пользователем с момента получения
      Исполнителем:
      подтверждения из банка о поступлении суммы оплаты на расчетный счет Исполнителя; подтверждения оплаты от системы,
      через которую был совершен платеж. Исполнитель вправе посылать своим Пользователям информационные сообщения.
      <span class="agreement-italic">Пользователь имеет право выбирать из базы данных интересующие его объекты, просматривать первичную информацию
    по ним, получать полный доступ к контактной информации по данным объектам после оплаты, а также рекламировать
      объекты, собственником (или лицом, действующим по доверенности), которых он является.</span></p>
    <span class="agreement-subtitle">4. Заключение, продление и прекращение Договора</span>
    <p>Для того, чтобы воспользоваться сервисами Сайта, Пользователь должен пройти процедуру регистрации. Регистрация
      на Сайте является бесплатной и доступна для всех Пользователей.Пользователь самостоятельно обеспечивает
      конфиденциальность своего пароля. При регистрации Пользователь обязан указывать достоверную и полную
      информацию о себе по всем вопросам, предлагаемым в форме регистрации, и поддерживать эту информацию в
      актуальном состоянии. В случае не соблюдения этих условий, исполнитель не гарантирует выполнения своих
      обязательств.Исполнитель оставляет за собой право в любой момент заблокировать (приостановить оказание услуг)
      Пользователя без объяснения причин в случае нарушения Пользователем условий Соглашения, обоснованной жалобы
      поступившей от третьего лица и/или поступления соответствующего требования от органов государственной власти.
      Блокировка доступа Пользователя так же возможна в любое время, после выражения согласия о блокировке
      Пользователем, посредством направления письменного обращения в Службу Поддержки с электронного адреса,
      на который зарегистрирован пользователь. Письменное подтверждение пожелания об аннулировании Пользователя
      установлено для предупреждения злоупотреблений.</p>
    <span class="agreement-subtitle">5. Исключительные права</span>
    <p>Все объекты, доступные при помощи сервисов Сайта, в том числе элементы дизайна, текст, графические изображения,
      видео, и другие объекты (далее - материалы), а также любой контент, размещенный на Сайте, являются объектами
      исключительных прав Исполнителя, Пользователей и других правообладателей соответственно.Если у Пользователя
      возникают претензии к другому Пользователю в связи с использованием последним Сервисов и/или размещенными им
      Объявлениями, Пользователь обязан предъявлять эти требования надлежащему лицу (Продавцу) и разрешать претензии
      самостоятельно и без участия «Makleronline.net».«Makleronline.net» является инструментом, который предоставляет
      возможность Пользователям размещать Объявления в отношении Товаров, реализация и/или приобретение которых
      разрешены
      законом и Пользовательским соглашением. При этом «Makleronline.net» не всегда проверяет Объявления, размещенные
      Пользователями. Таким образом, качество, безопасность и соответствие Товара его описанию, а также возможность
      Собственника продать или сдать и/или Покупателя приобрести или снять Объект находятся вне контроля
      «Makleronline.net».
      В связи с чем, «Makleronline.net» не несет ответственность за содержание информации, предоставляемой
      Пользователями,
      включая содержание Объявлений, использование Пользователями товарных знаков, логотипов третьих лиц и условий
      предложения Продавца.</p>
    <span class="agreement-subtitle">6. Использование контента и персональных данных Пользователя</span>
    <p>Вся персональная информация о Пользователе хранится и обрабатывается Исполнителем в соответствии с условиями
      Соглашения о Конфиденциальности. Исполнитель обязуется соблюдать требования законодательства о защите
      персональных данных в соответствии с Федеральным законом от 27.07.2006 N 152-ФЗ (ред. от 25.07.2011) "О
      персональных данных".Пользователь осознает, что технология работы сервисов Сайта может потребовать копирование
      (воспроизведение) контента Пользователя Исполнителем, а также его переработки и дает согласие на произведение
      Исполнителем всех необходимых действий для приведения контента в соответствие с техническим требованиям
      того или иного сервиса Сайта, а также дает согласие на просмотр информации всеми посетителями сайта (оферта).
      Пользователь соглашается с тем, что Исполнитель вправе использовать все данные, материалы (в том числе фото/видео
      материалы)
      и сведения размещенные Пользователем на Сайте без дополнительного согласия Пользователя в любом объеме и любыми
      способами, не запрещенными действующим законодательство РФ, а так же дает согласие на получение от Исполнителя
      сообщений (в том числе рекламного характера).</p>
    <span class="agreement-subtitle">7. Ответственность</span>
    <p>Учитывая принципы построения и функционирования сети Интернет, Сервисы предоставляются «как есть», это означает,
      что «Makleronline.net» не предоставляет каких-либо гарантий в отношении Сервисов, в частности, «Makleronline.net»
      не гарантирует Пользователю, что:Сервисы, их прямой или косвенный эффект и качество будут соответствовать
      требованиям
      и целям Пользователя; Сервисы будут предоставляться непрерывно, надежно и без ошибок; Результаты, которые будут
      получены посредством использования Сервисов, будут точными, надежными и соответствовать ожиданиям Пользователя.
      «Makleronline.net» никак не связано с любой предоставляемой Пользователем информацией, включая содержание
      Объявлений,
      предоставленной и/или размещенной Пользователями на «Makleronline.net», и не обязано осуществлять проверку
      содержания,
      подлинности и безопасности такой информации либо ее компонентов, а равно ее соответствие требованиям действующего
      законодательства и наличия у Пользователей необходимого объема прав на ее распространение и/или использование.</p>
    <span class="agreement-subtitle">При пользовании Сайтом Пользователю категорически запрещено:</span>
    <p>распространять недостоверную информациюзагружать на Сайт данные, содержащие вредоносные компьютерные программы;
      размещать/или распространять на Сайте рекламную информацию, спам, какие-либо материалы, содержащие вирусы или
      другие
      компьютерные коды, предназначенные для нарушения либо уничтожения функциональности любого компьютерного или
      телекоммуникационного
      оборудования или программ, а равно ссылки на ресурсы сети, содержание которых противоречит действующему
      законодательствуРФ; совершать действия
      и использовать сервисы Сайта таким образом, чтобы неблагоприятно влиять на доступность предложений другим
      Пользователям; размещать на сайте
      информацию вымышленную, неактуальную, не являющуюся действительностью. Исполнитель имеет право: временно
      приостановить оказание Пользователю
      услуг по Соглашению по техническим, технологическим или иным причинам, препятствующим оказанию услуг, на время
      устранения таких причин.
      приостановить оказание услуг по Соглашению в одностороннем внесудебном порядке , если размещаемая реклама не
      соответствует
      реальному текущему предложению Пользователя.Исполнитель не несет никакой ответственности за: какие-либо действия,
      являющиеся
      прямым или косвенным результатом действий Пользователя; какие-либо убытки Пользователя вне зависимости от того,
      мог ли, Исполнитель
      предвидеть возможность таких убытков или нет.Исполнитель освобождается от ответственности за нарушение условий
      Соглашения, если
      такое нарушение вызвано действием обстоятельств непреодолимой силы (форс-мажор), включая: действия органов
      государственной власти
      (в т.ч. принятие правовых актов), пожар, наводнение, землетрясение, другие стихийные бедствия, отсутствие
      электроэнергии и/или
      сбои работы компьютерной сети, забастовки, гражданские волнения, беспорядки, любые иные обстоятельства, не
      ограничиваясь перечисленным,
      которые могут повлиять на исполнение Исполнителем Соглашения.
    </p>
    <span class="agreement-subtitle">8. Конфиденциальность и защита персональной информации</span>
    <p>Пользователь - физическое лицо, при регистрации, предоставляет свои персональные данные, в том числе:
      Имя, номер мобильного телефона, адрес электронной почты. Предоставляя свои персональные данные, Пользователь -
      физическое лицо соглашается на их обработку Исполнителем, как с использованием средств автоматизации, так и без
      использования средств автоматизации, в частности сбор, хранение и использование в целях сотрудничества в рамках
      Соглашения,
      передача третьим лицам, действующим по договорам с Исполнителем для исполнения последним обязательств перед
      Пользователем.
      Исполнитель обрабатывает предоставленные персональные данные:для регистрации Пользователя на Сайте;для выполнения
      своих
      обязательств перед Пользователем; для оценки и анализа работы с Пользователем;для рассылки информационных и
      маркетинговых
      материалов, в том числе СМС-рассылок; Исполнитель обязуется не разглашать полученную от Пользователя информацию.
      Не
      считается нарушением обязательств разглашение информации в соответствии с обоснованными и применимыми требованиями
      закона.
      Пользователь обязуется не разглашать информацию, составляющую Коммерческую тайну Исполнителя в случае, если такая
      информация стала доступной Пользователю. Коммерческой тайной по Соглашению признаются сведения производственного,
      технического, экономического, организационного характера.Пользователь самостоятельно несет ответственность за
      предоставление
      достоверных сведений и персональных данных, а также за обновление предоставленных данных в случае каких-либо
      изменений.
      В случае предоставления ложных сведений/недостоверных данных Исполнитель не несет какой-либо ответственности за
      исполнение
      обязательств по Соглашению, а равно перед третьими лицами, персональные данные которых были ошибочно (либо по иным
      основания)
      указаны как личные (персональные) данные при регистрации Пользователя, или были использованы последним в процессе
      и/или
      для оказания услуг (исполнения обязательств) по Соглашению. В случае предъявления к Исполнителю претензий,
      связанных с
      обработкой персональных данных третьих лиц, в связи с предоставлением Пользователем недостоверных сведений и
      персональных данных,
      а равно, в случае возникновения у Исполнителя в этой связи убытков, Пользователь компенсирует эти убытки по
      первому требованию Исполнителя.
    </p>
    <span class="agreement-subtitle">9. Информационная поддержка</span>
    <p>
      Пользователь, посредством регистрации на Сайте выражает письменное согласие принимать от Исполнителя любые
      справочно-информационные материалы, содержащие информацию о новостях, скидках, акциях и иных информационных
      поводах, связанных с Сайтом и Сервисами, а также новостями Партнеров Сайта, в том числе посредством электронной
      почты,
      СМС-сообщений, почтовых отправлений и прочих способов.Пользователь вправе в любой момент отказаться от рассылки
      направив
      соответствующее сообщение через форму обратной связи. Ввиду безвозмездности использования Сервисов,
      предоставляемых
      Пользователю в рамках настоящего Пользовательского соглашения, положения законодательства о защите прав
      потребителей не
      подлежат применению к отношениям между Пользователем и «Makleronline.net».Настоящее Соглашение регулируется и
      толкуется
      в соответствии с законодательством Российской Федерации и является действующим для всех Пользователей Сайта. Все
      вопросы,
      не урегулированные Соглашением, подлежат разрешению в соответствии с законодательством Российской Федерации.
    </p>
    <span class="agreement-subtitle">10. Платежи. Оплата банковской картой онлайн</span>
    <p>
      Платеж производится при помощи банковской карты.
      Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку "Оплата заказа банковской картой". Оплата происходит
      через ПАО СБЕРБАНК с использованием Банковскх карт следующих платежных систем:
    </p>
    <div style="display: flex; width: 100%">
      <div style="width: 25%; align-items: center; justify-content: center">
        <img src="../../../../assets/mastercard.jpg" width="60px" height="30px">
      </div>
      <div style="width: 25%; align-items: center; justify-content: center">
        <img src="../../../../assets/visa.jpg" width="60px" height="30px">
      </div>
      <div style="width: 25%; align-items: center; justify-content: center">
        <img src="../../../../assets/mir.jpg" width="60px" height="30px">
      </div>
      <div style="width: 25%; align-items: center; justify-content: center">
        <img src="../../../../assets/jcb.jpg" width="60px" height="30px">
      </div>
    </div>
    <p> Наши контакты</p>
    <span>По вопросам, касающимся настоящей политики, просьба обращаться по адресу:</span>
    <span>E-MAIL адрес  info@makleronline.net</span>
    <span>Юридическое лицо  ИП Завьялов</span>
    <span>Р/счет 40802810570000017690</span>
    <span>ИНН 7707083893</span>
    <span> БИК 040813608</span>
    <span>Кор.Счет 30101810600000000608</span>
    <span>ПАО Сбербанк</span>
    <span>Г. Хабаровск  Ул. Панфиловцев 17-119</span>
    <span>680000</span>
  </div>
</div>
<div class="right-block" *ngIf="mode == 'addition'">
  <div class="hideMenu" (click)="blockCloseFunc('addition');">
    <div class="barExit1"></div>
    <div class="barExit2"></div>
  </div>
  <div class="agreement-main">
    <span class="agreement-title">Средства и способы оплаты</span>
    <p>
      Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платежный шлюз ПАО СБЕРБАНК. Соединение
      с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола
      шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified
      By Visa, MasterCard SecureCode, MIR Accept, J-Secure для проведения платежа также может потребоваться ввод
      специального пароля.
      Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации
      обеспечивается ПАО СБЕРБАНК. Введенная информация не будет предоставлена третьим лицам за исключением случаев,
      предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом
      соответствии с требованиями платежных систем МИР, Visa Int., MasterCard Europe Sprl, JCB
    </p>
    <p>
      Платеж производится при помощи банковской карты.
      Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку "Оплата заказа банковской картой". Оплата происходит
      через ПАО СБЕРБАНК с использованием Банковскх карт следующих платежных систем:
    </p>
    <div style="display: flex; width: 100%">
      <div style="width: 33.33%; align-items: center; justify-content: center">
        <img src="../../../../assets/mastercard.jpg" width="80px" height="40px">
      </div>
      <div style="width: 33.33%; align-items: center; justify-content: center">
        <img src="../../../../assets/visa.jpg" width="80px" height="40px">
      </div>
      <div style="width: 33.33%; align-items: center; justify-content: center">
        <img src="../../../../assets/mir.jpg" width="80px" height="40px">
      </div>
      <div style="width: 33.33%; align-items: center; justify-content: center">
        <img src="../../../../assets/jcb.jpg" width="80px" height="40px">
      </div>
    </div>
    <span class="agreement-title" style="margin-top: 30px">Возврат денежных средств</span>
    <p>
      Возврат денежных средств осуществляется в случаях, предусмотренных законодательством или договором,
      на основании решения, принятого администрацией интернет-ресурса https://makleronline.net по письменному
      мотивированному требованию пользователя, составленного в свободной форме с обязательным указанием ФИО,
      личного кабинета в системе https://makleronline.net и суммы возврата на электронную почту info.makleronline@yandex.ru
    </p>
  </div>
</div>
