<app-menu></app-menu>
<div class="mainHome">
  <div class="inner-main">
    <div class="picture">
      <div class="title">
        <div class="logoTitle3"><span>НЕДВИЖИМОСТЬ</span><span class="special">БЕЗ КОМИССИИ</span></div>
        <div class="infoText">
          Cервис для аренды недвижимости без комиссии. Проверенные объявления в реальном времени.
        </div>
        <div class="logoTitle2"><span>ZAVRUS PRESENT</span></div>
      </div>
    </div>
    <div class="uselessLineHome">
      <div class="uselessLineMenuObj firstMenuObj">
        ОБЪЕКТЫ БЕЗ КОМИССИИ
      </div>
      <div class="uselessLineMenuObj innerObj">
        ОСТАВИТЬ ЗАЯВКУ
      </div>
      <div class="uselessLineMenuObj innerObj">
        ВЫБРАТЬ РИЭЛТОРА
      </div>
      <div class="uselessLineMenuObj innerObj">
        НАНЯТЬ МЕНЕДЖЕРА
      </div>
      <div class="uselessLineMenuObj innerObj">
        УМНЫЙ МАКЛЕР
      </div>
      <div class="uselessLineMenuObj lastMenuObj">
        ОПУБЛИКОВАТЬ ОБЪЯВЛЕНИЕ
      </div>
    </div>
    <div class="countLine yearBlock" style="justify-content: center">
      <div class="anniversaryYear">5</div>
      <div class="year">ЛЕТ</div>
      <div class="anniversaryDate">
        <div>ЮБИЛЕЙНЫЙ ГОД</div>
        <div>2013 • 2018</div>
      </div>
    </div>
    <!--desktop-->
    <footer class="footer" *ngIf="width > 650">
      <div class="footer-top">
        <div class="social-icons">
          <img src="../../../../assets/facebook1.png">
          <img class="icon" src="../../../../assets/twitter1.png"/>
          <img class="icon" src="../../../../assets/google1.png"/>
          <img class="icon" src="../../../../assets/youtube1.png"/>
          <img class="icon" src="../../../../assets/pinterest1.png"/>
          <img class="icon" src="../../../../assets/instagram1.png"/>
        </div>
        <div class="login-block">
          <div class="button-login">
            ВОЙТИ
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div class="footer-center">
        <div class="contacts">
          <div class="footer-title">НАШИ КОНТАКТЫ</div>
          <div style="display: flex">
            <div class="contacts-left">
              <div>Телефон</div>
              <div>E-mail</div>
              <div>E-mail</div>
              <div>В контакте</div>
              <div>В инстаграме</div>
              <div>В однокласниках</div>
            </div>
            <div class="contacts-right">
              <div> 8-800-000-00-00</div>
              <div>info@makleronline.net</div>
              <div> support@makleronline.net</div>
            </div>
          </div>
        </div>
        <div class="partnership">
          <div class="footer-title">СОТРУДНИЧЕСТВО</div>
          <div class="partnership-list">
            <div>Партнерская программа</div>
            <div>Частным лицам</div>
            <div>Организациям</div>
          </div>
        </div>
        <div class="payMethod">
          <div class="footer-title">ОПЛАТА ИСПОЛЬЗОВАНИЯ САЙТА ПРОИЗВОДИТСЯ</div>
          <div class="methods">
            <img src="../../../../assets/сбер.webp">
            <img src="../../../../assets/яндекс.webp">
            <img src="../../../../assets/киви.webp">
          </div>
          <div class="methods">
            <div>Язык интерфейса</div>
            <div>Русский</div>
            <img src="../../../../assets/rusflag.webp"/>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div style="margin-bottom: 10px;">Пользовательское соглашение</div>
        <div style="margin-bottom: 10px;">Использование сайта, в том числе подача объявлений, означает согласие с пользовательским соглашением.</div>
        <div>© 2013-2018 г.  Makleronline.net  Использование материалов Makleronline.net возможно только с согласия
          правообладателя.</div>
      </div>
    </footer>
    <!--mobile-->
  </div>
</div>
