/*tablet-version*/
.mapButton{
  height: 30px;
  margin: 0 30px;
  width: calc(100vw - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -15px;
  z-index: 999;
}
.drawMap{
  background-color: #252f32;
  color: white;
}
.clearMap{
  background-color: white;
  color: #252f32;
}
.filters-tablet {
  display: flex;
  padding: 0 30px;
  position: relative;
  z-index: 10;
}
.tablet-inner-line {
  width: calc(100vw - 60px);
  margin: 0 30px 5px 30px;
  height: 1px;
  border-bottom: 1px solid #9d8c6c;
}
.innerLeftBlock-filters-tablet{
  flex: 0 0 calc(50% - 30px);
  padding-right: 30px;
  margin: 20px 0;
}
.innerRightBlock-filters-tablet{
  flex: 0 0 calc(50% - 40px);
  padding-left: 40px;
  margin: 20px 0;
}
.tablet-map {
  height: 60vh;
  border: none;
  width: 100vw;
}
.map-inner{
  margin: 0;
  padding: 0;
  border: 0;
  height: 60vh;
}
/*-----*/
.title{
  display: flex;
  justify-content: center;
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 16px;
  font-weight: bold;
}
.plusExt{
  margin: 0 15px;
}
.bar1, .bar2{
  width: 20px;
  height: 2px;
  background-color: #9d8c6c;
  transition: 0.4s;
  border-radius: 2px;
}
.bar2{
  transform: rotate(90deg) translate(-2px,0px);
}
.change .bar2 {
  display: none;
}
.filters-inner{
  padding-top: 30px;
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 12px;
  color: #595959;
  background-color: white;
}

.filters-inner-additional{
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
}
.block{
  height: 60px;
  margin: 25px;
}
.type{
  margin-bottom: 5px;
}
.button{
  -webkit-appearance: none;
  border-radius: 0;
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  outline: none;
  background-color: white;
  border: 1px solid #5e5e5e;
  width: 5vw;
  height: 40px;
  font-size: 11px;
  color: #5e5e5e;
  transition: 0.2s;
}
.add-button{
  font-size: 14px;
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  height: 50px;
  display: flex;
  align-items: center;
  color: #5e5e5e;
  /*border-top: 1px solid #a2a0a0;*/
}
.add-button-title{
  flex-grow: 1;
}
.button.add{
  border-left: none;
}
.button:hover{
  background-color: #dbdbdb;
}
.button.offer, .button.sort, .button.typeOfObject{
  width: 7vw;
}
.button.city{
  width: 20vw;
}
.button-box{
  display: flex;
  flex-direction: column;
  width: auto;
}
.map-box{
  display: flex;
  width: auto;
  font-size: 14px;
}
.button-box p{
  width: 75px;
}
.button-box div{
  height: 50px;
  display: flex;
  align-items: center;
}
.button.clear{
  width: 100%;
  border: none;
  font-size: 12px;
  margin-bottom: 25px;
}
.button.typeOfObject.special{
  width: 170px;
}
.map-text{
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  margin: 0 0 0 20px;
  width: 190px;
}
.additional{
  display: flex;
  justify-content: center;
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 16px;
  color: #5E5E5E;
  margin-bottom: 25px;
}
.additional-block{
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 12px;
  padding: 0 30px;
  display: none;
  flex-direction: column;
  animation:fade ease-in 0.3s;
  transition: .3s;
}
.additional-block.open{
  display: flex;
  -webkit-animation:fade ease-in 0.3s;
  animation:fade ease-in 0.3s;
  transition: .3s;
}
@-webkit-keyframes fade {
  from { transform: scaleY(0); }
  to { transform: scaleY(1); }
}
@keyframes fade {
  from { transform: translate(0, 20%);
    opacity: 0;}
  to { transform: translate(0, 0);
    opacity: 1;}
}
.add-text{
  font-size: 12px;
  width: 350px;
  color: #5E5E5E;
  padding-bottom: 10px;
}
.email{
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  font-family: Cadillac, cursive;
  letter-spacing: 0.05em;
  font-size: 12px;
  background-color: white;
  color: #5E5E5E;
  border: 1px solid #c0c0c0;
  outline: none;
  margin-right: 10px;
  width: 385px;
  height: 40px;
  margin-bottom: 10px;
  text-align: center;
  transition: 0.4s;
}
.news-button{
  -webkit-appearance: none;
  border-radius: 0;
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 12px;
  background-color: white;
  color: #5E5E5E;
  outline: none;
  border: 1px solid #c0c0c0;
  width: 385px;
  height: 40px;
  margin-bottom: 10px;
  transition: 0.4s;
}
.news-button:hover{
  background-color: #202b2f;
  color: white;
}
.realtor{
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 10px;
  color: #989898;
  width: 190px;
  padding-left: 160px;
}
.button.map-button{
  width: 128px;
  margin: 0;
}
@media all and (max-width: 1520px) {
  .button.offer, .button.sort, .button.typeOfObject{
    width: 9vw;
  }
  .button.city{
    width: 26vw;
  }
  .button.clear{
    width: 350px;
  }
  .button{
    width: 7vw;
  }
}
@media all and (max-width: 1200px) {
  .news-button.buy{
    width: 325px;
  }
}
@media all and (max-width: 1050px){
  .button{
    width: 75px;
  }
  .button.city{
    width: 31vw;
    min-width: 300px;
  }
  .button.offer{
    width: 100px;
    padding: 0;
  }
  .button.sort{
    width: 120px;
    padding-left: 3px;
  }
  .button.sort.plus{
    width: 88px;
    padding: 0;
  }
  .button.typeOfObject{
    width: 76px;
    padding: 0;
  }
  .button.typeOfObject.special{
    width: 147px;
  }
  .map-text{
    width: 180px;
  }
  .filters-inner-additional{
    padding-bottom: 60px;
  }
  .button.map{
    width: 110px;
  }
  .add-text{
    width: 260px;
  }
  .email, .news-button{
    width: 31vw;
    min-width: 300px;
  }
  .news-button.buy{
    width: 310px;
  }
  .realtor{
    padding-left: 80px;
  }
}
