div:hover, span:hover, p:hover {
    cursor: default;
}
*{
    font-family: Cadillac, sans-serif;
    letter-spacing: 0.05em;
}
body {
    overflow: hidden;
}

.ymaps-2-1-73-b-cluster-tabs__section, .ymaps-2-1-73-balloon__content {
    max-height: 140px;
}

.ymaps-2-1-73-balloon__layout, .ymaps-2-1-73-balloon {
    max-height: 160px;
}

.listButton {
    width: 40px;
    height: 160px;
    display: flex;
    align-items: center;
    position: fixed;
    margin-left: -40px;
    z-index: 1;
    background-color: white;
    top: calc(50vh - 100px);
    box-shadow: inset #677578a6 -5px 0px 5px -3px;
    /*transition: 0.3s;*/
}

.listButton:hover, .arrowFull:hover, .barArrow1-left:hover, .barArrow2-left:hover {
    cursor: pointer;
}

.listButton1 {
    width: 40px;
    height: 160px;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: -40px;
    z-index: 1;
    background-color: white;
    top: calc(50vh - 160px);
    /*transition: 0.3s;*/
}

.listButton1:hover {
    cursor: pointer;
}

.arrowFull {
    height: 64px;
    width: 40px;
}

.barArrow1-left, .barArrow2-left {
    width: 35px;
    height: 2px;
    border-radius: 5px;
    background-color: #252f32;
    margin: 3px 0;
}

.barArrow1-left {
    transform: rotate(-55deg) translate(-10px, 10px);
}

.barArrow2-left {
    transform: rotate(55deg) translate(32px, 20px);
}

.ymaps-2-1-73-map, .ymaps-glass-pane {
    height: 100% !important;
    width: 100% !important;
}

.planTitle {
    font-size: 24px;
    margin: 40px 0 25px;
}

.planLine {
    width: 150px;
    border-bottom: 2px solid #9d8c6c;
    margin-bottom: 25px;
}

.planText {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 420px;
    height: 150px;
}

.planText span {
    margin-bottom: 5px;
}

.planText.add {
    font-size: 14px;
    padding: 0 20px;
    width: calc(100% - 40px);
    height: auto;
}

.planText.title-add {
    font-size: 14px;
    height: auto;
    margin-bottom: 35px;
    width: auto;
    text-align: center;
}

.planText.title-add span {
    margin: 0;
}

.filters-inner {
    padding-top: 40px;
    font-family: Cadillac, sans-serif;
    letter-spacing: 0.05em;
    font-size: 12px;
    color: #252f32;
    background-color: white;
}

.planButton {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-appearance: none;
    border-radius: 0;
    font-family: Cadillac, sans-serif;
    letter-spacing: .05em;
    font-size: 12px;
    background-color: #202b2f;
    color: #fff;
    outline: 0;
    height: 40px;
    margin-bottom: 10px;
    width: calc(100% - 60px);
    margin-left: 30px;
}

.planButton:hover {
    background-color: #3C4D52;
}

.additionalPlan {
    display: flex;
    flex-direction: column;
    font-family: Cadillac, sans-serif;
    align-items: center;
}

.planText .add-text {
    display: flex;
    margin-bottom: 25px;
}

.item-blur {
    position: relative;
    z-index: 1000;
    font-weight: normal !important;
}

.inner-left {
    display: flex;
    /*overflow-y: scroll;*/
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100vw;
}

.inner-left.close {
    display: none;
}

.main-objects {
    display: flex;
    /*padding-top: 7px;*/
    height: calc(100vh - 60px);
    top: 60px;
    /*width: 100vw;*/
    position: fixed;
    transition: 0.3s;
}

.map {
    display: none;
}

.map.open {
    display: block;
    width: 100vw;
    height: calc(100vh - 70px);
}

.map.full {
    width: 100vw;
    max-width: unset;
}

.map.objs {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
}

.filters {
    background-color: #FAFAFA;
    height: calc(100vh - 190px);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: 0.3s;
    z-index: 5;
    position: fixed;
    right: 0;
    top: 190px;
    font-family: OpenSans, sans-serif;
    width: 487px;
}
.found-items{
    margin-bottom: 5px;
    padding: 0 10px;
}
.found-items > span{
    font-family: OpenSans, sans-serif;
    letter-spacing: 0;
    color: #32323d;
}
.found-items > span:first-child{
    font-size: 12px;
    margin-right: 5px;
}
.found-items > span:last-child{
    font-size: 16px
}
.filters:hover {
    overflow-y: auto;
}

.filters.objs {
    width: 100vw;
    flex-direction: row;
    height: calc(100vh - 125px);
    min-width: unset;
    max-width: unset;
    top: 130px;
}

.objs.inner {
    overflow: hidden;
    width: 69vw;
    min-width: calc(100vw - 585px);
    max-width: calc(100vw - 400px);
}

.filters.add {
    width: 31vw;
    min-width: 400px;
    max-width: 585px;
    box-shadow: none;
    top: 0;
}

.filters.close {
    display: none !important;
}

.active {
    outline: none;
    border: none;
}

.filters-menu-desktop {
    font-family: Cadillac, sans-serif;
    letter-spacing: 0.086em;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    top: 130px;
    height: 60px;
    z-index: 10;
    transition: 0.3s;
    width: 100%;
    background-color: #4b4b4b;
}

.filters-box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    height: calc(100vh - 200px);
    width: 400px;
    transition: 0.3s;
    z-index: 1500;
    left: 100vw;
    overflow-y: auto;
    top: 130px;
}

.filters-box.open {
    left: calc(100vw - 400px);
    box-shadow: #d3d5d6 0 3px 4px 0;
}

.scroll-items {
    display: none;
}

.scroll-items .objs {
    display: flex;
    justify-content: center;
}

.scroll-items.open {
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.scroll-items.open:hover {
    overflow-y: auto;
}

.scroll-items.objs {
    padding-top: 0;
}

.barExit1, .barExit2 {
    width: 21px;
    height: 1px;
    background-color: #8F8F8F;
    margin: 3px 0;
}

.barExit1, .barExitWhite1 {
    transform: rotate(45deg) translate(13px, 6px);
}

.barExit2, .barExitWhite2 {
    transform: rotate(-45deg) translate(-3px, 11px);
}

.hideMenu {
    position: relative;
    right: calc(-100% + 50px);
    top: -10px;
    width: 30px;
    height: 30px;
    transition: .03s;
}

.hideMenu:hover .barExit1, .hideMenu:hover .barExit2 {
    background-color: #252f32;
    cursor: pointer;
}

.barArrow1-left, .barArrow2-left {
    width: 35px;
    height: 2px;
    border-radius: 5px;
    background-color: #252f32;
    margin: 3px 0;
}

.barArrow1-left {
    transform: rotate(-55deg) translate(-10px, 10px);
}

.barArrow2-left {
    transform: rotate(55deg) translate(32px, 20px);
}

.barArrow1-right, .barArrow2-right {
    width: 35px;
    height: 2px;
    border-radius: 5px;
    background-color: #252f32;
    margin: 3px 0;
}

.barArrow1-right {
    transform: rotate(55deg) translate(17px, 10px);
}

.barArrow2-right {
    transform: rotate(-55deg) translate(-35px, 26px);
}

.arrowFull {
    height: 64px;
    width: 40px;
}

.mapTopButtons {
    height: 28px;
    display: flex;
    flex-grow: 1;
}
.mapTopButtons.l{
    margin: 0 0 0 60px;
}
.mapTopButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    font-size: 12px;
    font-family: OpenSans, sans-serif;
    text-transform: capitalize;
    letter-spacing: 0;
    width: 65px;
}

.mapTopButton.right, .mapTopButton.left {
    display: none;
    width: 50%;
}
.mapTopButton.r{
    border-radius: 0 18px 18px 0;
}
.mapTopButton.l{
    border-radius:  18px 0 0 18px;
}
.mapTopButton.right, .mapTopButton.right:hover {
    border-left: none !important;
}

.mapTopButton.right.active:hover {
    border-left: 1px solid #4b4b4b !important;
}

.mapTopButton.left {
    border-right: 1px solid #D3D5D6;
}

.mapTopButton.left.active {
    border-right: 1px solid #4b4b4b !important;
}

.mapTopButton.active {
    background-color: white;
    color: #252f32;
    border: 1px solid #D3D5D6;
}
.mapTopButton.left:hover {
    border-right: 1px solid #4b4b4b !important;
}

.mapTopButton.left.active:hover {
    border-right: 1px solid #D3D5D6 !important;
}

.mapTopButton.disable {
    background-color: #4b4b4b;
    color: #D3D5D6;
    border: 1px solid #D3D5D6;
}

.mapTopButton.disable:hover {
    background-color: white;
    color: #252f32;
    border: 1px solid #D3D5D6;
}

.mapTopButton.open {
    display: flex;
}

.mapTopButton.add {
    border-left: 1px solid #fff;
}

.mapTopButton.add:hover {
    border-left: 1px solid #4b4b4b;
}

.mapTopButton:hover {
    background-color: white;
    color: #252f32;
}

.filter-right-buttons {
    display: flex;
    align-items: center;
    width: auto;
}
.filter-right-buttons > div{
    margin-right: 35px;
}

.offers {
    flex-grow: 1;
}

.fav-button, .list-button, .hide-button {
    display: none;
    width: 30px;
    height: 30px;
    background-size: contain;
    margin: 0 10px 0 50px;
    transition: 0.03s;
    border-radius: 20px;
}
.plus{
    width: 26px;
    height: 26px;
    display: flex;
    margin-right: 10px;
}
.plus > .one, .plus > .two {
    width: 26px;
    min-width: 26px;
    height: 2px;
    background-color: #D3D5D6;
}

.plus > .one {
    transform: rotate(-90deg) translate(-12px, 0px);
}
.plus > .two {
    transform: translate(-26px, 12px);
}
.filters-divider {
    background-color: #848686;
    width: 2px;
    height: 40px;
    margin: 0 0 0 17px;
}

.counter {
    color: #32323D;
    font-family: Stolzl, sans-serif;
    font-size: 30px;
    margin-right: 15px;
}

.count-filters {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    color: #D3D5D6;

    position: relative;
    top: 1px;
}
.count-filters.find{
    font-family: Cadillac, sans-serif;
    letter-spacing: 0.05em;
    color: #32323D;
    font-size: 10px;
}
.filter{
    display: none;
}
.fav, .list, .filter.open{
    display: flex;
}
.fav:hover .fav-button, .list:hover .list-button,.filter:hover .list-button {
    background-color: rgba(146, 146, 145, 0.8);
    cursor: pointer;
}
.fav:hover .count-filters, .list:hover .count-filters, .filter:hover .count-filters{
    color: #f6f6f6;
}

.fav-button.open, .list-button.open {
    display: block;
}
.fav-button.active, .list-button.active {
    background-color: rgba(146, 146, 145, 0.8);
}

.fav-button {
    background-image: url("../../../../assets/fav-button.png");
}

.list-button {
    background-image: url("../../../../assets/list-button.png");
}
.find_icon_block{
    position: relative;
    right: 30px;
}
.find-block{
    display: flex;
    height: 65px;
    min-height: 65px;
    width: calc(100% - 20px);
    position: relative;
    top: 0;
    align-items: center;
    padding:0 10px;
}
.find_icon{
    background-image: url("../../../../assets/лупа.png");
    background-size: contain;
    width: 20px;
    height: 20px;
}
/*.find_icon:before {*/
/*    content: "\E094";*/
/*    font-family: 'Segoe MDL2 Assets', sans-serif;*/
/*    line-height: 30px;*/
/*    color: #3d615b;*/
/*}*/
.input_line{
    height: 28px;
    width: 432px;
    border: 1px solid #D3D5D6;
    color: #252F32;
    font-size: 12px;
    padding-left: 15px;
    background-color: #FAFAFA;
}
.filter-menu-button > div{
    font-family: OpenSans, sans-serif;
    text-transform: uppercase;
    color: #d3d5d6;
}
.filter-menu-button > .line{
    width: 100%;
    border-bottom: 3px solid white;
    margin-top: -3px;
    position: relative;
    top: 4px;
    opacity: 0;
}
.filter-menu-button:hover > div:first-child{
    color: white;
}
.filter-menu-button:hover > .line{
    opacity: 1;
}
.filter-menu-button.active > div:first-child{
    color: white;
}
.filter-menu-button.active > .line{
    opacity: 1;
}
input{
    font-family: OpenSans, sans-serif;
}
input::placeholder{
    color: #72727D;
    font-size: 12px;
    font-style: italic;
    font-family: OpenSans, sans-serif;
}
input:focus, input:active{
    outline: none;
}
@media all and (max-width: 1540px) {
    .inner-left {
        height: unset;
    }

    .map-buttons {
        right: 400px;
    }

    .scroll-items.objs {
        width: calc(100vw - 460px);
    }

}
