div {
    font-family: OpenSans, sans-serif;
    letter-spacing: 0;
}

div:hover, span:hover, p:hover {
    cursor: default;
}

.title1, .title2, .title3 {
    text-transform: uppercase;
}

.title1 {
    font-size: 18px;
}

.title2 {
    font-family: HelveticaBold, sans-serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 28px;
}

.title3 {
    font-size: 10px;
    letter-spacing: 0.7em;
    margin-bottom: 25px;
}

.agreement:hover {
    cursor: pointer;
}

.right-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    font-size: 12px;
    color: #252f32;
    background-color: white;
}

.right-block::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.input-block span {
    font-size: 12px;
    min-width: 100px;
    display: flex;
    align-items: center;
}

.input-block {
    display: flex;
    border-bottom: 1px solid #BDC0C1;
}
.input-block > textarea{
    margin-top: 10px;
    resize: none;
}
.add-photo-block{
    display: flex;
    align-items: flex-end;
}
.add-photo-block > span{
    height: auto;
}
.add-photo{
    width: 60px;
    height: 60px;
    margin-right: 15px;
    background-size: cover;
    background-position: center;
    background-image: url('../../../../assets/social/user.jpg');
}
.input-block.description{
    flex-direction: column;
    height: auto;
    align-items: unset;
}
.input-block input {
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0 0 5px 7px;
    border: none;
    outline: 0;
    width: calc(100% - 7px);
    margin-top: 5px;
    height: 35px;
    font-size: 16px;
    margin-bottom: 5px;
    color: #252f32;
}

.input-block a {
    text-decoration: none;
    color: #252f32;
    margin-top: 10px;
    min-width: 100px;
}

.check-block {
    display: flex;
    margin-bottom: 15px;
}

.check-block .input {
    height: 24px;
    width: 24px;
    min-width: 24px;
    min-height: 24px;
    border: 1px solid #c0c0c0;
    margin-right: 20px;
}

.check-block span {
    font-size: 12px;
    font-style: italic;
    color: #252f32;
    max-width: 85%;
}

.button-next {
    font-size: 12px;
    background-color: #252f32;
    color: white;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 36px;
}

.button-next:hover {
    background-color: #3C4D52;
}

.confirmButton {
    width: fit-content;
    font-size: 12px;
    color: #3B5998;

    margin-top: 25px;
    margin-bottom: 20px;
}

.confirmButton:hover, .button-next:hover {
    cursor: pointer;
}
.confirmButton:hover {
    text-decoration: underline;
}
.recover {
    font-size: 12px;
    color: #3B5998;
    height: 15px;
    text-align: center;
    margin-top: 10px;
}

.recover:hover {
    cursor: default;
    font-weight: bold;
    text-decoration: underline;
}

.registerButtons {
    display: flex;
    margin-bottom: 35px;
    margin-top: 20px;
}

.similar-button {
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #252f32;
    font-size: 18px;
    text-align: center;
}

.similar-button:hover {
    cursor: pointer;
    font-family: OpenSansBold, sans-serif;
    font-weight: bold;
}

.similar-button.active {
    font-family: OpenSansBold, sans-serif;
    font-weight: bold;
}
.advice_title{
    font-family: OpenSansBold, sans-serif;
    border-bottom: 1px solid #BDC0C1;
    padding-bottom: 5px;
}

.barExit1, .barExit2 {
    width: 25px;
    height: 1px;
    background-color: #8F8F8F;
    margin: 3px 0;
}

.barExit1 {
    transform: rotate(45deg) translate(13px, 6px);
}

.barExit2 {
    transform: rotate(-45deg) translate(-3px, 10px);
}

.hideMenu {
    position: relative;
    right: -140px;
    top: -30px;
    width: 30px;
    height: 30px;
    transition: .03s;
    margin-top: 15px;
}

.hideMenu:hover .barExit1 {
    background-color: #252f32;
    height: 2px;
    transform: rotate(45deg) translate(14px, 6px);
}

.hideMenu:hover .barExit2 {
    background-color: #252f32;
    height: 2px;
}

.carousel {
    display: flex;
    transform-origin: 0 0;
    justify-content: center;
    width: 100%;
    height: auto;
    -webkit-animation: fade ease-in 0.3s;
    animation: fade ease-in 0.3s;
}
.carousel ul {
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
}
.advices{
    overflow: hidden;
    min-width: 330px;
    position: relative;
}
.advices ul{
    position: relative;
    left: -330px;
}
.carousel li {
    display: inline-block;
}
.arrow {
    min-width: 50px;
    width: 50px;
    height: 160px;
    padding: 0;
    position: relative;
    z-index: 1;
    top: calc(50% - 80px);
    opacity: 0;
    align-items: center;
    display: flex;
    transition: opacity .1s;
}
.arrow.left{
    width: 70px ;
    margin-right: -50px;
    left: -15px;
}
.arrow.right{
    right: -15px;
}
.arrow:hover{
    cursor: pointer;
}
.carousel:hover > .arrow{
    opacity: 1;
}
.carousel:hover > .arrow{
    visibility: visible;
}
.arrow:focus {
    outline: none;
}

.barArrow1-left, .barArrow2-left, .barArrow1-right, .barArrow2-right{
    width: 40px;
    height: 2px;
    border-radius: 5px;
    background-color: #252f32;
    margin: 3px 0;
}
.barArrow1-left{
    transform: rotate(-60deg) translate(-10px,10px);
}
.barArrow2-left{
    transform: rotate(60deg) translate(39px,19px);
}
.barArrow1-right{
    transform: rotate(60deg) translate(19px,6px);
}
.barArrow2-right{
    transform: rotate(-60deg) translate(-40px,28px);
}
.arrowFull{
    height: 73px;
    width: 50px;
}
.advice{
    padding-top: 10px;
    width: 330px;
}
.exit-panel {
    width: calc(100% - 60px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 30px 25px 30px;
}
.exit-panel span:hover, .exit-panel:hover .exitButton{
    cursor: pointer;
}
.exitButton{
    height: 33px;
    width: 33px;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('../../../../assets/exit.png');
    margin-left: 8px;
}
.advice_arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
}
.advice_arrows > .left, .advice_arrows > .right{
    height: 33px;
    width: 25px;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('../../../../assets/gray_arrow.png');
}
.advice_arrows > .left{
    transform: rotate(90deg);
    margin-right: 50px;
}
.advice_arrows > .right{
    transform: rotate(-90deg);
}
