.rating{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.rating span{
  width: 227px;
  color: #262f32;
}
.rating_block,.rating_block1,.rating_block2,.rating_block3,.rating_block4,.rating_block5,.rating_block6,.rating_block7,.rating_block8 {
  width: 85px;
  height: 15px;
  margin-right: 30px;
}
.rating_block input,.rating_block1 input,.rating_block2 input,
.rating_block3 input,.rating_block4 input,
.rating_block5 input,.rating_block6 input,.rating_block7 input,.rating_block8 input{
  margin-right: 3px;
}
.rating_block input[type="radio"],.rating_block1 input[type="radio"],.rating_block2 input[type="radio"],
.rating_block3 input[type="radio"],.rating_block4 input[type="radio"],
.rating_block5 input[type="radio"],.rating_block6 input[type="radio"],.rating_block7 input[type="radio"],.rating_block8 input[type="radio"]{
  display: none;
}
.label_rating, .label_rating1, .label_rating2, .label_rating3, .label_rating4, .label_rating5, .label_rating6, .label_rating7, .label_rating8 {
  float: right;
  display: block;
  width: 15px;
  height: 15px;
  background: url("../../../../assets/starnew.png") no-repeat 50% 0;
  cursor: pointer;
  margin-right: 2px;
}
.rating_block .label_rating:hover,
.rating_block .label_rating:hover ~ .label_rating,
.rating_block input[type="radio"]:checked ~ .label_rating {
  background-position: 50% -15px;
}
.rating_block1 .label_rating1:hover,
.rating_block1 .label_rating1:hover ~ .label_rating1,
.rating_block1 input[type="radio"]:checked ~ .label_rating1 {
  background-position: 50% -15px;
}
.rating_block2 .label_rating2:hover,
.rating_block2 .label_rating2:hover ~ .label_rating2,
.rating_block2 input[type="radio"]:checked ~ .label_rating2 {
  background-position: 50% -15px;
}
.rating_block3 .label_rating3:hover,
.rating_block3 .label_rating3:hover ~ .label_rating3,
.rating_block3 input[type="radio"]:checked ~ .label_rating3 {
  background-position: 50% -15px;
}
.rating_block4 .label_rating4:hover,
.rating_block4 .label_rating4:hover ~ .label_rating4,
.rating_block4 input[type="radio"]:checked ~ .label_rating4 {
  background-position: 50% -15px;
}
.rating_block5 .label_rating5:hover,
.rating_block5 .label_rating5:hover ~ .label_rating5,
.rating_block5 input[type="radio"]:checked ~ .label_rating5 {
  background-position: 50% -15px;
}
.rating_block6 .label_rating6:hover,
.rating_block6 .label_rating6:hover ~ .label_rating6,
.rating_block6 input[type="radio"]:checked ~ .label_rating6 {
  background-position: 50% -15px;
}
.rating_block7 .label_rating7:hover,
.rating_block7 .label_rating7:hover ~ .label_rating7,
.rating_block7 input[type="radio"]:checked ~ .label_rating7 {
  background-position: 50% -15px;
}
.rating_block8 .label_rating8:hover,
.rating_block8 .label_rating8:hover ~ .label_rating8,
.rating_block8 input[type="radio"]:checked ~ .label_rating8 {
  background-position: 50% -15px;
}
@media all and (max-width: 1200px){
  .rating span{
    width: 195px;
  }
}
@media all and (max-width: 1000px){
  .rating_block,.rating_block1,.rating_block2,.rating_block3,.rating_block4,.rating_block5,.rating_block6,.rating_block7,.rating_block8 {
    margin-right: 10px;
  }
  .label_rating, .label_rating1, .label_rating2, .label_rating3, .label_rating4, .label_rating5, .label_rating6, .label_rating7, .label_rating8 {
    margin-right: 1px;
  }
}
