<!--The content below is only a placeholder and can be replaced.-->
<header class="header">
  <div class="top-logo-block">
    <div class="logo" *ngIf="width > 650">
      <div><span class="logoTitle1">МАКЛЕР</span><span class="logoTitle2">ОНЛАЙН</span></div>
      <div style="line-height: 9px;" *ngIf="width > 650"><span class="logoTitle3">ГРУППА КОМПАНИЙ ZAVRUS</span></div>
    </div>
    <div class="logo" *ngIf="width < 650">
      <div class="companyName">МАКЛЕРОНЛАЙН</div>
    </div>
    <div class="lineh" *ngIf="width > 1050"></div>
    <div class="logo" *ngIf="width > 1050">
      <div style="font-size: 17px">НЕДВИЖИМОСТЬ</div>
      <div style="line-height: 9px; font-size: 11px;margin-top: 4px;">ХАБАРОВСК</div>
    </div>
    <div class="hideMenu" *ngIf="width < 1050" (click)="displayMenu('show')">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>
  <div class="menu" *ngIf="width > 1050">
    <ul>
      <li>
        <div class="ext">
          <a class="menuBlock" href="//makleronline.net/#/t" routerLinkActive="active">ГЛАВНАЯ</a>
        </div>
      </li>
      <li>
        <div class="ext">
          <a class="menuBlock" href="//makleronline.net/#/t/objects/filters"
             routerLinkActive="active">ОБЪЕКТЫ
          </a>
        </div>
      </li>
      <li>
        <div class="ext">
          <a class="menuBlock" (click)="selected($event)">ЗАЯВКИ</a>
        </div>
      </li>
      <li>
        <div class="ext">
          <a class="menuBlock" (click)="selected($event)">СЕРВИС</a>
        </div>
      </li>
      <li>
        <div class="ext">
          <a class="menuBlock" (click)="selected($event)" href="//makleronline.net/#/t/pay" routerLinkActive="active">ОПЛАТА</a>
        </div>
      </li>
      <li>
        <div class="ext">
          <a class="menuBlock" (click)="selected($event)" href="//makleronline.net/#/t/login" routerLinkActive="active">ВОЙТИ</a>
        </div>
      </li>
    </ul>
  </div>
</header>
<div class="uselessLine">
  <div class="map-buttons-tablet">
    <div class="map-button-tablet" (click)="selectedMapButtonTab($event)">
      <div class="map-button-word-tablet">КАРТА</div>
    </div>
    <div class="map-button-line-tablet"></div>
    <div class="map-button-tablet" (click)="selectedMapButtonTab($event)">
      <div class="map-button-word-tablet">ПАНОРАМА</div>
    </div>
    <div class="map-button-line-tablet"></div>
    <div class="map-button-tablet" (click)="selectedMapButtonTab($event)">
      <div class="map-button-word-tablet">МАРШРУТЫ</div>
    </div>
  </div>
</div>

<div class="menuMobile" [class.open]="mobileMenuActive">
  <div style="display: flex;margin-bottom: 35px;">
    <div class="logo-mobile">
      <div>MAKLERONLINE</div>
      <div class="logo-mobile-title">ГРУППА КОМПАНИЙ ZAVRUS</div>
    </div>
    <div style="margin-right: 30px;" (click)="displayMenu('hide');">
      <div class="barMenu1"></div>
      <div class="barMenu2"></div>
    </div>
  </div>
  <div class="contact-mobile">
    <img src="../../../../assets/photo.PNG" width="50px" height="50px">
    <div class="user-mobile-menu">
      <div>ИВАНОВ Иван</div>
      <div style="font-size: 10px">ЭКСПЕРТ</div>
    </div>
  </div>
  <div class="line"></div>
  <ul style="padding: 0;">
    <li><a class="mobileBlock" (click)="displayMenu('hide');closeButtons(); homePageOpen(false)"
           href="//makleronline.net/#/t">
      <div class="mobUl">ГЛАВНАЯ</div>
    </a></li>
    <li>
      <div class="mobileBlock" [class.open]="objectMenu" (click)="objectMenu=!objectMenu">
        <div class="mobUl" [class.mobileBlockOpen]="objectMenu">ОБЪЕКТЫ</div>
      </div>
      <ul class="innerUL" *ngIf="objectMenu">
        <li>
          <div style="display: flex">
            <div (click)="closeButtons()">ДОБАВИТЬ ОБЪЕКТ</div>
            <div style="margin-left: 15px">
              <div class="plusBar"></div>
              <div class="plusBar1"></div>
            </div>
          </div>
        </li>
        <li>
          <div style="display: flex">
            <div style="flex-grow: 1" (click)="displayMenu('hide');closeButtons();homePageOpen(true)">
              <a class="innerMenu" href="//makleronline.net/#/t/objects/filters">ПОИСК ОБЪЕКТОВ</a></div>
            <div style="margin: 0 30px;">10</div>
          </div>
        </li>
        <li>
          <div style="display: flex">
            <div (click)="displayMenu('hide');closeButtons()" style="flex-grow: 1"><a>ПРОСМОТРЕННЫЕ ЗА СЕГОДНЯ</a></div>
            <div style="margin: 0 30px;">10</div>
          </div>
        </li>
        <li>
          <div style="display: flex">
            <div (click)="displayMenu('hide');closeButtons()" style="flex-grow: 1"><a>ПРОСМОТРЕННЫЕ ЗА 3 ДНЯ</a></div>
            <div style="margin: 0 30px;">10</div>
          </div>
        </li>
        <li>
          <div style="display: flex">
            <div (click)="displayMenu('hide');closeButtons()" style="flex-grow: 1"><a>ВСЕ ПРОСМОТРЕННЫЕ</a></div>
            <div style="margin: 0 30px;">10</div>
          </div>
        </li>
        <li>
          <div style="display: flex">
            <div (click)="displayMenu('hide');closeButtons()" style="flex-grow: 1"><a>ИЗБРАННЫЕ</a></div>
            <div style="margin: 0 30px;">10</div>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <div class="mobileBlock" [class.open]="applicationMenu"
           (click)="applicationMenu=!applicationMenu; homePageOpen(true)">
        <div class="mobUl" [class.mobileBlockOpen]="applicationMenu">ЗАЯВКИ</div>
      </div>
      <ul class="innerUL" *ngIf="applicationMenu">
        <li>
          <div style="display: flex">
            <div (click)="displayMenu('hide');closeButtons()">ДОБАВИТЬ ЗАЯВКУ</div>
            <div style="margin-left: 15px">
              <div class="plusBar"></div>
              <div class="plusBar1"></div>
            </div>
          </div>
        </li>
        <li>
          <div style="display: flex">
            <div (click)="displayMenu('hide');closeButtons()" style="flex-grow: 1">ПОИСК ЗАЯВОК</div>
            <div style="margin: 0 30px;">10</div>
          </div>
        </li>
        <li>
          <div style="display: flex">
            <div (click)="displayMenu('hide');closeButtons()" style="flex-grow: 1">ПРОСМОТРЕННЫЕ ЗА СЕГОДНЯ</div>
            <div style="margin: 0 30px;">10</div>
          </div>
        </li>
        <li>
          <div style="display: flex">
            <div (click)="displayMenu('hide');closeButtons()" style="flex-grow: 1">ПРОСМОТРЕННЫЕ ЗА 3 ДНЯ</div>
            <div style="margin: 0 30px;">10</div>
          </div>
        </li>
        <li>
          <div style="display: flex">
            <div (click)="displayMenu('hide');closeButtons()" style="flex-grow: 1">ВСЕ ПРОСМОТРЕННЫЕ</div>
            <div style="margin: 0 30px;">10</div>
          </div>
        </li>
        <li>
          <div style="display: flex">
            <div (click)="displayMenu('hide');closeButtons()" style="flex-grow: 1">ИЗБРАННЫЕ</div>
            <div style="margin: 0 30px;">10</div>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <div class="mobileBlock" (click)="displayMenu('hide');closeButtons(); homePageOpen(true)">
        <div class="mobUl">СЕРВИС</div>
      </div>
    </li>
    <li><a class="mobileBlock" (click)="displayMenu('hide');closeButtons(); homePageOpen(true)"
           href="//makleronline.net/#/t/pay">
      <div class="mobUl">ОПЛАТА</div>
    </a></li>
    <li><a class="mobileBlock" (click)="displayMenu('hide');closeButtons(); homePageOpen(true)"
           href="//makleronline.net/#/t/login">
      <div class="mobUl">ВОЙТИ</div>
    </a></li>
  </ul>
</div>
