body::-webkit-scrollbar { width: 0;height: 0; }
.menuMobile::-webkit-scrollbar { width: 0;height: 0; }
.header{
  width: 100%;
  height: 130px;
  display: flex;
  position: fixed;
  /*margin-bottom: 65px;*/
  left: 0;
  top: 0;
  background-color: white;
  transition: 0.3s;
  z-index: 10;
  box-shadow: #677578 0px 2px 10px 0px;
}
.companyName{
  font-family: Cadillac, sans-serif;
  font-size: 14px;
  color: #252f32;
  color: black;
  letter-spacing: 0.05em;
}
.active{
  outline: none;
}
.arrows{
  display: flex;
  border-left: 1px solid #404040;
  flex: 0 0 32.33%;
}
.arrow.left{
  padding-left: 15px;
}
.arrow.right{
  padding-right: 15px;
}
.arrow.left, .arrow.right{
  width: calc(50% - 15px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lineh{
  margin: 40px 15px 0 15px;
  height: 50px;
  border-left: #404040 1px solid;
  width: 2px;
}
.top-logo-block{
  display: flex;
  flex: 1 0 20%;
  margin-left: 35px;
}
.logo{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}
.menu ul{
  display: flex;
}
.menu.open{
  display: block;
  height: max-content;
  margin: 66px 0 0 0;
  min-height: 100vh;
  padding: 0;
  flex: none;
}
.ext{
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.menuBlock{
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 14px;
  padding: 0 15px;
  color: #4b4b4b;
  height: 119px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  transition: none 0.4s;
}
.menuBlock:hover{
  font-weight: bold;
  border-top: 5px solid rgb(130, 21, 41);
}
.menuBlock:active{
  outline: none;
}
.bar1, .bar2, .bar3{
  width: 25px;
  height: 2px;
  background-color: #252f32;
  margin: 3px 0;
  transition: 0.4s;
}
.menuMobile{
  min-height: calc(100vh - 60px);
  display: none;
  flex-direction: column;
  width: 350px;
  background-color: #252f32;
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 14px;
  color: white;
  position: absolute;
  transition: 0.3s;
}
.menuMobile.open{
  overflow-y: auto;
}
.logo-mobile{
  display: flex;
  flex-direction: column;
  color: #8F8F8F;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.05em;
  font-size: 16px;
  margin-left: 20px;
  flex-grow: 1;
}
.logo-mobile-title{
  font-size: 8px;
}
.contact-mobile{
  display: flex;
  margin-left: 30px;
}
.barMenu1, .barMenu2{
  width: 30px;
  height: 1.5px;
  background-color: #8F8F8F;
  margin: 3px 0;
}
.barMenu1{
  transform: rotate(45deg);
}
.barMenu2{
  transform: rotate(-45deg) translate(3px, -3px);
}
.plusBar, .plusBar1{
  width: 14px;
  height: 2px;
  background-color: #8F8F8F;
  margin: 3px 0;
}
.plusBar1{
  transform: rotate(90deg) translate(-5px,0px);
}
.user-mobile-menu{
  display: flex;
  flex-direction: column;
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 18px;
  margin-left: 20px;
}
.line {
  border-bottom: 1px solid white;
  width: auto;
  margin: 30px;
}
.innerUL{
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  color: #D3D5D6;
  font-size: 12px;
}
.innerUL li{
  padding: 10px 0 10px 60px;
}
.menuMobile ul{
  padding: 0;;
}
.menuMobile li{
  list-style: none;
}
.mobileBlock{
  font-size: 18px;
  width: 220px;
  height: 60px;
  display: flex;
  align-items: center;
  margin-left: 35px;
}
.mobUl{
  padding-bottom: 6px;
}
.mobileBlockOpen{
  padding-bottom: 4px;
  border-bottom: 2px solid white;
}
.menuMobile.open{
  display: block;
  position: fixed;
  height: calc(100vh - 40px);
  left: 0;
  top: 0;
  z-index: 1000;
}
.mobileTopMenu{
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  /*position: fixed;*/
  width: 350px;
  background-color: #4b4b4b;
  display: none;
  color: white;
  right: 0;
  top: 130px;
  z-index: 2;
  height: 65px;
  transition: 0.3s;
}
/*мобильное меню карты*/
.map-buttons-tablet{
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 12px;
  background-color: rgba(38,47,50,0.85);
  color: white;
  display: none;
  align-items: center;
  height: 65px;
  z-index: 8;
  width: 100vw;
  transition: 0.3s;
}
.map-button-line-tablet{
  height: 55px;
  border-left: #262f32 1px solid;
}
.map-button-tablet{
  height: 65px;
  flex: 0 0 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.map-button-tablet:hover{
  background-color: rgba(38,47,50,1);
}
.map-button-tablet:hover > .map-button-word-tablet{
  border-bottom: 1px solid white;
}
.map-button-word-tablet{
  padding-top: 5px;
  height: 20px;
}

/*мобильное верхнее меню*/
.TopMenu-button-line-tablet{
  height: 55px;
}
.TopMenu-button-tablet{
  height: 65px;
  flex: 0 0 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  background-color: #4b4b4b;
  color: #b8b8b8;
}
.TopMenu-button-word-tablet{
  height: 40px;
}
.iconImg{
  background: #b8b8b8;
}
.uselessLine{

  /*margin-bottom: 130px;*/
  height: 65px;
  width: 100%;
  background-color: #4b4b4b;
  display: block;
  position: sticky;
  top: 130px;
  z-index: 8;
  transition: 0.3s;
  box-shadow: #677578 0px 2px 10px 0px;
}
.button1, .button2{
  flex: 0 0 50%;
  display: none;
  align-items: center;
  justify-content: center;
  font-family: Cadillac, sans-serif;
  letter-spacing: 0.05em;
  font-size: 14px;
  transition: 0.4s;
}
.button1.open, .button2.open{
  display: flex;
}
.hideMenu{
  flex: 0 0 10%;
  margin-right: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homePage{
  display: none;
}
.linehr{
  height: 50px;
  margin-top: 7px;
  border-left: #404040 1px solid;
}
.logoTitle1{
  font-size: 21px;
}
.logoTitle2{
  font-size: 13px;
}
.logoTitle3{
  font-size: 10px;
  font-weight: bold;
}
.menu ul{
  list-style: none;
  margin: 0 100px 0 0;
  padding-left: 0;
}
a{
  text-decoration: none;
}
@media all and (min-width: 1050px){
  .button1, .button2, .hideMenu{
    display: none;
  }
  .menuMobile{
    display: none;
  }
  .menuMobile.open{
    display: none;
  }
}
@media all and (max-height: 600px) {
  .menuMobile.open .mobileBlock{
    max-height: 50px;
  }
}
@media all and (max-width: 1300px){
  .menu ul{
    margin: 0;
  }
}
@media all and (max-width: 1050px){
  .uselessLine{
    position: fixed;
  }
  .menuBlock{
    padding: 0 10px;
  }
  .mobileTopMenu{
    display: flex;
    /*border-left: 1px solid #404040;*/
    width: 100%;
  }
  .menu{
    display: none;
    position: absolute;
    margin: 0;
  }
  .menuMobile{
    padding-top: 40px;
  }
  .top-logo-block{
    flex: 1 0 70%;
  }
  .button1, .button2{
    flex: 0 0 33%;
  }
}
@media all and (max-width: 650px){
  .header{
    height: 90px;
  }
  .uselessLine{
    top: 90px;
    height: 55px;
  }
  .mobileTopMenu{
    top: 90px;
    height: 55px;
  }
  .top-logo-block{
    margin-left: 20px;
  }
  .linehr{
    display: none;
  }
  .logo{
    flex-grow: 1;
  }
  .header{
    /*z-index: unset;*/
    margin-bottom: 0;
  }
  .TopMenu-button-tablet{
    height: 55px
    /*flex: 0 0 30%;*/
  }
}
