<!--<app-menu></app-menu>-->
<div class="main right-main close-login">

  <div class="right-block addRight" [class.addRight]="itemOpen">
    <div class="hideMenu" (click)="blockCloseFunc('login');">
      <div class="barExit1"></div>
      <div class="barExit2"></div>
    </div>
    <div class="registerButtons">
      <div class="similar-button" (click)="recover = false;phone1 = '+7';modeButton = false;enterMode('log in')">
          <div style="display: flex; flex-direction: column">
              <span>ВХОД</span>
              <div class="wordLine" [class.active]="!modeButton"></div>
          </div>
      </div>
      <div class="similar-button" style="margin-left: 30px" (click)="recover = false;phone = '+7';modeButton = true;enterMode('register')">
          <div style="display: flex; flex-direction: column">
              <span>РЕГИСТРАЦИЯ</span>
              <div class="wordLine" [class.active]="modeButton"></div>
          </div>
      </div>
    </div>
<div  style="    padding: 0 20px;">
      <div class="input-block font" *ngIf="register">
        <span>Телефон</span>
        <input type="text" [(ngModel)]="phone" [patterns]="customPatterns"  style="margin: 0" mask="10 (000) 000-00-00" (keypress)="checkKey('phone')">
      </div>
    <div class="input-block font" [class.email-register]="register" *ngIf="register">
        <span>E-mail</span>
        <input title="email" [(ngModel)]="login"  placeholder="Введите ваш e-mail" style="margin: 0" required type="text">
      </div>
  <div class="input-block font" [class.email-login]="log_in" *ngIf="log_in">
    <span>Телефон</span>
    <input type="text"  [(ngModel)]="phone1" [patterns]="customPatterns" mask="10 (000) 000-00-00" (keypress)="checkKey('phone1')"  style="margin: 0">
  </div>
  <div class="font" id="res1" style="color: #00695c;margin-top: 20px;height: 25px;" *ngIf="register"></div>
  <div class="confirmButton" *ngIf="register" style="margin-top: 55px" (click)=" enterMode('sendKey'); get_users()">ПОЛУЧИТЬ ПАРОЛЬ ДЛЯ ВХОДА</div>
    <!--<div class="font" id="res">Вам отправлен пароль по SMS и на почтовый адрес.</div>-->
  <div class="input-block font" style="margin-bottom: 0">
    <span>Пароль</span>
    <input title="пароль" placeholder="Введите пароль" (keypress)="checkKey('pass')" [(ngModel)]="pass" style="margin: 0" type="text">

  </div>
    <div *ngIf="log_in" class="font recover" (click)="recover = true;enterMode('sendKey'); get_users();">Забыли пароль</div>
  <div class="font" id="res" style="color: #821529;margin-top: 20px;height: 35px; width: 315px" *ngIf="log_in"></div>

  <!--<div class="confirmButton"   (click)="enterMode('checkAccessKey'); get_users()">Подтвердить код</div>-->

    <!--<div class="result" id="result" *ngIf="result !== ''"></div>-->
      <div class="check-block font" style="margin-top: 40px;" *ngIf="register">
        <div class="input" (click)="check=!check"><img *ngIf="check" src="../../../../assets/check-mark.png" height="20px" width="20px"> </div>
        <span>Регистрируясь на сайте, я согласен с условиями использования и политикой конфиденциальности.</span>
      </div>
      <!--<div class="check-block font" style="    margin-bottom: 0;" *ngIf="register">-->
        <!--<div class="input" (click)="checkNews=!checkNews"><img *ngIf="checkNews" src="../../../../assets/check-mark.png" height="20px" width="20px"> </div>-->
        <!--<span>​ Я даю согласие на подписку на обновления и новостную рассылку.</span>-->
      <!--</div>-->
      <div class="button-next register" style="background-color: #232f32" *ngIf="register && check" (click)="enterMode('checkAccessKey');get_users()">
        <span>ЗАРЕГИСТРИРОВАТЬСЯ</span>
        <div class="arrowBars">
          <div class="arrowBar1"></div>
          <div class="arrowBar2"></div>
        </div>
      </div>
  <div class="button-next non-register" style="background-color: #232f32" *ngIf="register && !check">
    <span>ЗАРЕГИСТРИРОВАТЬСЯ</span>
    <div class="arrowBars">
      <div class="arrowBar1"></div>
      <div class="arrowBar2"></div>
    </div>
  </div>
      <!--<div class="button-next" *ngIf="register && access_code" (click)="enterMode('savePass'); get_users()">ЗАРЕГИСТРИРОВАТЬСЯ</div>-->
      <div class="button-next loginButton" *ngIf="log_in" (click)="enterMode('log in'); get_users()">
        <span>ВОЙТИ</span>
        <div class="arrowBars">
          <div class="arrowBar1"></div>
          <div class="arrowBar2"></div>
        </div>
      </div>
<!--      <div class="button-next loginButton close" (click)="blockCloseFunc('login')">-->
<!--        <span>ПРОДОЛЖИТЬ</span>-->
<!--        <div class="arrowBars">-->
<!--          <div class="arrowBar1"></div>-->
<!--          <div class="arrowBar2"></div>-->
<!--        </div>-->
<!--      </div>-->

  </div>
  </div>
<!--  pass recover block-->
<!--  <div class="right-block recover-class"  *ngIf="recover" [class.addRight]="itemOpen">-->
<!--&lt;!&ndash;      <span class="recover-title">Выберите способ восстановления пароля</span>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="recover-choose-block">&ndash;&gt;-->
<!--&lt;!&ndash;      <input style="flex: 0 0 10%;" type="radio" name="chooseMethod" (click)="emailPass = true; phonePass = false" class="radio" id="emailRadio"/>&ndash;&gt;-->
<!--&lt;!&ndash;      <label class="label" style="flex: 0 0 90%;" for="emailRadio">Восстановить пароль с помощью электронной почты</label>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <input class="recover-input" *ngIf="emailPass" type="text" id="recoverEmail">&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="recover-choose-block">&ndash;&gt;-->
<!--&lt;!&ndash;      <input style="flex: 0 0 10%;" type="radio" name="chooseMethod" (click)="emailPass = false; phonePass = true" class="radio" id="phoneRadio" />&ndash;&gt;-->
<!--&lt;!&ndash;      <label class="label" style="flex: 0 0 90%;" for="phoneRadio">Восстановить пароль с помощью телефона</label>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <input class="recover-input" *ngIf="phonePass" type="text" id="recoverPhone">&ndash;&gt;-->
<!--      <div class="input-block font" [class.email-login]="log_in" *ngIf="log_in">-->
<!--          <span>Телефон</span>-->
<!--          <input type="text"  [(ngModel)]="recoverPhone" [patterns]="customPatterns" mask="10 (000) 000-00-00" (keypress)="checkKey('recoverPhone')"  style="margin: 0">-->
<!--      </div>-->
<!--    <div  class="confirmButton" style="margin: 0 20px;width: calc(100vw - 40px);" (click)="enterMode('recoverPass');get_users();-->
<!--      sendButton = false; saveButton = true">Отправить код</div>-->

<!--    <div style="margin: 30px 0;text-align: center;">-->
<!--      <span>Введите новый код доступа</span>-->
<!--      <input class="recover-input" type="text" id="recoverKey">-->
<!--    </div>-->

<!--      <div   class="confirmButton" style="margin: 0 20px;width: calc(100vw - 40px);" *ngIf="saveButton" (click)="enterMode('savePassRecover');get_users();">Сохранить</div>-->
<!--    <div class="font" id="resRecover" style="margin: 20px 0;"></div>-->
<!--      <div (click)="recover = false; log_in = true">Close</div>-->
<!--  </div>-->
</div>
