<div class="bottom-buttons1" *ngIf="bound_changed && blockMode == 'filters'" (click)="find_map_request();">
    <div class="show-contact-button" style="background-color: #24780A">
        <span>ИСКАТЬ В ЭТОЙ ОБЛАСТИ</span>
    </div>
</div>
<div class="bottom-buttons1" [style.display]="load == true? 'flex' : 'none'">
    <div class="show-contact-button" style="background-color: #24780A">
        <img src="../../../../assets/ajax-loader%20(1).gif" width="30" height="30" style="margin-right: 20px"><span style="height: 15px;">ИДЕТ ПОИСК</span>
    </div>
</div>
<div class="filters-inner">
    <div>
        <div class="filtersBoxes" id="fil-top">
            <div class="add-button" (click)="ymFunc('city-filter-mobile');cityButton = !cityButton">
                <span class="filterButton">НАСЕЛЕННЫЙ ПУНКТ</span>
                <div class="choosen" style="display: none">
                    <span class="choosen-type">Населенный пункт</span>
                    <span class="choosen-option"></span>
                </div>
            </div>
            <div class="additional-block" [class.open]="cityButton">
                <div class="button-box filters-options-box" id="filters-options-box0">
                    <div class="buttonOption" (click)="selectOption(0,0, 'Хабаровск', 'cityButton', '')"><span
                        style="flex-grow: 1">Хабаровск</span><span style="padding-right: 20px">{{khv}}</span></div>
                    <div class="buttonOption" (click)="selectOption(0,1, 'Владивосток', 'cityButton', '');"><span
                        style="flex-grow: 1">Владивосток</span><span style="padding-right: 20px">{{vld}}</span></div>
                    <div class="buttonOption" (click)="selectOption(0,2, 'Комсомольск-на-Амуре', 'cityButton', '')">
                        <span style="flex-grow: 1">Комсомольск-на-Амуре</span><span
                        style="padding-right: 20px">{{kna}}</span></div>
                </div>
            </div>
            <div class="add-button" (click)="ymFunc('rentType-filter-mobile');rentType = !rentType">
                <span class="filterButton">ТИП АРЕНДЫ</span>
                <div class="choosen" style="display: none">
                    <span class="choosen-type">Тип аренды</span>
                    <span class="choosen-option"></span>
                </div>
            </div>
            <div class="additional-block" [class.open]="rentType">
                <div class="button-box filters-options-box" id="filters-options-box7">
                    <div class="buttonOption" (click)="selectOption(7,0, 'short', 'rentType', '')">
                        <span>Краткосрочная</span></div>
                    <div class="buttonOption" (click)="selectOption(7,1, 'long', 'rentType', '');">
                        <span>Долгосрочная</span></div>
                </div>
            </div>
            <div class="add-button" (click)="ymFunc('typeOffer-filter-mobile');offer = !offer">
                <span class="filterButton">ТИП ПРЕДЛОЖЕНИЯ</span>
                <div class="choosen" style="display: none">
                    <span class="choosen-type">Тип предложения</span>
                    <span class="choosen-option"></span>
                </div>
            </div>
            <div class="additional-block" [class.open]="offer">
                <div class="button-box filters-options-box" id="filters-options-box1">
                    <div class="buttonOption" (click)="selectOption(1,0, 'БЕЗ КОМИССИИ', '', '')"><span>Без комиссии</span>
                    </div>
                    <div class="buttonOption" (click)="selectOption(1,1, 'С КОМИССИЕЙ', '', '')"><span>С комиссией</span>
                    </div>
                    <div class="buttonOption" (click)="selectOption(1,2, 'ВСЕ', '', '')"><span>Все</span></div>
                </div>
            </div>
            <div class="add-button" (click)="ymFunc('typeObject-filter-mobile');typeOfObject = !typeOfObject">
                <span class="filterButton">ТИП ОБЪЕКТА</span>
                <div class="choosen" style="display: none">
                    <span class="choosen-type">Тип объекта</span>
                    <span class="choosen-option"></span>
                </div>
            </div>
            <div class="additional-block" [class.open]="typeOfObject">
                <div class="button-box filters-options-box" id="filters-options-box2">
                    <div class="buttonOption" (click)="selectOption(2,0, 'квартира', 'typeOfObject', 'КВАРТИРА')"><span>Квартира</span>
                    </div>
                    <div class="buttonOption" (click)="selectOption(2,1, 'малосемейка', 'typeOfObject','МАЛОСЕМЕЙКА')"><span>Малосемейка</span>
                    </div>
                    <div class="buttonOption" (click)="selectOption(2,2, 'гостинка', 'typeOfObject','ГОСТИНКА')"><span>Гостинка</span>
                    </div>
                    <div class="buttonOption" (click)="selectOption(2,3, 'общежитие', 'typeOfObject','ОБЩЕЖИТИЕ')"><span>Общежитие</span>
                    </div>
                    <div class="buttonOption" (click)="selectOption(2,4, 'комната', 'typeOfObject','КОМНАТА')"><span>Комната</span>
                    </div>
                    <div class="buttonOption"
                         (click)="selectOption(2,5, 'дом', 'typeOfObject', 'ДОМ')"><span>Дом</span>
                    </div>
                    <div class="buttonOption"
                         (click)="selectOption(2,6, 'коттедж', 'typeOfObject', 'КОТТЕДЖ')"><span>Коттедж</span>
                    </div>
                    <div class="buttonOption"
                         (click)="selectOption(2,7, 'дача', 'typeOfObject', 'ДАЧА')"><span>Дача</span>
                    </div>
                </div>
            </div>

            <div class="add-button" (click)="ymFunc('rooms-filter-mobile');countOfRooms = !countOfRooms">
                <span class="filterButton">КОЛИЧЕСТВО КОМНАТ</span>
                <div class="choosen" style="display: none">
                    <span class="choosen-type">Количество комнат</span>
                    <span class="choosen-option"></span>
                </div>
            </div>
            <div class="additional-block" [class.open]="countOfRooms">
                <div class="button-box filters-options-box" id="filters-options-box3">
                    <div class="buttonOption" (click)="selectOption(3,0, '1 комн', 'countOfRooms', '')">
                        <span>1 комн.</span></div>
                    <div class="buttonOption" (click)="selectOption(3,1, '2 комн', 'countOfRooms', '')">
                        <span>2 комн.</span></div>
                    <div class="buttonOption" (click)="selectOption(3,2, '3 комн', 'countOfRooms', '')">
                        <span>3 комн.</span></div>
                    <div class="buttonOption" (click)="selectOption(3,3, '4 комн', 'countOfRooms', '')">
                        <span>4 комн.</span></div>
                </div>
            </div>
            <div class="add-button" (click)="ymFunc('cost-filter-mobile');cost = !cost">
                <span class="filterButton" *ngIf="!costChosen">СТОИМОСТЬ</span>
                <div class="choosen" *ngIf="costChosen">
                    <span class="choosen-type">Стоимость</span>
                    <span class="choosen-option"></span>
                </div>
            </div>
            <div class="additional-block" [class.open]="cost">
                <div class="button-box filters-options-box" id="filters-options-box4">
                    <input-range [name]="'Стоимость'" [valueMin]="priceMin" [valueMax]="priceMax" [min]="0" [max]="200" [step]="1"
                                 (newValue)="request.ownerPrice = $event.max; priceMin = $event.min; priceMax = $event.max; selectOption(4,0, $event.min, 'cost', '')"></input-range>
                </div>
            </div>
            <div class="add-button" (click)="ymFunc('equipment-filter-mobile');equipment = !equipment">
                <span>КОМПЛЕКТАЦИЯ</span>
                <div class="choosen" style="display: none">
                    <span class="choosen-type">Комплектация</span>
                    <span class="choosen-option"></span>
                </div>
            </div>
            <div class="additional-block" [class.open]="equipment">
                <div class="button-box filters-options-box" id="filters-options-box5">
                    <div class="buttonOption" (click)="selectOption(5,0, 'Укомплектован полностью', 'equipment', '')">
                        <span>Укомплектован полностью</span></div>
                    <div class="buttonOption" (click)="selectOption(5,1, 'Гостиная мебель', 'equipment', '')"><span>Гостиная мебель</span>
                    </div>
                    <div class="buttonOption" (click)="selectOption(5,2, 'Кухонная мебель', 'equipment', '')"><span>Кухонная мебель</span>
                    </div>
                    <div class="buttonOption" (click)="selectOption(5,3, 'Спальная мебель', 'equipment', '')"><span>Спальная мебель</span>
                    </div>
                    <div class="buttonOption" (click)="selectOption(5,4, 'Постельные принадлежности', 'equipment', '')">
                        <span>Постельные принадлежности</span></div>
                    <div class="buttonOption" (click)="selectOption(5,5, 'Посуда', 'equipment', '')"><span>Посуда</span>
                    </div>
                    <div class="buttonOption" (click)="selectOption(5,6, 'Холодильник', 'equipment', '')"><span>Холодильник</span>
                    </div>
                    <div class="buttonOption" (click)="selectOption(5,7, 'Стиральная машина', 'equipment', '')"><span>Стиральная машина</span>
                    </div>
                    <div class="buttonOption" (click)="selectOption(5,8, 'СВЧ-печь', 'equipment', '')">
                        <span>СВЧ-печь</span></div>
                    <div class="buttonOption" (click)="selectOption(5,9, 'Кондиционер', 'equipment', '')"><span>Кондиционер</span>
                    </div>
                    <div class="buttonOption" (click)="selectOption(5,10, 'Посудомоечная машина', 'equipment', '')">
                        <span>Посудомоечная машина</span></div>
                    <div class="buttonOption" (click)="selectOption(5,11, 'Телевизор', 'equipment', '')">
                        <span>Телевизор</span></div>
                </div>
            </div>
            <div class="add-button" (click)="ymFunc('conditions-filter-mobile');conditions = !conditions">
                <span>УСЛОВИЯ НАЙМА</span>
                <div class="choosen" style="display: none">
                    <span class="choosen-type">Условия найма</span>
                    <span class="choosen-option"></span>
                </div>
            </div>
            <div class="additional-block" [class.open]="conditions">
                <div class="button-box filters-options-box" id="filters-options-box6">
                    <div class="buttonOption" (click)="selectOption(6,0, 'Животные', 'conditions', '')">
                        <span>Животные</span></div>
                    <div class="buttonOption" (click)="selectOption(6,1, 'Дети', 'conditions', '')"><span>Дети</span>
                    </div>
                    <div class="buttonOption" (click)="selectOption(6,2, 'Курить', 'conditions', '')">
                        <span>Курить</span></div>
                    <div class="buttonOption" (click)="selectOption(6,3, 'Мероприятия', 'conditions', '')"><span>Мероприятия</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center">
            <div class="brownLine"></div>
        </div>
        <div class="button-box filters-options-box">
            <input type="button" id="fil" class="button clear" value="ОЧИСТИТЬ ФИЛЬТРЫ" (click)="reset()">
        </div>
    </div>
<!--    <span class="title">ОПРЕДЕЛИТЕ ОБЛАСТЬ ПОИСКА</span>-->
    <span class="title map">Двигайте карту для поиска</span>
    <div class="map filters-map open" id="ymapsContainer"></div>
</div>
